<link rel="import" href="../../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../../bower_components/iron-label/iron-label.html">
<link rel="import" href="../../../../../../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../../../../../../bower_components/etools-dialog/etools-dialog.html">
<link rel="import" href="../../../../../../../../../bower_components/etools-datepicker/etools-simple-datepicker.html">
<link rel="import" href="../../../../../../../../../bower_components/etools-behaviors/etools-mixin-factory.html">

<link rel="import" href="../../../../../../../styles/grid-layout-styles.html">
<link rel="import" href="../../../../../../../scripts/lodash.html">
<link rel="import" href="../../../../../../../mixins/ajax-errors-parser-mixin.html">
<link rel="import" href="../../../../../../../config/app-constants.html">
<link rel="import" href="../../../../../../../endpoints/endpoints-mixin.html">
<link rel="import" href="../../../../../../../mixins/event-helper-mixin.html">
<link rel="import" href="../../../../../../../mixins/date-mixin.html">

<dom-module id="add-edit-special-rep-req">
  <template>
    <style include="grid-layout-styles">
      :host {
        display: block
      }

      paper-input {
        width: 100%;
      }

      iron-label {
        margin-bottom: 24px;
      }

    </style>

    <etools-dialog id="addEditDialog"
                   size="lg"
                   opened="{{opened}}"
                   dialog-title="Add/Edit Special Reporting Requirements"
                   on-confirm-btn-clicked="_save"
                   ok-btn-text="Save"
                   keep-dialog-open>
      <div class="row-h">
        <div class="col layout-vertical col-5">
          <iron-label for="startDate">
            Report Due Date
          </iron-label>
          <etools-simple-datepicker id="startDate"
                                    date="[[prepareDatepickerDate(item.due_date)]]"
                                    pretty-date="{{item.due_date}}"
                                    format="YYYY-MM-DD"></etools-simple-datepicker>
        </div>
      </div>
      <div class="row-h">
        <paper-input label="Reporting Requirement"
                     placeholder="&#8212;"
                     value="{{item.description}}">
        </paper-input>
      </div>
    </etools-dialog>

  </template>

  <script>

    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsPmpApp.Mixins.Endpoints
     * @appliesMixin EtoolsPmpApp.Mixins.Constants
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
     * @appliesMixin EtoolsPmpApp.Mixins.Date
     * @appliesMixin EtoolsPmpApp.Mixins.AjaxErrorsParser
     */
    const AddEditSpecialRepReqMixins = EtoolsMixinFactory.combineMixins([
      EtoolsPmpApp.Mixins.Endpoints,
      EtoolsPmpApp.Mixins.Constants,
      EtoolsPmpApp.Mixins.EventHelper,
      EtoolsPmpApp.Mixins.Date,
      EtoolsPmpApp.Mixins.AjaxErrorsParser
    ], Polymer.Element);


    /**
     * @polymer
     * @customElement
     * @appliesMixin AddEditSpecialRepReqMixins
     */
    class AddEditSpecialRepReq extends AddEditSpecialRepReqMixins {

      static get is() {
        return 'add-edit-special-rep-req';
      }

      static get properties() {
        return {
          opened: {
            type: Boolean
          },
          interventionId: {
            type: Number
          },
          item: {
            type: Object
          },
          toastMsgLoadingSource: Object
        };
      }

      _isNew() {
        return !this.item.id;
      }

      _getEndpoint() {
        if (this._isNew()) {
          // new/create
          return this.getEndpoint('specialReportingRequirements', {intervId: this.interventionId});
        } else {
          // already saved... update/delete
          return this.getEndpoint('specialReportingRequirementsUpdate', {reportId: this.item.id});
        }
      }

      _save() {
        let dialog = this.$.addEditDialog;
        dialog.startSpinner();

        let endpoint = this._getEndpoint();
        let method = this._isNew() ? 'POST' : 'PATCH';
        this.sendRequest(
            {
              method: method,
              endpoint: endpoint,
              body: this._getBody()
            })
            .then((response) => {
              this.fireEvent('reporting-requirements-saved', response);
              dialog.stopSpinner();
              this.opened = false;
            })
            .catch((error) => {
              dialog.stopSpinner();
              this.logError('Failed to save/update special report requirement!', 'add-edit-special-rep-req', error);
              this.parseRequestErrorsAndShowAsToastMsgs(error, this.toastMsgLoadingSource);
            });
      }

      _getBody() {
        return {
          due_date: this.item.due_date,
          description: this.item.description
        };
      }

    }

    window.customElements.define(AddEditSpecialRepReq.is, AddEditSpecialRepReq);
  </script>
</dom-module>
