<link rel="import" href="../../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../../../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../../../../../../bower_components/etools-behaviors/etools-mixin-factory.html">
<link rel="import" href="../../../../../../../../../bower_components/etools-data-table/etools-data-table.html">
<link rel="import" href="../../../../../../../../../bower_components/etools-dialog/dynamic-dialog-mixin.html">

<link rel="import" href="../../../../../../../endpoints/endpoints-mixin.html">
<link rel="import" href="../../../../../../../mixins/common-mixin.html">
<link rel="import" href="../../../../../../../redux/etools-data-redux-store.html">

<link rel="import" href="../../../../../../../styles/app-mixins.html">
<link rel="import" href="../../../../../../../styles/buttons-styles.html">
<link rel="import" href="../../../../../../../styles/grid-layout-styles.html">

<link rel="import" href="../../../../../../../layout/components/icons-actions.html">
<link rel="import" href="../../../../../../../mixins/event-helper-mixin.html">
<link rel="import" href="../../../../../../../mixins/ajax-errors-parser-mixin.html">

<link rel="import" href="../mixins/reporting-requirements-common-mixin.html">
<link rel="import" href="../styles/reporting-requirements-lists-styles.html">
<link rel="import" href="add-edit-special-rep-req.html">

<dom-module id="special-reporting-requirements">
  <template>
    <style include="buttons-styles grid-layout-styles data-table-styles reporting-requirements-lists-styles">
    </style>

    <div class="row-h" hidden$="[[!_empty(reportingRequirements, reportingRequirements.length)]]">
      There are no special reporting requirements set.
    </div>

    <div class="row-h">
      <paper-button class="secondary-btn" on-click="_openAddDialog">
        ADD REQUIREMENTS
      </paper-button>
    </div>

    <div class="flex-c" hidden$="[[_empty(reportingRequirements, reportingRequirements.length)]]">
      <etools-data-table-header no-collapse
                                no-title>
        <etools-data-table-column class="col-1 right-align index-col">ID</etools-data-table-column>
        <etools-data-table-column class="col-3">Due Date</etools-data-table-column>
        <etools-data-table-column class="flex-6">Reporting Requirements</etools-data-table-column>
        <etools-data-table-column class="flex-c"></etools-data-table-column>
      </etools-data-table-header>
      <template is="dom-repeat" items="[[reportingRequirements]]">
        <etools-data-table-row no-collapse secondary-bg-on-hover>
          <div slot="row-data">
            <span class="col-data col-1 right-align index-col">[[_getIndex(index, reportingRequirements)]]</span>
            <span class="col-data col-3">[[getDateDisplayValue(item.due_date)]]</span>
            <span class="col-data col-6">[[item.description]]</span>
            <span class="col-data flex-c actions">
              <icons-actions item$="[[item]]"
                             on-edit="_onEdit"
                             on-delete="_onDelete">
              </icons-actions>
            </span>
          </div>
        </etools-data-table-row>
      </template>
    </div>

  </template>

  <script>
    'use strict';

    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsMixins.DynamicDialogMixin
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
     * @appliesMixin EtoolsPmpApp.Mixins.Endpoints
     * @appliesMixin EtoolsPmpApp.Mixins.Common
     * @appliesMixin EtoolsPmpApp.Mixins.ReportingRequirementsCommon
     */
    const SpecialReportingRequirementsMixins = EtoolsMixinFactory.combineMixins([
      EtoolsMixins.DynamicDialogMixin,
      EtoolsPmpApp.Mixins.EventHelper,
      EtoolsPmpApp.Mixins.Endpoints,
      EtoolsPmpApp.Mixins.AjaxErrorsParser,
      EtoolsPmpApp.Mixins.Common,
      EtoolsPmpApp.Mixins.ReportingRequirementsCommon
    ], Polymer.Element);

    /**
     * @customElement
     * @polymer
     * @appliesMixin SpecialReportingRequirementsMixins
     */
    class SpecialReportingRequirements extends SpecialReportingRequirementsMixins {
      static get is() {
        return 'special-reporting-requirements';
      }

      static get properties() {
        return {
          addEditDialog: Object,
          _deleteConfirmationDialog: Object,
          _itemToDeleteIndex: {
            type: Number,
            value: -1
          }
        };
      }

      ready() {
        super.ready();
        this._createAddEditDialog();
        this._createDeleteConfirmationsDialog();
        this._addEventListeners();
      }

      _addEventListeners() {
        this.addEventListener('edit', this._onEdit);
        this.addEventListener('delete', this._onDelete);
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        if (this.addEditDialog) {
          document.querySelector('body').removeChild(this.addEditDialog);
        }
        if (this._deleteConfirmationDialog) {
          document.querySelector('body').removeChild(this._deleteConfirmationDialog);
        }
      }

      _onEdit(e) {
        e.stopPropagation();
        this._setDialogData(e);
        this.addEditDialog.opened = true;
      }

      _setDialogData(e) {
        this.addEditDialog.interventionId = this.interventionId;
        this.addEditDialog.item = JSON.parse(e.target.getAttribute('item'));
      }

      _onDelete(e) {
        e.stopPropagation();
        if (this._deleteConfirmationDialog) {
          let itemToDelete = JSON.parse(e.target.getAttribute('item'));
          let index = this._getIndexById(itemToDelete.id);
          this.set('_itemToDeleteIndex', index);
          this._deleteConfirmationDialog.opened = true;
        }
      }

      _onDeleteConfirmation(e) {
        if (!e.detail.confirmed) {
          this.set('_itemToDeleteIndex', -1);
          return;
        }

        if (this._itemToDeleteIndex > -1) {
          let itemToDelete = this.reportingRequirements[this._itemToDeleteIndex];
          let endpoint = this.getEndpoint('specialReportingRequirementsUpdate', {reportId: itemToDelete.id});
          this.sendRequest({
            method: 'DELETE',
            endpoint: endpoint
          }).then(() => {
            this.splice('reportingRequirements', this._itemToDeleteIndex, 1);
          }).catch((error) => {
            this.logError('Failed to delete special report requirement!',
                'special-reporting-requirements', error);
            this.parseRequestErrorsAndShowAsToastMsgs(error);
          }).then(() => {
            // delete complete, reset _itemToDeleteIndex
            this.set('_itemToDeleteIndex', -1);
          });
        }


      }

      _createAddEditDialog() {
        this.addEditDialog = document.createElement('add-edit-special-rep-req');
        this.addEditDialog.set('toastMsgLoadingSource', this);
        this.addEditDialog.addEventListener('reporting-requirements-saved',
            this._onSpecialReportingRequirementsSaved.bind(this));

        document.querySelector('body').appendChild(this.addEditDialog);
      }

      _createDeleteConfirmationsDialog() {
        let confirmationMSg = document.createElement('span');
        confirmationMSg.innerText = 'Are you sure you want to delete this Special Reporting Requirement?';
        let confirmationDialogConf = {
          title: 'Delete Special Reporting Requirement',
          size: 'md',
          okBtnText: 'Yes',
          cancelBtnText: 'No',
          closeCallback: this._onDeleteConfirmation.bind(this),
          content: confirmationMSg
        };
        this._deleteConfirmationDialog = this.createDynamicDialog(confirmationDialogConf);
      }

      _openAddDialog() {
        this.addEditDialog.item = {};
        this.addEditDialog.interventionId = this.interventionId;
        this.addEditDialog.opened = true;
      }

      _sortRequirementsAsc() {
        this.reportingRequirements.sort((a, b) => {
          return new Date(a.due_date) - new Date(b.due_date);
        });
      }

      _getReportType() {
        return this.CONSTANTS.REQUIREMENTS_REPORT_TYPE.SPECIAL;
      }

      _getIndexById(id) {
        return this.reportingRequirements.findIndex(r => r.id === id);
      }

      _onSpecialReportingRequirementsSaved(e) {
        let savedReqItem = e.detail;
        let index = this._getIndexById(savedReqItem.id);
        if (index > -1) {
          // edit
          this.splice('reportingRequirements', index, 1, savedReqItem);
        } else {
          this.push('reportingRequirements', savedReqItem);
        }
      }

    }

    window.customElements.define(SpecialReportingRequirements.is, SpecialReportingRequirements);
  </script>
</dom-module>
