<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../../../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../../../../bower_components/etools-dropdown/etools-dropdown.html">
<link rel="import" href="../../../../../../../bower_components/etools-behaviors/etools-mixin-factory.html">
<link rel="import" href="../../../../../../../bower_components/etools-upload/etools-upload.html">
<link rel="import" href="../../../../../../../bower_components/etools-content-panel/etools-content-panel.html">
<link rel="import" href="../../../../../../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../../../../../../bower_components/etools-data-table/etools-data-table.html">

<link rel="import" href="../../../../../layout/components/etools-date-input.html">
<link rel="import" href="../../../../../endpoints/endpoints.html">
<link rel="import" href="../../../../../mixins/uploads-mixin.html">
<link rel="import" href="../../../../../mixins/common-mixin.html">

<link rel="import" href="../../../../../styles/app-mixins.html">
<link rel="import" href="../../../../../styles/grid-layout-styles.html">
<link rel="import" href="../../../../../styles/shared-styles.html">
<link rel="import" href="../../../../../styles/etools-cp-header-actions-bar-styles.html">
<link rel="import" href="../../../../../validators/required-and-not-future-date-validator.html">
<link rel="import" href="../../../../../layout/components/icons-actions.html">
<link rel="import" href="assessment-dialog.html">

<dom-module id="assessments-items">
  <template strip-whitespace>
    <style
        include="data-table-styles grid-layout-styles shared-styles buttons-styles etools-cp-header-actions-bar-styles">
      [hidden] {
        display: none !important;
      }

      :host {
        display: block;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      .assessments {
        padding-bottom: 24px;
        @apply --layout-vertical-reverse;
      }

      .add-btn-wrapper {
        padding-top: 24px;
      }

      .add-btn-lm {
        margin-left: 46px;
      }


      .no-assessments-warning {
        padding-top: 0;
      }

      iron-icon {
        color: var(--dark-icon-color);
      }

      icons-actions {
        visibility: hidden;
      }

      etools-data-table-row:hover icons-actions {
        visibility: visible;
      }

    </style>

    <etools-content-panel
        panel-title="Other Assessments ([[dataItems.length]])"
        class="content-section">

      <div slot="panel-btns" class="cp-header-actions-bar">
        <paper-toggle-button id="showArchived"
                              checked="{{showArchived}}">
          Show archived
        </paper-toggle-button>
        <div class="separator" hidden$="[[!editMode]]">
        </div>
        <paper-icon-button icon="add-box"
                            disabled="[[!editMode]]"
                            hidden$="[[!editMode]]"
                            title="Add other assessment"
                            on-tap="_openAddAssessmentDialog">
        </paper-icon-button>
      </div>

      <div
          hidden$="[[_emptyList(dataItems.length)]]">

        <etools-data-table-header no-collapse no-title>
          <etools-data-table-column class="col-3">
            Assessment Type
          </etools-data-table-column>
          <etools-data-table-column class="col-2">
            Date of Assessment
          </etools-data-table-column>
          <etools-data-table-column class="col-4">
            Report
          </etools-data-table-column>
          <etools-data-table-column class="col-2">
            Archived
          </etools-data-table-column>
          <etools-data-table-column class="flex-c">
            <!-- Actions -->
          </etools-data-table-column>
        </etools-data-table-header>


        <template is="dom-repeat" items="{{dataItems}}">
            <etools-data-table-row secondary-bg-on-hover no-collapse hidden$="[[!_isVisible(item.archived, showArchived)]]">
                <div slot="row-data">
                  <span class="col-data col-3">
                    [[item.type]]
                  </span>
                  <span class="col-data col-2">
                    [[prettyDate(item.created)]]
                  </span>
                  <span class="col-data col-4">
                    <iron-icon icon="attachment" class="attachment"></iron-icon>
                    <span class="break-word file-label">
                      <!-- target="_blank" is there for IE -->
                      <a href$="[[item.attachment_document]]" target="_blank" download>
                        [[getFileNameFromURL(item.report_attachment)]]
                      </a>
                    </span>
                  </span>
                  <span class="col-data col-2">
                    <span hidden$="[[!item.active]]" class="placeholder-style">&#8212;</span>
                    <iron-icon icon="check" hidden$="[[item.active]]"></iron-icon>
                  </span>
                  <span class="col-data flex-c p-relative">
                    <icons-actions item-id$="[[item.id]]"
                                   hidden$="[[!editMode]]"
                                   on-edit="_editAssessment"
                                   show-delete="[[showDelete]]">
                    </icons-actions>
                  </span>
                </div>
              </etools-data-table-row>

        </template>
      </div>

      <div class="row-h no-assessments-warning" hidden$="[[!_emptyList(dataItems.length)]]">
        <p>There are no assessments added.</p>
      </div>

    </etools-content-panel>

  </template>

  <script>
    'use strict';
    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
     * @appliesMixin EtoolsPmpApp.Mixins.Uploads
     * @appliesMixin   EtoolsPmpApp.Mixins.Common
     */
    const AssessmentsItemsRequiredMixins = EtoolsMixinFactory.combineMixins([
      EtoolsPmpApp.Mixins.EventHelper,
      EtoolsPmpApp.Mixins.Uploads,
      EtoolsPmpApp.Mixins.Common
    ], Polymer.Element);

    /**
     *
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     * @appliesMixin AssessmentsItemsRequiredMixins
     */
    class AssessmentsItems extends AssessmentsItemsRequiredMixins {

      static get is() {
        return 'assessments-items';
      }

      static get properties() {
        return {
          open: {
            type: Boolean,
            value: true,
            reflectToAttribute: true
          },
          editMode: {
            type: Boolean,
            reflectToAttribute: true,
            observer: '_editModeChanged'
          },
          showArchived: {
            type: Boolean,
            value: false
          },
          assessmentDialog: {
            type: Object
          },
          showDelete: {
            type: Boolean,
            value: false
          }
        };
      }

      ready() {
        super.ready();
        this._createAddAssessmentDialog();
      }

      _createAddAssessmentDialog() {
        this.assessmentDialog = document.createElement('assessment-dialog');
        this.assessmentDialog.setAttribute('id', 'assessmentDialog');
        this.assessmentDialog.toastEventSource = this;

        document.querySelector('body').appendChild(this.assessmentDialog);
      }

      _openAddAssessmentDialog() {
        if (this.assessmentDialog) {
          this.assessmentDialog.initAssessment();
          this.assessmentDialog.opened = true;
        }
      }

      _editAssessment(e) {
        let assessment = this.dataItems
            .find(a => a.id === Number(e.target.getAttribute('item-id')));
        this.assessmentDialog.initAssessment(assessment);
        this.assessmentDialog.opened = true;
      }

      _editModeChanged() {
        this.updateStyles();
      }

      _uploadFinished(e) {
        this.dispatch('decreaseUploadsInProgress');
        if (e.detail.success) {
          const assessmentIndex = Number(e.target.getAttribute('data-args-index'));
          const uploadResponse = JSON.parse(e.detail.success);
          this.set(['dataItems', assessmentIndex, 'report_attachment'], uploadResponse.id);
          this.dispatch('increaseUnsavedUploads');
        }
      }

      _isVisible(archived, showInvalid) {
        return !archived || showInvalid;
      }

      _emptyList(length) {
        return length === 0;
      }

    }

    window.customElements.define(AssessmentsItems.is, AssessmentsItems);
  </script>
</dom-module>

