<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../bower_components/paper-input/paper-input.html">

<link rel="import" href="../../../../../../../../bower_components/etools-behaviors/etools-mixin-factory.html">
<link rel="import" href="../../../../../../../../bower_components/etools-dialog/etools-dialog.html">
<link rel="import" href="../../../../../../../../bower_components/etools-dropdown/etools-dropdown-multi.html">
<link rel="import" href="../../../../../../../../bower_components/etools-upload/etools-upload.html">

<link rel="import" href="../../../../../../mixins/ajax-errors-parser-mixin.html">
<link rel="import" href="../../../../../../mixins/event-helper-mixin.html">
<link rel="import" href="../../../../../../endpoints/endpoints-mixin.html">
<link rel="import" href="../../../../../../mixins/ajax-errors-parser-mixin.html">
<link rel="import" href="../../../../../../redux/etools-data-redux-store.html">
<link rel="import" href="../../../../../../config/app-constants.html">

<link rel="import" href="../../../../../../layout/components/etools-date-input.html">
<link rel="import" href="../../../../../../layout/components/etools-warn-message.html">
<link rel="import" href="../../../../../../validators/required-and-not-future-date-validator.html">

<link rel="import" href="../../../../../../styles/grid-layout-styles.html">
<link rel="import" href="../../../../../../styles/file-styles.html">
<link rel="import" href="../../../../../../styles/buttons-styles.html">
<link rel="import" href="../../../../../../styles/shared-styles.html">
<link rel="import" href="../../../../../../styles/required-field-styles.html">

<dom-module id="add-amendment-dialog">
  <template>
    <style include="grid-layout-styles buttons-styles file-styles shared-styles required-field-starred-styles">

      :host {
        --etools-file-upload-button: {
          /* overrides previus color, possibly from pd-attachements */
          color: var(--etools-file-main-btn-color);
        };
      }

      paper-input#other {
        width: 100%;
      }

      .row-h {
        padding-top: 0;
        padding-bottom: 16px;
        overflow: hidden;
      }
    </style>

    <etools-dialog no-padding
                   keep-dialog-open
                   id="add-amendment"
                   opened="{{opened}}"
                   size="md"
                   hidden$="[[datePickerOpen]]"
                   ok-btn-text="Save"
                   dialog-title="Add Amendment"
                   on-confirm-btn-clicked="_validateAndSaveAmendment">

      <div class="row-h flex-c">
        <required-and-not-future-date-validator validator-name="signedDate_validator"
                                                field-selector="#signed-date">
        </required-and-not-future-date-validator>
        <!-- Signed Date -->
        <etools-date-input id="signed-date"
                           label="Signed date"
                           value="{{newAmendment.signed_date}}"
                           required-and-not-future-date
                           open="{{datePickerOpen}}"
                           validator="signedDate_validator"
                           auto-validate
                           no-init show-clear-btn>
        </etools-date-input>
      </div>
      <div class="row-h flex-c">
        <!-- Amendment Type -->
        <etools-dropdown-multi id="amendment-types"
                               label="Amendment Types"
                               placeholder="&#8212;"
                               options="[[filteredAmendmentTypes]]"
                               selected-values="{{newAmendment.types}}"
                               hide-search
                               required auto-validate
                               error-message="Type is required">
        </etools-dropdown-multi>
      </div>
      <div class="row-h flex-c" hidden$="[[!newAmendment.types.length]]">
        <etools-warn-message message="[[_getSelectedAmendmentTypeWarning(newAmendment.types, newAmendment.types.length)]]">
        </etools-warn-message>
      </div>
      <div class="row-h" hidden$="[[!_showOtherInput(newAmendment.types, newAmendment.types.length)]]">
        <paper-input id="other"
                     placeholder="&#8212;"
                     label="Other"
                     invalid
                     required
                     auto-validate
                     error-message="This is required"
                     value="{{newAmendment.other_description}}">
        </paper-input>
      </div>
      <div class="row-h flex-c">
        <!-- Signed Agreement -->
        <etools-upload id="signed-agreement-upload"
                       label="Signed Amendment"
                       accept=".doc,.docx,.pdf,.jpg,.png"
                       file-url="[[newAmendment.signed_amendment_attachment]]"
                       upload-endpoint="[[uploadEndpoint]]"
                       on-upload-finished="_amendmentUploadFinished"
                       required
                       auto-validate
                       error-message="Attachment required">
        </etools-upload>
      </div>
      <div class="row-h flex-c">
        <etools-upload id="prc-review-upload"
                       label="Internal / PRC Reviews"
                       accept=".doc,.docx,.pdf,.jpg,.png"
                       file-url="[[newAmendment.internal_prc_review]]"
                       upload-endpoint="[[uploadEndpoint]]"
                       on-upload-finished="_prcReviewUploadFinished">
        </etools-upload>
      </div>
    </etools-dialog>

  </template>

  <script>
    'use strict';

    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsPmpApp.Mixins.Endpoints
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
     * @appliesMixin EtoolsPmpApp.Mixins.AjaxErrorsParser
     * @appliesMixin EtoolsPmpApp.Mixins.EtoolsDataReduxStore
     * @appliesMixin EtoolsPmpApp.Mixins.Constants
     */
    const AddAmendmentDialogMixin = EtoolsMixinFactory.combineMixins([
      EtoolsPmpApp.Mixins.Endpoints,
      EtoolsPmpApp.Mixins.EventHelper,
      EtoolsPmpApp.Mixins.AjaxErrorsParser,
      EtoolsPmpApp.Mixins.EtoolsDataReduxStore,
      EtoolsPmpApp.Mixins.Constants
    ], Polymer.Element);

    /**
     * @polymer
     * @customElement
     * @appliesMixin AddAmendmentDialogMixin
     */
    class AddAmendmentDialog extends AddAmendmentDialogMixin {
      static get is() {
        return 'add-amendment-dialog';
      }

      static get properties() {
        return {
          endpointName: {
            type: String,
            value: 'interventionAmendmentAdd'
          },
          toastEventSource: {
            type: Object
          },
          datePickerOpen: {
            type: Boolean,
            value: false
          },
          opened: {
            type: Boolean,
            notify: true,
            observer: '_resetFields'
          },
          interventionId: {
            type: Number
          },
          interventionDocumentType: {
            type: String
          },
          amendmentTypes: {
            type: Object,
            statePath: 'interventionAmendmentTypes'
          },
          filteredAmendmentTypes: {
            type: Object
          },
          newAmendment: {
            type: Object
          },
          newAmendmentModel: {
            type: Object,
            value: {
              'types': [],
              'other_description': null,
              'signed_date': null,
              'signed_amendment_attachment': null,
              'amendment_number': null,
              'internal_prc_review': null
            }
          },
          uploadEndpoint: {
            type: String,
            value: function() {
              return EtoolsPmpApp.Endpoints.attachmentsUpload.url;
            }
          },
          _validationSelectors: {
            type: Array,
            value: ['#amendment-types', '#signed-date', '#signed-agreement-upload', '#other']
          }
        };
      }

      static get observers() {
        return [
          '_filterAmendmentTypes(amendmentTypes, interventionDocumentType)'
        ];
      }

      connectedCallback() {
        super.connectedCallback();
        this.resetAmendment();
      }

      resetAmendment() {
        this.set('newAmendment', JSON.parse(JSON.stringify(this.newAmendmentModel)));
      }

      startSpinner() {
        this.shadowRoot.querySelector('#add-amendment').startSpinner();
      }

      stopSpinner() {
        this.shadowRoot.querySelector('#add-amendment').stopSpinner();
      }

      _filterAmendmentTypes(amendmentTypes, interventionDocumentType) {
        if (!amendmentTypes || !interventionDocumentType) {
          return;
        }
        if (interventionDocumentType === this.CONSTANTS.DOCUMENT_TYPES.SSFA) {
          this.filteredAmendmentTypes = this.amendmentTypes.filter((newAmendment) => {
            return [this.CONSTANTS.PD_AMENDMENT_TYPES.Dates,
                    this.CONSTANTS.PD_AMENDMENT_TYPES.Other].indexOf(newAmendment.label) > -1;
          });
        } else {
          this.filteredAmendmentTypes = JSON.parse(JSON.stringify(this.amendmentTypes));
        }
        const typesDropdw = this.shadowRoot.querySelector('#amendment-types');
        if (typesDropdw) {
          typesDropdw.set('invalid', false); // to fix eager validation
        }
      }

      _showOtherInput() {
        let amdTypes = this.newAmendment.types;
        return amdTypes && amdTypes.indexOf('other') > -1;
      }

      isValidAmendment() {
        let isValid = true;
        this._validationSelectors.forEach((selector) => {
          let el = this.shadowRoot.querySelector(selector);
          if (selector === '#other' && !this._showOtherInput()) {
            return;
          }
          if (el && !el.validate()) {
            isValid = false;
          }
        });
        return isValid;
      }

      _resetFields() {
        this.resetAmendment();
        this._resetAmendmentValidations();
      }

      _resetAmendmentValidations() {
        this._validationSelectors.forEach((selector) => {
          let el = this.shadowRoot.querySelector(selector);
          if (el) {
            el.set('invalid', false);
          }
        });
      }

      _getSelectedAmendmentTypeWarning(types) {
        if (!types || !types.length) {
          return;
        }
        let message = 'Please make sure you update ';
        types.forEach((amdType) => {
          switch (amdType) {
            case 'dates':
              message += 'Dates, ';
              break;
            case 'results':
              message += 'Programme Results, ';
              break;
            case 'budget':
              message += 'Planned Budget, ';
              break;
            case 'other':
              message += 'Other, ';
              break;
          }
        });
        message = message.substring(0, message.length - 2);
        message += ' section' + (message.indexOf(',') > -1 ? 's' : '') + ' of this PD/SSFA';
        return message;
      }

      _validateAndSaveAmendment() {
        if (!this.isValidAmendment()) {
          return;
        }
        this._saveAmendment(this.newAmendment);
      }

      _saveAmendment(newAmendment) {
        if (!newAmendment.internal_prc_review) {
          delete newAmendment.internal_prc_review;
        }
        let options = {
          method: 'POST',
          endpoint: this.getEndpoint(this.endpointName, {intervId: this.interventionId}),
          body: newAmendment
        };
        this.startSpinner();
        this.sendRequest(options)
            .then((resp) => {
              this._handleResponse(resp);
              this.stopSpinner();
            }).catch((error) => {
              this._handleErrorResponse(error);
              this.stopSpinner();
        });
      }

      _handleResponse(response) {
        this.set('opened', false);
        this.fireEvent('amendment-added', response);
      }

      _handleErrorResponse(error) {
        this.parseRequestErrorsAndShowAsToastMsgs(error, this.toastEventSource);
      }

      _amendmentUploadFinished(e) {
        if (e.detail.success) {
          const uploadResponse = JSON.parse(e.detail.success);
          this.set('newAmendment.signed_amendment_attachment', uploadResponse.id);
        }
      }

      _prcReviewUploadFinished(e) {
        if (e.detail.success) {
          const uploadResponse = JSON.parse(e.detail.success);
          this.set('newAmendment.internal_prc_review', uploadResponse.id);
        }
      }
    }

    window.customElements.define(AddAmendmentDialog.is, AddAmendmentDialog);
  </script>
</dom-module>
