<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../../../../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../../../../../bower_components/etools-behaviors/etools-mixin-factory.html">

<link rel="import" href="../../../../../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../../../../../bower_components/etools-content-panel/etools-content-panel.html">
<link rel="import" href="../../../../../../../../bower_components/etools-data-table/etools-data-table.html">

<link rel="import" href="../../../../../../../../bower_components/etools-dialog/dynamic-dialog-mixin.html">
<link rel="import" href="../../../../../../mixins/common-mixin.html">
<link rel="import" href="../../../../../../mixins/event-helper-mixin.html">

<link rel="import" href="../../../../../../amendment-mode/redux-in-amendment-mixin.html">

<link rel="import" href="../../../../../../styles/grid-layout-styles.html">
<link rel="import" href="../../../../../../styles/shared-styles.html">

<link rel="import" href="add-amendment-dialog.html">

<dom-module id="pd-amendments">
  <template strip-whitespace>
    <style include="shared-styles data-table-styles grid-layout-styles">
      [hidden] {
        display: none !important;
      }
      :host {
        display: block;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      .attachment {
        color: var(--dark-icon-color);
        margin-right: 8px;
      }
      .file-label {
        width: calc(100% - 32px);
      }
      /* for IE */
      .other-description {
        display: block;
        width: 100%;
      }
    </style>

    <etools-content-panel panel-title="Amendments">
      <template is="dom-if" if="[[editMode]]">
        <div slot="panel-btns">
          <paper-icon-button icon="add-box"
                            title="Add Amendment"
                            on-tap="_showAddAmendmentDialog">
          </paper-icon-button>
        </div>
      </template>
      <div class="p-relative" id="amendments-wrapper">
        <etools-data-table-header id="listHeader"
                                  no-collapse
                                  no-title
                                  hidden$="[[_emptyList(amendments.length)]]">
          <etools-data-table-column class="col-1">
            Ref #
          </etools-data-table-column>
          <etools-data-table-column class="col-2">
            Signed Date
          </etools-data-table-column>
          <etools-data-table-column class="col-2">
            Amendment Types
          </etools-data-table-column>
          <etools-data-table-column class="col-4">
            Signed Amendment
          </etools-data-table-column>
          <etools-data-table-column class="col-3">
            Other Info
          </etools-data-table-column>
        </etools-data-table-header>

        <template is="dom-repeat" items="[[amendments]]">
          <etools-data-table-row no-collapse>
            <div slot="row-data">
              <span class="col-data col-1">
                [[item.amendment_number]]
              </span>
              <span class="col-data col-2">
                [[prettyDate(item.signed_date)]]
              </span>
              <span class="col-data col-2">
                [[_getReadonlyAmendmentTypes(item.types)]]
              </span>
              <span class="col-data col-4">
                <iron-icon icon="attachment" class="attachment"></iron-icon>
                <span class="break-word file-label">
                  <!-- target="_blank" is there for IE -->
                  <a href$="[[item.signed_amendment_file]]" target="_blank" download>[[getFileNameFromURL(item.signed_amendment_file)]]</a>
                </span>
              </span>
              <div class="col-data col-3 break-word">
                <template is="dom-if" if="[[_showOtherInput(item.types, item.types.length, index)]]">
                  <div class="other-description">
                    [[item.other_description]]
                  </div>
                </template>
              </div>
            </div>
          </etools-data-table-row>
        </template>
        <template is="dom-if" if="[[_emptyList(amendments.length)]]">
          <div class="row-h">
            <p>There are no amendments added.</p>
          </div>
        </template>
      </div>
    </etools-content-panel>
  </template>

  <script>
    'use strict';

    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsPmpApp.Mixins.ReduxInAmendmentMixin
     * @appliesMixin EtoolsMixins.DynamicDialogMixin
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
     * @appliesMixin EtoolsPmpApp.Mixins.Common
     */
    const InterventionAmendmentsMixin = EtoolsMixinFactory.combineMixins([
      EtoolsPmpApp.Mixins.ReduxInAmendmentMixin,
      EtoolsMixins.DynamicDialogMixin,
      EtoolsPmpApp.Mixins.EventHelper,
      EtoolsPmpApp.Mixins.Common
    ], Polymer.Element);

    /**
     * @polymer
     * @customElement
     * @appliesMixin InterventionAmendmentsMixin
     */
    class PdAmendments extends InterventionAmendmentsMixin {
      static get is() {
        return 'pd-amendments';
      }

      static get properties() {
        return {
          amendments: {
            type: Array,
            value: [],
            notify: true
          },
          filteredAmendmentTypes: Object,
          amendmentTypes: {
            type: Object,
            statePath: 'interventionAmendmentTypes'
          },
          interventionDocumentType: {
            type: String
          },
          inAmendment: {
            type: Boolean,
            statePath: 'pageData.in_amendment'
          },
          addAmendmentDialog: {
            type: Object
          },
          editMode: {
            type: Boolean,
            reflectToAttribute: true
          },
          interventionId: {
            type: Number
          }
        };
      }

      static get observers() {
        return [
          '_dataHasChanged(amendments)'
        ];
      }

      ready() {
        super.ready();
        this._createAddAmendmentDialog();
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        if (this.addAmendmentDialog) {
          this.removeDialog(this.addAmendmentDialog);
        }
      }

      _createAddAmendmentDialog() {
        this.addAmendmentDialog = document.createElement('add-amendment-dialog');
        this.addAmendmentDialog.setAttribute('id', 'addAmendmentDialog');
        this.addAmendmentDialog.toastEventSource = this;
        this.addAmendmentDialog.addEventListener('amendment-added', this.newAmendmentAdded.bind(this));
        document.querySelector('body').appendChild(this.addAmendmentDialog);
      }

      _getReadonlyAmendmentTypes(types) {
        if (!types || !types.length) {
          return null;
        }
        let amdTypes = this.amendmentTypes.filter((t) => {
          return types.indexOf(t.value) > -1;
        });
        if (amdTypes.length) {
          let amdTypesLabels = amdTypes.map((t) => {
            return t.label;
          });
          return amdTypesLabels.join(', ');
        }
        return null;
      }

      _showAddAmendmentDialog() {
        if (this.addAmendmentDialog) {
          this.addAmendmentDialog.opened = true;
          this.addAmendmentDialog.interventionId = this.interventionId;
          this.addAmendmentDialog.interventionDocumentType = this.interventionDocumentType;
        }
      }

      newAmendmentAdded(event) {
        event.stopImmediatePropagation();
        let data = event.detail;
        this._unlockInterventionDetailsFields();
        this.push('amendments', data);
        this.updateReduxInAmendment(true);
        this.fireEvent('new-amendment-added');
      }

      _dataHasChanged(amendments) {
        if (amendments instanceof Array === false) {
          this.set('amendments', []);
        }
      }

      _unlockInterventionDetailsFields() {
        if (!this.inAmendment) {
          // we need the new permissions for ammendment mode;
          // after the permissions are updated, the fields will automatically unlock
          this.fireEvent('refresh-intervention-permissions');
        }
      }

      _showOtherInput(selectedAmdTypes, selectedAmdTypesLength) {
        if (!selectedAmdTypes || !selectedAmdTypes.length) {
          return false;
        }
        return selectedAmdTypes.indexOf('other') > -1;
      }

      _emptyList(listLength) {
        return listLength === 0;
      }
    }

    window.customElements.define(PdAmendments.is, PdAmendments);
  </script>
</dom-module>
