<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../bower_components/etools-dialog/etools-dialog.html">
<link rel="import" href="../../../../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../../../../bower_components/etools-upload/etools-upload.html">

<link rel="import" href="../../../../../layout/components/etools-form-element-wrapper.html">
<link rel="import" href="../../../../../mixins/event-helper-mixin.html">
<link rel="import" href="../../../../../endpoints/endpoints.html">
<link rel="import" href="../../../../../mixins/common-mixin.html">
<link rel="import" href="../../../../../mixins/event-helper-mixin.html">
<link rel="import" href="../../../../../styles/required-field-styles.html">
<link rel="import" href="../../../../../styles/grid-layout-styles.html">
<link rel="import" href="../../../../../styles/required-field-styles.html">

<dom-module id="edit-core-values-assessment">
  <template>
    <style include="grid-layout-styles required-field-starred-styles">
      :host {
        display: block
      }
    </style>

    <etools-dialog id="cvaDialog" dialog-title="Upload Core Values Assessment" size="md"
                   ok-btn-text="Save" keep-dialog-open on-confirm-btn-clicked="_saveCoreValueAssessment">
      <div class="layout-horizontal row-padding-v">
        <etools-form-element-wrapper label="Date Last Assessed"
                                     value="[[prettyDate(item.date)]]">
        </etools-form-element-wrapper>
      </div>
      <div class="layout-horizontal row-padding-v">
        <etools-upload id="attachment"
                       label="Core Values Assessment"
                       accept=".doc,.docx,.pdf,.jpg,.png"
                       file-url="[[item.attachment]]"
                       upload-endpoint="[[uploadEndpoint]]"
                       on-upload-finished="_uploadFinished"
                       required
                       error-message="Assessment file is required">
        </etools-upload>
      </div>
    </etools-dialog>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * @appliesMixin EtoolsPmpApp.Mixins.Common
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
     */
    class EditCoreValuesAssessment extends EtoolsPmpApp.Mixins.Common(Polymer.Element) {
      static get is() {
        return 'edit-core-values-assessment';
      }

      static get properties() {
        return {
          item: {
            type: Object
          },
          parent: Object,
          uploadEndpoint: {
            type: String,
            value: function() {
              return EtoolsPmpApp.Endpoints.attachmentsUpload.url;
            }
          }
        };
      }

      open() {
        this.$.cvaDialog.opened = true;
      }

      _saveCoreValueAssessment() {
        if (!this.shadowRoot.querySelector('#attachment').validate()) {
          return;
        }
        this.parent.fireEvent('save-core-values-assessment', this.item);
        this.$.cvaDialog.opened = false;
      }

      _uploadFinished(e) {
        if (e.detail.success) {
          const uploadResponse = JSON.parse(e.detail.success);
          this.set('item.attachment', uploadResponse.id);
        }
      }

    }

    window.customElements.define(EditCoreValuesAssessment.is, EditCoreValuesAssessment);
  </script>
</dom-module>
