<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../../../../bower_components/etools-data-table/etools-data-table.html">
<link rel="import" href="../../../../../../../bower_components/etools-content-panel/etools-content-panel.html">
<link rel="import" href="../../../../../../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../../../../../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../../../../../layout/components/icons-actions.html">
<link rel="import" href="../../../../../mixins/event-helper-mixin.html">

<link rel="import" href="../../../../../styles/app-mixins.html">
<link rel="import" href="../../../../../styles/grid-layout-styles.html">
<link rel="import" href="../../../../../styles/shared-styles.html">
<link rel="import" href="../../../../../mixins/ie11-mixin.html">
<link rel="import" href="add-edit-staff-members.html">

<dom-module id="staff-members">
  <template strip-whitespace>
    <style include="grid-layout-styles shared-styles data-table-styles">
      [hidden] {
        display: none !important;
      }

      :host {
        display: block;
        width: 100%;
      }

      paper-icon-button[disabled] {
        visibility: hidden;
      }

      etools-content-panel {
        margin-top: 24px;
      }

      paper-toggle-button {
        --paper-toggle-button-label-color: white;
        --paper-toggle-button-checked-bar-color: white;
        padding-right: 10px;
        font-size: 16px;
      }

      div[slot="panel-btns"] {
        @apply --layout-horizontal;
      }

      .separator {
        border-left: solid 1px var(--light-secondary-text-color);
        padding-right: 10px;
        margin: 6px 0 6px 10px;
      }

      icons-actions {
        visibility: hidden;
      }

      etools-data-table-row:hover icons-actions {
        visibility: visible;
      }

      iron-icon {
        color: var(--dark-secondary-text-color);
      }
      span.col-data {
        word-break: break-word;
        word-wrap: break-word;
      }
      div.ie span.col-data {
        word-break: break-all;
      }

    </style>

    <etools-content-panel class="content-section" panel-title="Partner Contacts ([[dataItems.length]])"
                          show-expand-btn>
      <div slot="panel-btns">
        <paper-toggle-button id="showInactive"
                checked="{{showInactive}}">
          Show Inactive
        </paper-toggle-button>
        <div class="separator" hidden$="[[!editMode]]">
        </div>
        <paper-icon-button icon="add-box"
              disabled="[[!editMode]]"
              hidden$="[[!editMode]]"
              title="Add"
              on-click="_addPartnerContact">
        </paper-icon-button>
      </div>

      <div hidden$="[[_emptyList(dataItems.length)]]">
        <etools-data-table-header no-collapse no-title>
          <etools-data-table-column class="col-2">
            Position
          </etools-data-table-column>
          <etools-data-table-column class="col-2">
            First Name
          </etools-data-table-column>
          <etools-data-table-column class="col-2">
            Last Name
          </etools-data-table-column>
          <etools-data-table-column class="col-2">
            Phone Number
          </etools-data-table-column>
          <etools-data-table-column class="col-2">
            Email Address
          </etools-data-table-column>
          <etools-data-table-column class="col-2 center-align">
            Active Staff
          </etools-data-table-column>
        </etools-data-table-header>

        <template is="dom-repeat" items="{{dataItems}}">
          <etools-data-table-row secondary-bg-on-hover no-collapse hidden$="[[!_isVisible(item.active, showInactive)]]">
            <div slot="row-data" class$="p-relative [[getIsIEClass()]]">
              <span class="col-data col-2">
                [[_displayValue(item.title)]]
              </span>
              <span class="col-data col-2">
                [[_displayValue(item.first_name)]]
              </span>
              <span class="col-data col-2">
                [[_displayValue(item.last_name)]]
              </span>
              <span class="col-data col-2">
                [[_displayValue(item.phone)]]
              </span>
              <span class="col-data col-2">
                [[_displayValue(item.email)]]
              </span>
              <span class="col-data col-2 center-align">
                <iron-icon icon="check" hidden$="[[!item.active]]"></iron-icon>
              </span>
              <icons-actions item$="[[item]]"
                             hidden$="[[!editMode]]"
                             show-delete="[[showDelete]]"
                             on-edit="_editPartnerContact">
              </icons-actions>
            </div>
          </etools-data-table-row>
        </template>
      </div>

      <div class="row-h" hidden$="[[!_emptyList(dataItems.length)]]">
        <p>There are no staff members added.</p>
      </div>

    </etools-content-panel>

  </template>

  <script>
    'use strict';

    /**
     * @polymer
     * @customElement
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
     * @appliesMixin EtoolsPmpApp.Mixins.IE11
     */
    class StaffMembers extends EtoolsPmpApp.Mixins.EventHelper(EtoolsPmpApp.Mixins.IE11(Polymer.Element)) {

      static get properties() {
        return {
          showInactive: {
            type: Boolean,
            value: false
          },
          addEditDialog: {
            type: Object
          },
          showDelete: {
            type: Boolean,
            value: false
          },
          editMode: {
            type: Boolean
          }
        };
      }

      static get is() {
        return 'staff-members';
      }

      static get observers() {
        return [
          'dataItemsChanged(dataItems, dataItems.*)'
        ];
      }

      ready() {
        super.ready();
        this.dataSetModel = {
          id: null,
          title: null,
          first_name: null,
          last_name: null,
          phone: null,
          email: null,
          active: true
        };
        this._createAddEditDialog();
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        if (this.addEditDialog) {
          document.querySelector('body').removeChild(this.addEditDialog);
        }
      }
      getIsIEClass() {
        return this.isIEBrowser() ? 'ie' : '';
      }
      dataItemsChanged() {
        this._sortInactiveLast();
      }

      _sortInactiveLast() {
        if (!this.dataItems) {
          return;
        }
        this.dataItems.sort((a, b) => {
          return b.active - a.active;
        });
      }

      _createAddEditDialog() {
        this.addEditDialog = document.createElement('add-edit-staff-members');
        this.addEditDialog.addEventListener('save-partner-contact',
            this._savePartnerContact.bind(this));
        document.querySelector('body').appendChild(this.addEditDialog);
      }

      _addPartnerContact() {
        this.addEditDialog.item = JSON.parse(JSON.stringify(this.dataSetModel));
        this.openAddEditDialog();
      }

      _editPartnerContact(e) {
        this.addEditDialog.item = JSON.parse(e.target.getAttribute('item'));
        this.openAddEditDialog();
      }

      openAddEditDialog() {
        this.addEditDialog.dataItems = this.dataItems;
        this.addEditDialog.open();
      }

      _savePartnerContact(e) {
        this.fireEvent('save-partner-contact', e.detail);
      }

      _isVisible(active, showInactive) {
        return active || showInactive;
      }

      _emptyList(length) {
        return length === 0;
      }

      _displayValue(value) {
        return value ? value : '—';
      }

    }

    window.customElements.define(StaffMembers.is, StaffMembers);
  </script>
</dom-module>
