<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../../../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../../../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../../../../../bower_components/etools-data-table/etools-data-table.html">
<link rel="import" href="../../../../../../../bower_components/etools-content-panel/etools-content-panel.html">
<link rel="import" href="../../../../../../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../../../../../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../../../../../mixins/repeatable-data-sets-mixin.html">
<link rel="import" href="../../../../../layout/components/etools-form-element-wrapper.html">
<link rel="import" href="../../../../../layout/components/icons-actions.html">

<link rel="import" href="../../../../../styles/app-mixins.html">
<link rel="import" href="../../../../../styles/grid-layout-styles.html">
<link rel="import" href="../../../../../styles/shared-styles.html">
<link rel="import" href="../../../../../styles/repeatable-data-sets-styles.html">
<link rel="import" href="add-edit-staff-members.html">

<dom-module id="staff-members">
  <template strip-whitespace>
    <style include="grid-layout-styles shared-styles repeatable-data-sets-styles data-table-styles">
      [hidden] {
        display: none !important;
      }

      :host {
        display: block;
        width: 100%;

        --paper-fab-keyboard-focus-background: var(--success-color);
        --paper-fab: {
          @apply --paper-fab-btn-green;
        };
      }

      paper-icon-button[disabled] {
        visibility: hidden;
      }

      etools-content-panel {
        margin-top: 24px;
      }

      paper-toggle-button {
        --paper-toggle-button-label-color: white;
        --paper-toggle-button-checked-bar-color: white;
        padding-right: 10px;
        font-size: 16px;
      }

      div[slot="panel-btns"] {
        @apply --layout-horizontal;
      }

      .separator {
        border-left: solid 1px var(--light-secondary-text-color);
        padding-right: 10px;
        margin: 6px 0 6px 10px;
      }

      icons-actions {
        --icons-actions: {
          background-color: white;
        };
        visibility: hidden;
      }

      etools-data-table-row:hover icons-actions {
        visibility: visible;
      }

    </style>

    <etools-content-panel class="content-section" panel-title="Partner Contacts ([[dataItems.length]])"
                          show-expand-btn>
      <div slot="panel-btns">
        <paper-toggle-button id="showInactive"
                checked="{{showInactive}}">
          Show Inactive
        </paper-toggle-button>
        <div class="separator">
        </div>
        <paper-icon-button icon="add-box"
              title="Add"
              on-click="_addPartnerContact">
        </paper-icon-button>
      </div>


      <!-- <div hidden$="[[_emptyList(dataItems.length)]]">
        <template is="dom-repeat" items="{{dataItems}}">
          <div class="row-h item-container">
            <div class="item-actions-container">
              <div class="actions">
                <paper-icon-button class="action delete"
                                  on-tap="_openDeleteConfirmation"
                                  data-args$="[[index]]"
                                  disabled="[[!_canBeRemoved(item.id)]]"
                                  icon="cancel"></paper-icon-button>
              </div>
            </div>
            <div class="item-content">
              <div class="row-h">
                <div class="col col-4">
                  <paper-input id$="title_[[index]]"
                              label="Position"
                              value="{{item.title}}"
                              placeholder="&#8212;"
                              readonly$="[[!editMode]]"
                              invalid$="[[!_isValid('title', item.title, item.first_name, item.last_name, item.email, item.phone, index)]]"
                              error-message="Position is required">
                  </paper-input>
                </div>
                <div class="col col-4">
                  <paper-input id$="firstName_[[index]]"
                              label="First Name"
                              value="{{item.first_name}}"
                              placeholder="&#8212;"
                              readonly$="[[!editMode]]"
                              invalid$="[[!_isValid('firstName', item.title, item.first_name, item.last_name, item.email, item.phone, index)]]"
                              error-message="First name is required">
                  </paper-input>
                </div>
                <div class="col col-4">
                  <paper-input id$="lastName_[[index]]"
                              label="Last Name"
                              value="{{item.last_name}}"
                              placeholder="&#8212;"
                              readonly$="[[!editMode]]"
                              invalid$="[[!_isValid('lastName', item.title, item.first_name, item.last_name, item.email, item.phone, index)]]"
                              error-message="Last name is required">
                  </paper-input>
                </div>
              </div>
              <div class="row-h">
                <div class="col col-4">
                  <paper-input id$="phone_[[index]]"
                              label="Phone number"
                              value="{{item.phone}}"
                              placeholder="&#8212;"
                              allowed-pattern="[0-9\ \.\+\-\(\)]"
                              readonly$="[[!editMode]]">
                    <iron-icon slot="prefix" icon="communication:phone"></iron-icon>
                  </paper-input>
                </div>
                <div class="col col-4">
                  <paper-input id$="email_[[index]]"
                              label="E-mail address"
                              value="{{item.email}}"
                              placeholder="&#8212;"
                              readonly$="[[!_canBeRemoved(item.id)]]"
                              invalid$="[[!_isValid('emailAddress', item.title, item.first_name, item.last_name, item.email, item.phone, index)]]"
                              error-message="A valid & unused email address is required">
                    <iron-icon slot="prefix" icon="communication:email"></iron-icon>
                  </paper-input>
                </div>
                <div class="col col-4">
                  <etools-form-element-wrapper>
                    <paper-checkbox checked="{{item.active}}"
                                    disabled$="[[!editMode]]">
                      Active?
                    </paper-checkbox>
                  </etools-form-element-wrapper>
                </div>
              </div>

            </div>
          </div>
        </template>
      </div> -->

      <div hidden$="[[_emptyList(dataItems.length)]]">
        <etools-data-table-header no-collapse no-title>
          <etools-data-table-column class="col-2">
            Position
          </etools-data-table-column>
          <etools-data-table-column class="col-2">
            First Name
          </etools-data-table-column>
          <etools-data-table-column class="col-2">
            Last Name
          </etools-data-table-column>
          <etools-data-table-column class="col-2">
            Phone Number
          </etools-data-table-column>
          <etools-data-table-column class="col-3">
            Email Address
          </etools-data-table-column>
          <etools-data-table-column class="col-1">
            Active Staff
          </etools-data-table-column>
        </etools-data-table-header>

        <template is="dom-repeat" items="{{dataItems}}">
          <etools-data-table-row no-collapse hidden$="[[!_isVisible(item.active, showInactive)]]">
            <div slot="row-data" class="p-relative">
              <span class="col-data col-2">
                [[item.title]]
              </span>
              <span class="col-data col-2">
                [[item.first_name]]
              </span>
              <span class="col-data col-2">
                [[item.last_name]]
              </span>
              <span class="col-data col-2">
                [[item.phone]]
              </span>
              <span class="col-data col-3">
                [[item.email]]
              </span>
              <span class="col-data col-1 center-align">
                <iron-icon icon="check" hidden$="[[!item.active]]"></iron-icon>
              </span>
              <icons-actions item$="[[item]]"
                             on-edit="_editPartnerContact"></icons-actions>
            </div>
          </etools-data-table-row>
        </template>
      </div>

      <div class="row-h" hidden$="[[!_emptyList(dataItems.length)]]">
        <p>There are no staff members added.</p>
      </div>

      <div id="bottom-actions" class="row-h" hidden$="[[!editMode]]">
        <paper-fab icon="add"
                  on-tap="_addNewStaffMember"
                  title="Add"></paper-fab>
      </div>
    </etools-content-panel>

  </template>

  <script>
    'use strict';

    /**
     * @polymer
     * @customElement
     * @appliesMixin EtoolsPmpApp.Mixins.RepeatableDataSets
     */
    class StaffMembers extends EtoolsPmpApp.Mixins.RepeatableDataSets(Polymer.Element) {

      static get properties() {
        return {
          showInactive: {
            type: Boolean,
            value: false
          },
          addEditDialog: {
            type: Object
          }
        };
      }

      static get is() {
        return 'staff-members';
      }

      static get observers() {
        return [
          'dataItemsChanged(dataItems, dataItems.*)'
        ];
      }

      ready() {
        super.ready();
        this.dataSetModel = {
          id: null,
          title: null,
          first_name: null,
          last_name: null,
          phone: null,
          email: null,
          active: true
        };
        this._createAddEditDialog();
      }

      dataItemsChanged() {
        this._sortInactiveLast();
      }

      _sortInactiveLast() {
        if (!this.dataItems) {
          return;
        }
        this.dataItems.sort((a,b) => {
          return b.active - a.active;
        })
      }

      _createAddEditDialog() {
        this.addEditDialog = document.createElement('add-edit-staff-members');
        this.addEditDialog.addEventListener('save-partner-contact',
            this._savePartnerContact.bind(this));
        document.querySelector('body').appendChild(this.addEditDialog);
      }

      _addPartnerContact() {
        this.addEditDialog.item = JSON.parse(JSON.stringify(this.dataSetModel));
        this.openAddEditDialog();
      }

      _editPartnerContact(e) {
        this.addEditDialog.item = JSON.parse(e.target.getAttribute('item'));
        this.openAddEditDialog();
      }

      openAddEditDialog() {
        this.addEditDialog.dataItems = this.dataItems;
        this.addEditDialog.open();
      }

      _savePartnerContact(e) {
        this.fireEvent('save-partner-contact', e.detail);
      }

      _isVisible(active, showInactive) {
        return active || showInactive;
      }

      _canBeRemoved(id) {
        if (!this.editMode || id) {
          return false;
        }
        return true;
      }


      _addNewStaffMember() {
        if (this.editMode) {
          let lastStaffMemberAdded = this.dataItems[this.dataItems.length - 1];
          if (this._emptyStaffMemberData(lastStaffMemberAdded)) {
            this.fireEvent('toast', {text: 'Last staff member fields are empty!', showCloseBtn: true});
          } else {
            this._addElement();
          }
        }
      }

    }

    window.customElements.define(StaffMembers.is, StaffMembers);
  </script>
</dom-module>
