<link rel="import" href="../../../../../../bower_components/polymer/polymer-element.html">

<dom-module id="new-partner-dialog">
  <template>
    <style>
      #vendorNo {
        margin-bottom: 30px;
      }
    </style>

    <etools-dialog id="newPartnerDialog" size="md" ok-btn-text="Save" disable-confirm-btn="[[vendorNumberIsEmpty]]"
                   dialog-title="New Partner" on-close="_handleDialogClosed">

      <paper-input id="vendorNo" label="Vendor #" value="{{vendorNumber}}"
                   placeholder="&#8212;" autofocus
                   required auto-validate error-message="Vendor# is required"
                   allowed-pattern="[0-9]"
                   char-counter
                   maxlength="11"></paper-input>

    </etools-dialog>

  </template>
  <script>
    'use strict';

    /**
     * @polymer
     * @customElement
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
     */
    class NewPartnerDialog extends EtoolsPmpApp.Mixins.EventHelper(Polymer.Element) {

      static get is() {
        return 'new-partner-dialog';
      }

      static get properties() {
        return {
          vendorNumber: {
            type: String,
            value: ''
          },
          vendorNumberIsEmpty: {
            type: Boolean,
            computed: '_vendorNumberIsEmpty(vendorNumber)'
          }
        };
      }

      constructor() {
        super();
      }

      _vendorNumberIsEmpty() {
        return !this.vendorNumber;
      }

      _handleDialogClosed(closingReason) {
        if (closingReason.detail.confirmed) {
          if (!this.vendorNumber) {
            return;
          }
          this.fireEvent('create-partner', {vendor: this.vendorNumber});
        } else {
          this.vendorNumber = '';
        }
      }

    }

    window.customElements.define(NewPartnerDialog.is, NewPartnerDialog);
  </script>
</dom-module>
