<link rel="import" href="../../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../../bower_components/iron-label/iron-label.html">
<link rel="import" href="../../../../../../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../../../../../../bower_components/etools-dialog/etools-dialog.html">
<link rel="import" href="../../../../../../../../../bower_components/etools-datepicker/etools-simple-datepicker.html">

<link rel="import" href="../../../../../../../styles/grid-layout-styles.html">
<link rel="import" href="../../../../../../../styles/buttons-styles.html">
<link rel="import" href="qpr-list.html">

<dom-module id="edit-qpr-dialog">
  <template strip-whitespace>
    <style include="grid-layout-styles buttons-styles">
      #qpr-edit-info {
        margin-right: 24px;
      }

      qpr-list {
        margin-top: 24px;
      }

      iron-label {
        margin-bottom: 24px;
      }
    </style>

    <etools-dialog id="editQprDialog"
                   size="lg"
                   dialog-title="Edit Quarterly Progress Reporting Requirements"
                   hidden$="[[addOrModifyQprDialogOpened]]"
                   on-confirm-btn-clicked="_saveModifiedQprData"
                   ok-btn-text="Save"
                   keep-dialog-open
                   spinner-text="[[spinnerText]]">

      <div class="layout-horizontal">
        <span id="qpr-edit-info">All dates in the future can be edited before saving. | Or</span>
        <paper-button class="secondary-btn" on-click="_addNewQpr">
          Add Requirement
        </paper-button>
      </div>

      <qpr-list qpr-data="[[qprData]]" edit-mode></qpr-list>

    </etools-dialog>

    <!-- add or edit a QPR row -->
    <etools-dialog id="addOrModifyQprDialog"
                   size="lg"
                   dialog-title="Edit Standard Quarterly Report Requirements"
                   opened="{{addOrModifyQprDialogOpened}}"
                   no-padding
                   on-confirm-btn-clicked="_saveModifiedQprData"
                   ok-btn-text="Save"
                   keep-dialog-open
                   spinner-text="[[spinnerText]]">

      <div class="row-h">
        <div class="col layout-vertical col-4">
          <iron-label for="startDate">
            Start Date
          </iron-label>
          <etools-simple-datepicker id="startDate"
                                    pretty-date="{{editedQprDatesSet.start_date}}"
                                    format="YYYY-MM-DD"></etools-simple-datepicker>
        </div>
        <div class="col layout-vertical col-4">
          <iron-label for="endDate">
            End Date
          </iron-label>
          <etools-simple-datepicker id="endDate"
                                    pretty-date="{{editedQprDatesSet.end_date}}"
                                    format="YYYY-MM-DD"></etools-simple-datepicker>
        </div>
        <div class="col layout-vertical col-4">
          <iron-label for="dueDate">
            Due Date
          </iron-label>
          <etools-simple-datepicker id="dueDate"
                                    pretty-date="{{editedQprDatesSet.due_date}}"
                                    format="YYYY-MM-DD"></etools-simple-datepicker>
        </div>
      </div>

    </etools-dialog>

  </template>
  <script>
    'use strict';

    /**
     * @polymer
     * @customElement
     */
    class EditQprDialog extends Polymer.Element {

      static get is() {
        return 'edit-qpr-dialog';
      }

      static get properties() {
        return {
          qprData: {
            type: Array,
            value: []
          },
          addOrModifyQprDialogOpened: {
            type: Boolean,
            value: false
          },
          editedQprDatesSet: {
            type: Object,
            value: {
              start_date: null,
              end_date: null,
              due_date: null
            }
          }
        };
      }

      openQprDialog() {
        this.$.editQprDialog.opened = true;
      }

      _addNewQpr() {
        this.set('addOrModifyQprDialogOpened', true);
      }

      _saveModifiedQprData() {

      }

    }

    window.customElements.define(EditQprDialog.is, EditQprDialog);
  </script>
</dom-module>
