<link rel="import" href="../../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../../../../../../../../bower_components/etools-behaviors/etools-mixin-factory.html">

<link rel="import" href="../../../../../../../config/app-constants.html">

<link rel="import" href="../../../../../../../styles/app-mixins.html">
<link rel="import" href="../../../../../../../styles/buttons-styles.html">
<link rel="import" href="../../../../../../../styles/grid-layout-styles.html">

<link rel="import" href="../mixins/generate-quarterly-reporting-requirements-mixin.html">
<link rel="import" href="../mixins/reporting-requirements-common-mixin.html">
<link rel="import" href="edit-qpr-dialog.html">
<link rel="import" href="qpr-list.html">

<dom-module id="quarterly-reporting-requirements">
  <template>
    <style include="buttons-styles grid-layout-styles">
      [hidden] {
        display: none !important;
      }
    </style>

    <div class="flex-c" hidden$="[[_empty(reportingRequirements)]]">
      <qpr-list qpr-data="[[reportingRequirements]]"></qpr-list>
    </div>

    <div hidden$="[[!_empty(reportingRequirements)]]">
      <div class="row-h">
        There are no quarterly reporting requirements set.
      </div>
      <div class="row-h">
        <paper-button class="secondary-btn" on-tap="_openQuarterlyRepRequirementsDialog">
          Add Requirements
        </paper-button>
      </div>
    </div>
  </template>

  <script>
    'use strict';

    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsMixins.DynamicDialogMixin
     * @appliesMixin EtoolsPmpApp.Mixins.Endpoints
     * @appliesMixin EtoolsPmpApp.Mixins.Constants
     * @appliesMixin EtoolsPmpApp.Mixins.Common
     * @appliesMixin EtoolsPmpApp.Mixins.ReportingRequirementsCommon
     * @appliesMixin EtoolsPmpApp.Mixins.GenerateQuarterlyReportingRequirements
     */
    const QuarterlyReportingRequirementsMixins = EtoolsMixinFactory.combineMixins([
      EtoolsPmpApp.Mixins.Constants,
      EtoolsPmpApp.Mixins.ReportingRequirementsCommon,
      EtoolsPmpApp.Mixins.GenerateQuarterlyReportingRequirements
    ], Polymer.Element);

    /**
     * @polymer
     * @customElement
     * @appliesMixin QuarterlyReportingRequirementsMixins
     */
    class QuarterlyReportingRequirements extends QuarterlyReportingRequirementsMixins {
      static get is() {
        return 'quarterly-reporting-requirements';
      }

      static get properties() {
        return {
          interventionStart: String,
          interventionEnd: String,
          editQprDialog: Object
        };
      }

      static get observers() {
        return [

        ];
      }

      ready() {
        super.ready();
        this._createEditQprDialog();
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        if (this.editQprDialog) {
          document.querySelector('body').removeChild(this.editQprDialog);
        }
      }

      _createEditQprDialog() {
        this.editQprDialog = document.createElement('edit-qpr-dialog');
        document.querySelector('body').appendChild(this.editQprDialog);
      }

      _openQuarterlyRepRequirementsDialog() {
        let qprData = [];
        if (this.requirementsCount === 0) {
          qprData = this.generateQPRData(this.interventionStart, this.interventionEnd);
        } else {
          qprData = JSON.parse(JSON.stringify(this.reportingRequirements));
        }
        this.editQprDialog.set('qprData', qprData);
        this.editQprDialog.openQprDialog();
      }

      _getReportType() {
        return this.CONSTANTS.REQUIREMENTS_REPORT_TYPE.QPR;
      }

    }

    window.customElements.define(QuarterlyReportingRequirements.is, QuarterlyReportingRequirements);
  </script>
</dom-module>
