<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../../../bower_components/neon-animation/web-animations.html">

<link rel="import" href="../../../modules/mixins/event-helper-mixin.html">
<link rel="import" href="mixins/app-menu-mixin.html">
<link rel="import" href="styles/nav-menu-styles.html">
<link rel="import" href="../../styles/custom-iconsets/pmp-icons.html">


<link rel="import" href="../../environment-flags/environment-flags-mixin.html">

<dom-module id="app-sidebar-menu">
  <template>
    <style include="nav-menu-styles"></style>

    <div class="menu-header">
      <span id="app-name">
        Partnership <br>
        Management
      </span>

      <span class="ripple-wrapper main">
        <iron-icon id="menu-header-top-icon"
                   icon="pmp-main-icons:partnership-management"
                   on-tap="_toggleSmallMenu"></iron-icon>
        <paper-ripple class="circle" center></paper-ripple>
      </span>

      <paper-tooltip for="menu-header-top-icon" position="right">
        Partnership Management
      </paper-tooltip>

      <span class="ripple-wrapper">
        <iron-icon id="minimize-menu"
                   icon="chevron-left"
                   on-tap="_toggleSmallMenu"></iron-icon>
        <paper-ripple class="circle" center></paper-ripple>
      </span>
    </div>

    <div class="nav-menu">
      <iron-selector selected="[[module]]"
                     attr-for-selected="menu-name"
                     selectable="a"
                     role="navigation">

        <a class="nav-menu-item" menu-name="partners" href$="[[rootPath]]partners/list" on-tap="_firePageChangeLoading">
          <iron-icon id="partners-icon" icon="social:people"></iron-icon>
          <paper-tooltip for="partners-icon" position="right">
            Partners
          </paper-tooltip>
          <div class="name">Partners</div>
        </a>

        <a class="nav-menu-item" menu-name="agreements" href$="[[rootPath]]agreements/list" on-tap="_firePageChangeLoading">
          <iron-icon id="agreements-icon" icon="av:playlist-add-check"></iron-icon>
          <paper-tooltip for="agreements-icon" position="right">
            Agreements
          </paper-tooltip>
          <div class="name">Agreements</div>
        </a>

        <a class="nav-menu-item" menu-name="interventions" href$="[[rootPath]]interventions/list" on-tap="_firePageChangeLoading">
          <iron-icon id="pd-ssfa-icon" icon="description"></iron-icon>
          <paper-tooltip for="pd-ssfa-icon" position="right">
            PD/SSFA
          </paper-tooltip>
          <div class="name">PD/SSFA</div>
        </a>

        <a class="nav-menu-item" menu-name="government-partners" href$="[[rootPath]]government-partners/list" on-tap="_firePageChangeLoading">
          <iron-icon id="gov-icon" icon="account-balance"></iron-icon>
          <paper-tooltip for="gov-icon" position="right">
            Government
          </paper-tooltip>
          <div class="name">Government</div>
        </a>

        <template is="dom-if" if="[[!environmentFlags.prp_mode_off]]" restamp>
          <a class="nav-menu-item" menu-name="reports" href$="[[rootPath]]reports/list" on-tap="_firePageChangeLoading">
            <iron-icon id="reports-icon" icon="assignment"></iron-icon>
            <paper-tooltip for="reports-icon" position="right">
              Reports
            </paper-tooltip>
            <div class="name">Reports</div>
          </a>
        </template>

        <template is="dom-if" if="[[!environmentFlags.prp_mode_off]]" restamp>
          <a class="nav-menu-item" menu-name="settings" href$="[[rootPath]]settings" on-tap="_firePageChangeLoading">
            <iron-icon id="settings-icon" icon="settings"></iron-icon>
            <paper-tooltip for="settings-icon" position="right">
              Settings
            </paper-tooltip>
            <div class="name">Settings</div>
          </a>
        </template>

      </iron-selector>

      <div class="nav-menu-item section-title">
        <span>eTools Community Channels</span>
      </div>

      <a class="nav-menu-item lighter-item" href="https://etools.uservoice.com" target="_blank">
        <iron-icon id="knoledge-icon" icon="maps:local-library"></iron-icon>
        <paper-tooltip for="knoledge-icon" position="right">
          Knowledge base
        </paper-tooltip>
        <div class="name">Knowledge base</div>
      </a>

      <a class="nav-menu-item lighter-item"
         href="https://www.yammer.com/unicef.org/#/threads/inGroup?type=in_group&feedId=5782560"
         target="_blank">
        <iron-icon id="discussion-icon" icon="icons:question-answer"></iron-icon>
        <paper-tooltip for="discussion-icon" position="right">
          Discussion
        </paper-tooltip>
        <div class="name">Discussion</div>
      </a>

      <a class="nav-menu-item lighter-item last-one" href="http://etoolsinfo.unicef.org" target="_blank">
        <iron-icon id="information-icon" icon="icons:info"></iron-icon>
        <paper-tooltip for="information-icon" position="right">
          Information
        </paper-tooltip>
        <div class="name">Information</div>
      </a>

    </div>

  </template>

  <script>
    'use strict';
    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
     * @appliesMixin EtoolsPmpApp.Mixins.EnvironmentFlags
     */
    const AppSidebarMenuMixins = EtoolsMixinFactory.combineMixins([
        EtoolsPmpApp.Mixins.EventHelper,
        EtoolsPmpApp.Mixins.EnvironmentFlags
      ], Polymer.Element);

    /**
     * PMP main menu
     * @polymer
     * @customElement
     * @appliesMixin AppSidebarMenuMixins
     */
    class AppSidebarMenu extends AppSidebarMenuMixins {

      static get is() {
        return 'app-sidebar-menu';
      }

      static get properties() {
        return {
          module: String,
          rootPath: String,
          smallMenu: {
            type: Boolean,
            value: false,
            reflectToAttribute: true,
            observer: '_menuSizeChange'
          }
        };
      }

      _menuSizeChange(newVal, oldVal) {
        if (newVal !== oldVal) {
          setTimeout(() => this.fireEvent('resize-main-layout'));
        }
      }

      _firePageChangeLoading(e) {
        let menuOptionEl = e.currentTarget;
        let partnersModules = ['partners', 'government-partners'];
        let newModuleName = menuOptionEl.getAttribute('menu-name');

        if (partnersModules.indexOf(newModuleName) > -1 && partnersModules.indexOf(this.module) > -1) {
          return;
        }

        if (newModuleName !== this.module) {
          this.fireEvent('global-loading', {
            message: 'Loading...',
            active: true,
            loadingSource: 'main-page'
          });
        }
      }

      _toggleSmallMenu(e) {
        e.stopImmediatePropagation();
        this.fireEvent('toggle-small-menu');
      }

    }

    window.customElements.define(AppSidebarMenu.is, AppSidebarMenu);
  </script>

</dom-module>
