<link rel="import" href="../../../../../bower_components/polymer/lib/utils/debounce.html">
<link rel="import" href="../../../../../bower_components/etools-dialog/dynamic-dialog-mixin.html">
<link rel="import" href="../../../../../bower_components/etools-behaviors/etools-logs-mixin.html">
<link rel="import" href="../../../mixins/scroll-control-mixin.html">

<script>
  window.EtoolsPmpApp = window.EtoolsPmpApp || {};
  window.EtoolsPmpApp.Mixins = window.EtoolsPmpApp.Mixins || {};

  /**
   * Common functionality for etools status element
   * @polymer
   * @mixinFunction
   * @appliesMixin EtoolsMixins.DynamicDialogMixin
   * @appliesMixin EtoolsLogsMixin
   * @appliesMixin EtoolsPmpApp.Mixins.ScrollControl
   */
  EtoolsPmpApp.Mixins.EtoolsStatusCommon = Polymer.dedupingMixin(
      superClass => class extends EtoolsPmpApp.Mixins.ScrollControl(
          EtoolsMixins.DynamicDialogMixin(EtoolsLogsMixin(superClass))) {

        static get properties() {
          return {
            status: {
              type: String,
              value: ''
            },
            newStatus: {
              type: String,
              value: ''
            },
            warningMessage: {
              type: String,
              value: ''
            },
            editMode: {
              type: Boolean,
              value: true
            },
            active: {
              type: Boolean
            },
            minimumDistanceFromWindowTop: {
              type: Number,
              value: 76
            },
            sectionName: String, // PD/SSFA, Partners, Agreements
            possibleStatuses: Array,
            possibleActions: Array,
            warningDialog: Object,
            statusChangeWarningDialogContent: Object,
            deleteConfirmDialog: Object,
            deleteWarningMessage: String
          };
        }

        static get observers() {
          return [
            '_handleStatusChange(status)',
            '_activeFlagChanged(active)'
          ];
        }

        disconnectedCallback() {
          super.disconnectedCallback();
          console.log('pd status disconnected 1... hehe');
          if (this.warningDialog) {
            this.removeDialog(this.warningDialog);
          }
          if (this.deleteConfirmDialog) {
            this.removeDialog(this.deleteConfirmDialog);
          }
          this._resetScrollHandler();
          this._resetResizeHandler();
        }

        _activeFlagChanged(active) {
          if (active) {
            this._statusActiveChangeDebouncer = Polymer.Debouncer.debounce(this._statusActiveChangeDebouncer,
                Polymer.Async.timeOut.after(20),
                () => {
                  this._forceScollPositionRecalculation.bind(this);
                });
          }
        }

        _handleStickyScroll() {
          if (!this.contentContainer) {
            return;
          }

          this._setScrollHandler();
          this._setResizeHandler();
        }

        _setResizeHandler() {
          window.onresize = function() {
            this.updateStyles();
            this._resetScrollHandler();
            this._setScrollHandler();
          }.bind(this);
        }

        _resetResizeHandler() {
          window.onresize = null;
        }

        _forceScollPositionRecalculation() {
          if (this._isStatusHorizontal()) {
            // if the status is horizontal, no need to make it sticky
            this._setNotStickyStyles();
            return;
          }
          this._scrollChangedHandler();
        }

        _setScrollHandler() {
          if (this._isStatusHorizontal()) {
            // if the status is horizontal, no need to make it sticky
            this._setNotStickyStyles();
            return;
          }

          this.contentContainer.onscroll = this._scrollChangedHandler.bind(this);
        }

        _isStatusHorizontal() {
          // HD res: 1360/1366 x 768
          return window.innerWidth < 1360;
        }

        _setNotStickyStyles() {
          let statusElem = this.shadowRoot.querySelector('etools-status');
          statusElem.classList.remove('sticky-status');
        }

        _resetScrollHandler() {
          if (this.contentContainer) {
            this.contentContainer.onscroll = null;
          }
        }

        _scrollChangedHandler() {
          this._waitForBoundingClientRectToBeSet()
             .then((containerDistanceFromViewportTop) => {
                let statusElem = this.shadowRoot.querySelector('etools-status');
                if (containerDistanceFromViewportTop < this.minimumDistanceFromWindowTop) {
                  statusElem.classList.add('sticky-status');
                } else {
                  statusElem.classList.remove('sticky-status');
                }
             });
        }
        _waitForBoundingClientRectToBeSet() {
          return new Promise((resolve, reject) => {
            let top = this.getBoundingClientRect().top;
            if (top === 0) {
              let bcrInterval = setInterval(() => {
                top = this.getBoundingClientRect().top;
                if (top !== 0) {
                  clearInterval(bcrInterval);
                  resolve(top);
                }
              }, 0);
            } else {
              // no need to run the interval, resolve immediately
              resolve(top);
            }
          });
        }

        _createStatusChangeWarningDialog() {
          this.statusChangeWarningDialogContent = document.createElement('p');
          this.statusChangeWarningDialogContent.setAttribute('id', 'statusChangeWarningContent');
          this.warningDialog = this.createDialog(this.sectionName + ' status change', 'md', 'Yes', 'No',
              this._statusChangeConfirmationCallback.bind(this), this.statusChangeWarningDialogContent);
        }

        _showStatusChangeConfirmationDialog() {
          if (this.warningDialog) {
            if (this.statusChangeWarningDialogContent) {
              this.statusChangeWarningDialogContent.innerHTML = this.warningMessage;
              this.warningDialog.opened = true;
            } else {
              this.logWarn('#statusChangeWarningContent element not found!', 'pmp ' +
                  this.sectionName + ' status change');
            }
          } else {
            this.logWarn('warningDialog not created!', 'pmp ' + this.sectionName + ' status change');
          }
        }

        _setAllActionsToHidden() {
          let possibleActions = this.possibleActions;
          possibleActions.forEach((elem, index) => {
            this.set(['possibleActions', index, 'hidden'], true);
          });
        }

        _setAllStatusesToHidden() {
          let possibleStatuses = this.possibleStatuses;
          possibleStatuses.forEach((elem, index) => {
            this.set(['possibleStatuses', index, 'hidden'], true);
            this.set(['possibleStatuses', index, 'completed'], false);
          });
        }

        _updateStatus(newStatus) {
          if (!this._statusChangeIsValid(newStatus)) {
            return;
          }

          this.set('newStatus', newStatus);
          this._computeWarningMessage(newStatus);
          this._showStatusChangeConfirmationDialog();
        }

        _handleStatusChange(status) {
          if (typeof status === 'undefined') {
            return;
          }
          this._resetStatusActionsDebouncer = Polymer.Debouncer.debounce(this._resetStatusActionsDebouncer,
              Polymer.Async.timeOut.after(50),
              () => {
                this._computeAvailableStatuses(status);
                this._computeAvailableActions(status);
              });
        }

        _statusChangeConfirmationCallback(event) {
          // children should overwrite this
        }

        _statusChangeIsValid(newStatus) {
          // children should overwrite this
          return false;
        }

        _computeAvailableActions(status) {
          // children should overwrite this
        }

        _computeAvailableStatuses(status) {
          // children should overwrite this
        }

        _computeWarningMessage(newStatus) {
          // children might want to overwrite this
          this.set('warningMessage', this._getDefaultWarningMessage());
        }

        _getDefaultWarningMessage() {
          return 'You are changing the status from <strong>\''
              + this.status + '\'</strong> to <strong>\'' + this.newStatus + '\'</strong>. Do you want to continue?';
        }

        getComputedStyleValue(varName) {
          if (ShadyCSS) {
            return ShadyCSS.getComputedStyleValue(this, varName);
          } else {
            return getComputedStyle(this).getPropertyValue(varName);
          }
        }

        _createDeleteConfirmationDialog() {
          let warnDeleteContent = document.createElement('div');
          warnDeleteContent.innerHTML = this.deleteWarningMessage;
          this.deleteConfirmDialog = this.createDialog(null, 'md', 'Yes', 'No', null, warnDeleteContent);
        }

        _openDeleteConfirmation() {
          this.deleteConfirmDialog.opened = true;
        }

      });
</script>
