<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/polymer/lib/utils/debounce.html">
<link rel="import" href="../../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../../bower_components/etools-content-panel/etools-content-panel.html">

<link rel="import" href="../../../redux/etools-data-redux-store.html">
<link rel="import" href="etools-status-styles.html">
<link rel="import" href="etools-action-button.html">

<dom-module id="etools-status">
  <template>
    <style include="etools-status-styles">
    </style>

    <etools-content-panel panel-title="Status">
      <div class="top-container">
        <template is="dom-repeat" items="[[availableStatuses]]" as="status">
          <div class="divider-line"></div>
          <div class$="status-container [[_getStatusCssClass(status, index)]]">
            <div class="status-icon">
                <span class="icon-wrapper" style$="[[status.iconContainerStyles]]">
                  <span>[[_getTrueIndex(index)]]</span>
                  <iron-icon class="done-icon" icon="done"></iron-icon>
                  <iron-icon class="custom-icon" icon$="[[status.icon]]" style$="[[status.iconStyles]]"></iron-icon>
                </span>
            </div>

            <div class="status">
              <span>[[status.label]]</span>
            </div>

          </div>
        </template>
      </div>
      <div class="bottom-container" hidden$="[[hideActions]]">
        <etools-action-button disabled$="[[!allowSave(uploadsInProgress)]]" actions="[[actions]]"
                             title="[[getUploadInProgressOrUnsavedTooltip(uploadsInProgress, unsavedUploads)]]"
                              show-info-icon="[[showInfoIcon]]">
        </etools-action-button>
      </div>
    </etools-content-panel>
  </template>

  <script>
    'use strict';

    /**
     * Etools item(partner/agreement/intervention/report etc.) status display element
     * @polymer
     * @customElement
     * @appliesMixin EtoolsPmpApp.Mixins.EtoolsDataReduxStore
     */
    class EtoolsStatus extends EtoolsPmpApp.Mixins.EtoolsDataReduxStore(Polymer.Element) {

      static get is() {
        return 'etools-status';
      }

      static get properties() {
        return {
          statuses: {
            type: Array,
            value: []
          },
          availableStatuses: {
            type: Array
          },
          actions: {
            type: Array,
            value: []
          },
          hideActions: {
            type: Boolean,
            value: true
          },
          uploadsInProgress: {
            type: Number,
            statePath: 'uploadsInProgress'
          },
          unsavedUploads: {
            type: Boolean,
            statePath: 'unsavedUploads'
          },
          showInfoIcon: {
            type: Boolean,
            value: false
          }
        };
      }

      static get observers() {
        return [
          '_handleStatusChanged(statuses, statuses.*)',
          '_handleActionsChanged(actions, actions.*)'
        ];
      }

      allowSave(uploadsInProgress) {
        return Number(uploadsInProgress) === 0;
      }

      getUploadInProgressOrUnsavedTooltip(uploadsInProgress, unsavedUploads) {
        if (Number(uploadsInProgress) > 0) {
          this.showInfoIcon = true;
          return 'Uploads in progress, you can save after they\'re finished.';
        }

        if (Number(unsavedUploads) > 0) {
          this.showInfoIcon = true;
          return 'Don\'t forget to save uploaded files!';
        }
        this.showInfoIcon = false;
        return '';
      }


      _showInfoIcon(actionsBtnTooltip) {
        return !!actionsBtnTooltip;
      }

      _handleStatusChanged(statuses) {
        this._statusChangedDebouncer = Polymer.Debouncer.debounce(this._statusChangedDebouncer,
            Polymer.Async.timeOut.after(10),
            () => {
              this._computeAvailableStatuses(statuses);
            });
      }

      _handleActionsChanged(statuses) {
        this._actionsOptionsChangedDebouncer = Polymer.Debouncer.debounce(this._actionsOptionsChangedDebouncer,
            Polymer.Async.timeOut.after(10),
            () => {
              let hidden = true;
              this.actions.forEach((elem) => {
                hidden = elem.hidden && hidden;
              });
              this.set('hideActions', hidden);
            });
      }

      _getStatusIcon(icon) {
        return icon || 'done';
      }

      _getCustomIconColor(color) {
        if (color) {
          return 'color: ' + color;
        }
        return '';
      }

      _getStatusCssClass(status, index) {
        let cls = '';
        if (status.completed && !status.icon) {
          cls = 'completed';
        }
        if (status.completed && status.icon) {
          cls = 'custom';
        }
        if (index === 0) {
          cls = 'pending';
        }
        return cls + ' etools-status';
      }

      _getTrueIndex(index) {
        return 1 + index;
      }

      _computeAvailableStatuses(statuses) {
        this.set('availableStatuses', []);
        setTimeout(() => {
          let filteredStatuses = statuses.filter((elem) => {
            return !elem.hidden;
          });
          this.set('availableStatuses', filteredStatuses);
        }, 0);
      }

    }

    window.customElements.define(EtoolsStatus.is, EtoolsStatus);
  </script>
</dom-module>
