<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../../../../../styles/app-mixins.html">
<link rel="import" href="../../../../../../styles/buttons-styles.html">
<link rel="import" href="../../../../../../styles/grid-layout-styles.html">

<dom-module id="humanitarian-reporting-req-unicef">
  <template>
    <style include="buttons-styles grid-layout-styles">
      :host {
        display: block
      }
    </style>

    <div class="row-h">
      There are no humanitarian report requirements set.
    </div>
    <div class="row-h">
      <paper-button class="secondary-btn" on-tap="_openUnicefHumanitarianRepReqsDialog">
        ADD REQUIREMENTS
      </paper-button>
    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class HumanitarianReportingReqUnicef extends Polymer.Element {
      static get is() {
        return 'humanitarian-reporting-req-unicef';
      }

      static get properties() {
        return {

        };
      }

      /**
       * Instance of the element is created/upgraded. Use: initializing state,
       * set up event listeners, create shadow dom.
       * @constructor
       */
      constructor() {
        super();
      }

      ready() {
        super.ready();

        Polymer.RenderStatus.afterNextRender(this, function() {

        });
      }

      _openUnicefHumanitarianRepReqsDialog() {

      }
    }

    window.customElements.define(HumanitarianReportingReqUnicef.is, HumanitarianReportingReqUnicef);
  </script>
</dom-module>
