<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../styles/grid-layout-styles.html">

<dom-module id="humanitarian-reporting-req-cluster">
  <template>
    <style include="grid-layout-styles">
      :host {
        display: block
      }
    </style>

    <div class="row-h">
      There are no humanitarian report requirements set.
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class HumanitarianReportingReqCluster extends Polymer.Element {
      static get is() {
        return 'humanitarian-reporting-req-cluster';
      }

      static get properties() {
        return {
          interventionId: {
            type: String
          },
          requirementsCount: {
            type: Number,
            value: 0,
            notify: true
          },
        };
      }

      ready() {
        super.ready();

        Polymer.RenderStatus.afterNextRender(this, function() {

        });
      }

    }

    window.customElements.define(HumanitarianReportingReqCluster.is, HumanitarianReportingReqCluster);
  </script>
</dom-module>
