<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../../../../../styles/app-mixins.html">
<link rel="import" href="../../../../../../styles/buttons-styles.html">
<link rel="import" href="../../../../../../styles/grid-layout-styles.html">


<dom-module id="quarterly-reporting-requirements">
  <template>
    <style include="buttons-styles grid-layout-styles">
      :host {
        display: block
      }
    </style>

    <div class="row-h">
      There are no quarterly reporting requirements set.
    </div>
    <div class="row-h">
      <paper-button class="secondary-btn" on-tap="_openQuarterlyRepRequirementsDialog">
        ADD REQUIREMENTS
      </paper-button>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class QuarterlyReportingRequirements extends Polymer.Element {
      static get is() {
        return 'quarterly-reporting-requirements';
      }

      static get properties() {
        return {

        };
      }

      ready() {
        super.ready();

        Polymer.RenderStatus.afterNextRender(this, function() {

        });
      }

      _openQuarterlyRepRequirementsDialog() {

      }

    }

    window.customElements.define(QuarterlyReportingRequirements.is, QuarterlyReportingRequirements);
  </script>
</dom-module>
