<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../bower_components/etools-dialog/etools-dialog.html">
<link rel="import" href="../../../../../../../../bower_components/etools-behaviors/etools-mixin-factory.html">

<link rel="import" href="../../../../../../config/dexie-db-config.html">
<link rel="import" href="../../../../../../endpoints/endpoints-mixin.html">

<link rel="import" href="../../../../../../styles/shared-styles.html">
<link rel="import" href="../../../../../../styles/grid-layout-styles.html">

<link rel="import" href="../../../../../../layout/components/etools-date-input.html">
<link rel="import" href="../../../../../../mixins/ajax-errors-parser-mixin.html">
<link rel="import" href="../../../../../../mixins/event-helper-mixin.html">

<dom-module id="reporting-requirements-dialog">
  <template>
    <style include="shared-styles grid-layout-styles">
      [hidden] {
        display: none !important;
      }

      #content-box {
        margin-bottom: 20px;
      }
    </style>
    <etools-dialog
        id="reportingRequirementsDialog"
        size="md"
        no-padding
        keep-dialog-open
        spinner-text="Saving reporting requirement..."
        ok-btn-text="Save"
        cancel-btn-text="Cancel"
        dialog-title="Add/Edit Reporting Requirements"
        hidden$="[[_isDatePickerOpen(startDateOpen, endDateOpen, dueDateOpen)]]"
        on-confirm-btn-clicked="_saveChanges">
      <div id="content-box">
        <div class="row-h">
          <div class="col col-4">
            <etools-date-input id="reportingPeriodStartDate"
                               label="Reporting Period Start Date"
                               value="{{requirement.start_date}}"
                               open="{{startDateOpen}}"
                               required auto-validate
                               error-message="Start Date is required"
                               no-init show-clear-btn>
            </etools-date-input>
          </div>
          <div class="col col-4">
            <etools-date-input id="reportingPeriodEndDate"
                               label="Reporting Period End Date"
                               value="{{requirement.end_date}}"
                               open="{{endDateOpen}}"
                               required auto-validate
                               error-message="End Date is required"
                               no-init show-clear-btn>
            </etools-date-input>
          </div>
          <div class="col col-4">
            <etools-date-input id="reportingPeriodDueDate"
                               label="Reporting Period Due Date"
                               value="{{requirement.due_date}}"
                               open="{{dueDateOpen}}"
                               required auto-validate
                               error-message="Due Date is required"
                               no-init show-clear-btn>
            </etools-date-input>
          </div>
        </div>
      </div>
    </etools-dialog>

  </template>
  <script>
    'use strict';

    /**
     * @polymer
     * @customElement
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
     * @appliesMixin EtoolsPmpApp.Mixins.Endpoints
     * @appliesMixin EtoolsPmpApp.Mixins.AjaxErrorsParser
     */
    class ReportingRequirementsDialog extends EtoolsMixinFactory.combineMixins([
      EtoolsPmpApp.Mixins.EventHelper,
      EtoolsPmpApp.Mixins.Endpoints,
      EtoolsPmpApp.Mixins.AjaxErrorsParser
    ], Polymer.Element) {

      static get is() {
        return 'reporting-requirements-dialog';
      }

      static get properties() {
        return {
          requirement: {
            type: Object,
          },
          endpoints: {
            type: Object,
          },
          toastEventSource: {
            type: Object,
          },
          interventionId: {
            type: Number,
          },
          startDateOpen: {
            type: Boolean,
            value: false
          },
          endDateOpen: {
            type: Boolean,
            value: false
          },
          dueDateOpen: {
            type: Boolean,
            value: false
          },
          fieldsToValidate: {
            type: Array,
            value: [
              '#reportingPeriodStartDate',
              '#reportingPeriodEndDate',
              '#reportingPeriodDueDate'
            ]
          }
        };
      }

      open() {
        if (!this.$.reportingRequirementsDialog.opened) {
          this.$.reportingRequirementsDialog.opened = true;
          this._resetValidations();
        }
      }

      close() {
        this.stopSpinner();
        this.$.reportingRequirementsDialog.set('opened', false);
      }

      startSpinner() {
        this.$.reportingRequirementsDialog.startSpinner();
      }

      stopSpinner() {
        this.$.reportingRequirementsDialog.stopSpinner();
      }

      _saveChanges(event) {
        let valid = true;
        let self = this;
        let newReq = this.requirement;

        this.fieldsToValidate.forEach(function(selector) {
          valid = self.shadowRoot.querySelector(selector).validate() && valid;
        });

        if (!valid) {
          return false;
        }

        this.startSpinner();

        if (!newReq.id) {
          this.addRequirement(newReq)
              .then(function() {
                self.close();
              }).catch(function(error) {
            self._handleErrorResponse(error);
          });
        } else {
          this.updateRequirement(newReq)
              .then(function() {
                self.close();
              }).catch(function(error) {
            self._handleErrorResponse(error);
          });
        }
      }

      _resetValidations() {
        let self = this;
        this.fieldsToValidate.forEach(function(selector) {
          self.shadowRoot.querySelector(selector).resetInvalidState();
        });
      }

      _isDatePickerOpen(startDateOpen, endDateOpen, dueDateOpen) {
        return startDateOpen || endDateOpen || dueDateOpen;
      }

      updateRequirement(requirement) {
        let endpoint = this.getEndpoint(this.endpoints.ITEM, {reportId: requirement.id});
        let self = this;

        return this.sendRequest({method: 'PATCH', endpoint: endpoint, body: requirement})
            .then(function(response) {
              self.fireEvent('update-reporting-requirement', response);
            });
      }

      addRequirement(requirement) {
        let endpoint = this.getEndpoint(this.endpoints.LIST, {intervId: this.interventionId});
        let self = this;

        requirement.intervention = this.interventionId;

        return this.sendRequest({method: 'POST', endpoint: endpoint, body: requirement})
            .then(function(response) {
              self.fireEvent('add-reporting-requirement', response);
            });
      }

      _handleErrorResponse(error) {
        this.stopSpinner();
        this.parseRequestErrorsAndShowAsToastMsgs(error, this.toastEventSource);
      }

    }

    window.customElements.define(ReportingRequirementsDialog.is, ReportingRequirementsDialog);
  </script>
</dom-module>
