<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../../../../../bower_components/etools-behaviors/etools-mixin-factory.html">

<link rel="import" href="../../../../../../endpoints/endpoints-mixin.html">
<link rel="import" href="../../../../../../config/app-constants.html">

<link rel="import" href="../../../../../../styles/app-mixins.html">
<link rel="import" href="../../../../../../styles/buttons-styles.html">
<link rel="import" href="../../../../../../styles/grid-layout-styles.html">

<dom-module id="special-reporting-requirements">
  <template>
    <style include="buttons-styles grid-layout-styles">
      :host {
        display: block
      }
    </style>

    <div class="row-h">
      There are no special reporting requirements set.
    </div>
    <div class="row-h">
      <paper-button class="secondary-btn" on-tap="_openSpecialRepRequirementsDialog">
        ADD REQUIREMENTS
      </paper-button>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SpecialReportingRequirements extends Polymer.Element {
      static get is() {
        return 'special-reporting-requirements';
      }

      static get properties() {
        return {
          interventionId: {
            type: Number,
            observer: '_interventionIdChanged'
          },
          requirementsCount: {
            type: Number,
            value: 0,
            notify: true
          },
        };
      }

      ready() {
        super.ready();

        Polymer.RenderStatus.afterNextRender(this, function() {

        });
      }

      _interventionIdChanged(newId) {

      }

      _openSpecialRepRequirementsDialog() {

      }

    }

    window.customElements.define(SpecialReportingRequirements.is, SpecialReportingRequirements);
  </script>
</dom-module>
