<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="page-footer">
  <template>
    <style>
      :host {
        display: block;
        padding: 18px 24px;
        width: 100%;
        min-height: 90px;
        box-sizing: border-box;
      }

      #footer-content {
        @apply --layout-horizontal;
      }

      #unicef-logo {
        @apply --layout-horizontal;
        @apply --layout-inline;
        padding-right: 30px;
      }

      #unicef-logo img {
        height: 28px;
        width: 118px;
      }

      .footer-link {
        margin: auto 15px;
        color: var(--medium-primary-text-color);
        text-decoration: none;
      }

      .footer-link:first-of-type {
        margin-left: 30px;
      }

      @media print {
        :host {
          display: none;
        }
      }

    </style>
    <footer>
      <div id="footer-content">
        <span id="unicef-logo">
          <img src$="[[importPath]]../../../images/UNICEF_logo.png" alt="UNICEF logo">
        </span>
        <!-- TODO: modify span to a with proper href values after footer pages are ready -->
      <!--   <span class="footer-link">Contact</span>
        <span class="footer-link">Disclaimers</span>
        <span class="footer-link">Privacy Policy</span> -->
      </div>
    </footer>
  </template>

  <script>
    'use strict';
    /**
     * @polymer
     * @customElement
     */
    class PageFooter extends Polymer.Element {
      static get is() {
        return 'page-footer';
      }
    }

    window.customElements.define(PageFooter.is, PageFooter);
  </script>

</dom-module>
