<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/etools-app-selector/etools-app-selector.html">

<link rel="import" href="../../../bower_components/etools-profile-dropdown/etools-profile-dropdown.html">
<link rel="import" href="components/countries-dropdown.html">
<link rel="import" href="../user/profile-operations-mixin.html">
<link rel="import" href="../../modules/mixins/event-helper-mixin.html">

<link rel="import" href="../redux/etools-data-redux-store.html">
<link rel="import" href="../config/config.html">
<link rel="import" href="../config/dexie-db-config.html">
<link rel="import" href="../layout/components/support-btn.html">

<dom-module id="page-header">
  <template>
    <style>
      app-toolbar {
        padding: 0 16px 0 0;
        height: 60px;
        background-color: var(--header-bg-color, #233944);
      }

      .titlebar {
        color: var(--header-primary-text-color);
      }

      countries-dropdown {
        --countries-dropdown-color: var(--header-secondary-text-color);
      }

      support-btn,
      etools-profile-dropdown,
      #refresh {
        color: var(--header-secondary-text-color);
      }

      support-btn,
      etools-profile-dropdown {
        margin-left: 24px;
      }

      #refresh {
        margin-left: 16px;
      }

      #menuButton {
        display: block;
      }

      .titlebar {
        @apply --layout-flex;
        font-size: 28px;
        font-weight: 300;
      }

      .titlebar img {
        width: 34px;
        margin: 0 8px 0 24px;
      }

      .content-align {
        @apply --layout-horizontal;
        @apply --layout-center;
      }

      #app-logo {
        height: 32px;
        width: auto;
      }

      .envWarning {
        color: var(--nonprod-text-warn-color);
        font-weight: 700;
        font-size: 18px;
      }

      @media (min-width: 850px) {
        #menuButton {
          display: none;
        }
      }
    </style>
    <app-toolbar sticky class="content-align">
      <paper-icon-button id="menuButton" class="light" icon="menu" on-tap="openDrawer"></paper-icon-button>
      <div class="titlebar content-align">
        <etools-app-selector id="selector"></etools-app-selector>
        <img id="app-logo" src$="[[importPath]]../../../images/etools-logo-color-white.svg">
        <dom-if id="envWarningIf">
          <template>
            <div class="envWarning"> - STAGING TESTING ENVIRONMENT</div>
          </template>
        </dom-if>
      </div>
      <div class="content-align">
        <countries-dropdown id="countries" countries="[[countries]]"
            current-country="[[profile.country]]"></countries-dropdown>

        <support-btn></support-btn>

        <etools-profile-dropdown
          sections="[[allSections]]"
          offices="[[allOffices]]"
          users="[[allUsers]]"
          profile="{{profile}}"
          on-save-profile="_saveProfile"
          on-sign-out="_signOut"></etools-profile-dropdown>

        <paper-icon-button id="refresh" icon="refresh" on-tap="_openDataRefreshDialog"></paper-icon-button>
      </div>
    </app-toolbar>
  </template>

  <script>
    'use strict';
    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
     * @appliesMixin EtoolsPmpApp.Mixins.ProfileOperations
     * @appliesMixin EtoolsPmpApp.Mixins.EtoolsDataReduxStore
    */
    const PageHeaderMixin = EtoolsMixinFactory.combineMixins([
        EtoolsPmpApp.Mixins.EtoolsDataReduxStore,
        EtoolsPmpApp.Mixins.ProfileOperations,
        EtoolsPmpApp.Mixins.EventHelper
      ], Polymer.Element);

    /**
     * @polymer
     * @customElement
     * @appliesMixin PageHeaderMixin
     */
    class PageHeader extends PageHeaderMixin {

      static get is() {
        return 'page-header';
      }

      static get properties() {
        return {
          // This shouldn't be neccessary, but the polymer lint isn't picking up
          // Polymer.Element#importPath
          importPath: String,

          countries: {
            type: Array
          },
          allOffices: {
            type: Object,
            notify: true,
            computed: '_convertCollection(offices)'
          },
          offices: {
            type: Array,
            statePath: 'offices'
          },
          sections: {
            type: Array,
            statePath: 'sections'
          },
          users: {
            type: Array,
            statePath: 'unicefUsersData'
          },
          allSections: {
            type: Object,
            notify: true,
            computed: '_convertCollection(sections)'
          },
          allUsers: {
            type: Object,
            notify: true,
            computed: '_convertUsers(users)'
          },
          originalProfile: {
            type: Object,
            observer: '_handleProfileLoaded',
            statePath: 'currentUser'
          },
          editableFields: {
            type: Array,
            value: [
              'office',
              'section',
              'job_title',
              'phone_number',
              'oic',
              'supervisor'
            ]
          },

          userProfileDialog: Object
        };
      }

      static get observers() {
        return ['_updateCountriesList(profile.countries_available)'];
      }

      ready() {
        super.ready();
        this._setBgColor();
        this._isStaging();
      }

      _isStaging() {
        if (EtoolsPmpApp.Config.isStagingServer()) {
          this.$.envWarningIf.if = true;
        }
      }

      openDrawer() {
        this.fireEvent('drawer');
      }

      _setBgColor() {
        // If not production environment, changing header color to red
        if (!EtoolsPmpApp.Config.isProductionServer()) {
          this.updateStyles({'--header-bg-color': 'var(--nonprod-header-color)'});
        }
      }

      _handleProfileLoaded(profileData) {
        this.set('profile', JSON.parse(JSON.stringify(profileData)));
      }

      _updateCountriesList(countries) {
        if (!countries) {
          return;
        }

        let arrayObj = countries.map((arrayItem) => {
          return {
            id: arrayItem.id,
            name: arrayItem.name
          };
        });

        arrayObj = _.sortBy(arrayObj, (c) => {
          return c.name;
        });
        this.set('countries', arrayObj);
      }

      _openDataRefreshDialog() {
        this.fireEvent('open-data-refresh-dialog');
      }

      _convertCollection(data) {
        return data.map((item) => {
          return {label: item.name, value: item.id};
        });
      }

      _convertUsers(data) {
        return data.map((d) => {
          return {
            value: parseInt(d.id, 10),
            label: d.name
          };
        });
      }

      _saveProfile(e) {
        let modifiedFields = this._getModifiedFields(this.originalProfile, e.detail.profile);
        this.saveProfile(modifiedFields);
      }

      _signOut() {
        this._clearDexieDbs();
        this._clearLocalStorage();
        window.location.href = window.location.origin + '/logout';
      }

      _clearDexieDbs() {
        EtoolsPmpApp.DexieDb.delete();
      }

      _clearLocalStorage() {
        localStorage.clear();
      }

      _getModifiedFields(originalData, newData) {
        let modifiedFields = {};
        this.editableFields.forEach(function(field) {
          if (originalData[field] !== newData[field]) {
            modifiedFields[field] = newData[field];
          }
        });

        return modifiedFields;
      }
    }

    window.customElements.define(PageHeader.is, PageHeader);
  </script>

</dom-module>
