<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../../../bower_components/etools-dropdown/etools-dropdown.html">
<link rel="import" href="../../../../bower_components/etools-behaviors/etools-mixin-factory.html">
<link rel="import" href="../../../../bower_components/etools-behaviors/etools-page-refresh-mixin.html">
<link rel="import" href="../../../../bower_components/etools-ajax/etools-ajax-request-mixin.html">
<link rel="import" href="../../endpoints/endpoints-mixin.html">
<link rel="import" href="../../mixins/event-helper-mixin.html">

<dom-module id="countries-dropdown">
  <template strip-whitespace>
    <style>

      :host {
        display: block;
      }

      :host(:hover) {
        cursor: pointer;
      }

      etools-dropdown {
        width: 160px;

        --paper-listbox: {
          max-height: 600px;
        };

        --esmm-icons: {
          color: var(--countries-dropdown-color);
          cursor: pointer;
        };

        --paper-input-container-underline: {
          display: none;
        };

        --paper-input-container-underline-focus: {
          display: none;
        };

        --paper-input-container-underline-disabled: {
          display: none;
        };

        --paper-input-container-input: {
          color: var(--countries-dropdown-color);
          cursor: pointer;
          min-height: 24px;
          text-align: right;
          line-height: 21px;  /* for IE */
        };

        --paper-menu-button-dropdown: {
          max-height: 380px;
        }
      }
    </style>
    <!-- shown options limit set to 250 as there are currently 195 countries in the UN council and about 230 total -->
    <etools-dropdown id="countrySelector"
                     hidden$="[[!countrySelectorVisible]]"
                     selected="[[currentCountry.id]]"
                     placeholder="Country"
                     allow-outside-scroll
                     no-label-float
                     options="[[countries]]"
                     option-label="name"
                     option-value="id"
                     trigger-value-change-event
                     on-etools-selected-item-changed="_countrySelected"
                     shown-options-limit="250"
                     hide-search></etools-dropdown>
  </template>

  <script>
    'use strict';

    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsLogsMixin
     * @appliesMixin EtoolsAjaxRequestMixin
     * @appliesMixin EtoolsPageRefreshMixin
     * @appliesMixin EtoolsPmpApp.Mixins.Endpoints
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
    */
    const CountriesDropdownMixin = EtoolsMixinFactory.combineMixins([
      EtoolsLogsMixin, EtoolsAjaxRequestMixin, EtoolsPageRefreshMixin,
      EtoolsPmpApp.Mixins.Endpoints, EtoolsPmpApp.Mixins.EventHelper
    ], Polymer.Element);

    /**
    *
    * @polymer
    * @customElement
    * @appliesMixin CountriesDropdownMixin
    */
    class CountriesDropdown extends CountriesDropdownMixin {

      static get is() {
        return 'countries-dropdown';
      }

      static get properties() {
        return {
          currentCountry: {
            type: Object
          },
          countries: {
            type: Array,
            observer: '_countrySelectorUpdate'
          },
          countrySelectorVisible: Boolean
        };
      }

      connectedCallback() {
        super.connectedCallback();
        setTimeout( () => {
          let fitInto = document.querySelector('app-shell').shadowRoot.querySelector('#appHeadLayout');
          this.$.countrySelector.set('fitInto', fitInto);
        }, 0);
      }

      _countrySelected(e) {
        if (!e.detail.selectedItem) {
          return;
        }
        let selectedCountryId = parseInt(e.detail.selectedItem.id, 10);
        if (selectedCountryId !== this.currentCountry.id) {
          // send post request to change_coutry endpoint
          this._triggerCountryChangeRequest(selectedCountryId);
        }
      }

      _triggerCountryChangeRequest(countryId) {
        let self = this;
        this.fireEvent('global-loading', {
          message: 'Please wait while country data is changing...',
          active: true,
          loadingSource: 'country-change'
        });

        this.sendRequest({
          endpoint: this.getEndpoint('changeCountry'),
          method: 'POST',
          body: {country: countryId}
        }).then(function() {
          self._handleResponse();
        }).catch(function(error) {
          self._handleError(error);
        });
      }

      _handleResponse() {
        this.fireEvent('update-main-path', {path: 'partners'});
        this.refresh();
      }

      _countrySelectorUpdate(countries) {
        if (Array.isArray(countries) && (countries.length > 1)) {
          this.countrySelectorVisible = true;
        }
      }

      _handleError(error) {
        this.logError('Country change failed!', 'countries-dropdown', error);
        // TODO: this should be a larger alert.
        this.$.countrySelector.set('selected', this.currentCountry.id);
        this.fireEvent('toast', {text: 'Something went wrong changing your workspace. Please try again'});
        this.fireEvent('global-loading', {active: false, loadingSource: 'country-change'});
      }
    }

    window.customElements.define(CountriesDropdown.is, CountriesDropdown);
  </script>

</dom-module>
