<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/etools-dialog/etools-dialog.html">
<link rel="import" href="../../../../bower_components/etools-behaviors/etools-logs-mixin.html">
<link rel="import" href="../../../../bower_components/etools-behaviors/etools-page-refresh-mixin.html">
<link rel="import" href="../../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../../bower_components/iron-label/iron-label.html">

<link rel="import" href="../../mixins/event-helper-mixin.html">
<link rel="import" href="../../redux/etools-data-redux-store.html">
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../../styles/grid-layout-styles.html">

<dom-module id="data-refresh-dialog">
  <template>
    <style include="shared-styles grid-layout-styles">
      [hidden] {
        display: none !important;
      }

      #content-box {
        max-height: 600px;
        min-height: 160px;
        overflow-y: auto;
        height: 100%;
      }
      .row-indent {
        padding-left: 40px;
      }
      .title-indent {
        padding: 0 24px;
        font-size: 16px;
      }
      paper-checkbox {
        --paper-checkbox-label: {
          font-size: 16px;
        }
      }

    </style>
    <etools-dialog
        id="refreshDialog"
        size="sm"
        no-padding
        ok-btn-text="Refresh data"
        cancel-btn-text="Cancel"
        dialog-title="Refresh data"
        disable-confirm-btn="[[!anySelected]]"
        on-close="_handleDialogClosed">
      <div id="content-box">
          <div class="title-indent">Select the data you want to refresh:</div>
          <div class="row-h row-indent">
            <div class="col col-6">
              <paper-checkbox checked="{{partnersSelected}}">
                Partners/Government
              </paper-checkbox>
            </div>
            <div class="col col-6">
              <paper-checkbox checked="{{interventionsSelected}}">
                PD/SSFA
              </paper-checkbox>
            </div>
          </div>
          <div class="row-h row-indent">
            <div class="col col-6">
              <paper-checkbox checked="{{agreementsSelected}}">
                Agreements
              </paper-checkbox>
            </div>
            <div class="col col-6">
              <paper-checkbox checked="{{allSelected}}">
                All
              </paper-checkbox>
            </div>
          </div>

      </div>
    </etools-dialog>

  </template>

  <script>
    'use strict';
    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsLogsMixin
     * @appliesMixin EtoolsPageRefreshMixin
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
    */
    const DataRefreshDialogMixin = EtoolsMixinFactory.combineMixins([
        EtoolsLogsMixin,
        EtoolsPageRefreshMixin,
        EtoolsPmpApp.Mixins.EventHelper,
        EtoolsPmpApp.Mixins.EtoolsDataReduxStore
      ], Polymer.Element);
    /**
     * @polymer
     * @customElement
     * @appliesMixin DataRefreshDialogMixin
     */
    class DataRefreshDialog extends DataRefreshDialogMixin {
      static get is() {
        return 'data-refresh-dialog';
      }

      static get properties() {
        return {
          interventionsSelected: {
            type: Boolean,
            value: false
          },
          partnersSelected: {
            type: Boolean,
            value: false
          },
          agreementsSelected: {
            type: Boolean,
            value: false
          },
          allSelected: {
            type: Boolean,
            value: false
          },
          anySelected: {
            type: Boolean,
            value: false
          },
          page: {
            type: String,
            notify: true
          }
        };
      }

      static get actions() {
        return {
          resetUploadsInProgress: function() {
            return {
              type: 'RESET_UPLOADS_IN_PROGRESS'
            };
          },
          resetUnsavedUploads: function() {
            return {
              type: 'RESET_UNSAVED_UPLOADS'
            };
          }
        };
      }

      static get observers() {
        return [
          '_singleSectionChanged(interventionsSelected, partnersSelected, agreementsSelected)',
          '_allSelectedChanged(allSelected)'
        ];
      }

      open() {
        if (!this.$.refreshDialog.opened) {
          this.$.refreshDialog.opened = true;
        }
      }

      _allSelectedChanged() {
        if (!this.allSelected) {
          return;
        }

        this.set('interventionsSelected', true);
        this.set('partnersSelected', true);
        this.set('agreementsSelected', true);
        this.set('anySelected', true);
      }

      _singleSectionChanged() {
        let allSelected = this.interventionsSelected && this.partnersSelected && this.agreementsSelected;
        let anySelected = this.interventionsSelected || this.partnersSelected || this.agreementsSelected;

        this.set('allSelected', allSelected);
        this.set('anySelected', anySelected);
      }

      _handleDialogClosed(closingReason) {
        if (!closingReason.detail.confirmed) {
          return;
        }

        this.dispatch('resetUploadsInProgress');
        this.dispatch('resetUnsavedUploads');

        this.fireEvent('global-loading', {message: 'Refreshing data...', active: true});

        let afterDataRefreshLandingPage = this._getAfterRefreshLandingPage();
        let restampLandingPage = this.page === afterDataRefreshLandingPage ||
            (this.page === 'government-partners' && afterDataRefreshLandingPage === 'partners');

        if (this.allSelected) {
          this.refresh();
          this.fireEvent('update-main-path', {path: afterDataRefreshLandingPage});
          return;
        }

        // clear only data sets
        let self = this;
        EtoolsPmpApp.DexieDb.transaction('rw', 'listsExpireMapTable', 'partners', 'agreements', 'interventions',
          function() {
            if (self.partnersSelected) {
              EtoolsPmpApp.DexieDb.partners.clear();
              EtoolsPmpApp.DexieDb.listsExpireMapTable.delete('partners');
            }
            if (self.agreementsSelected) {
              EtoolsPmpApp.DexieDb.agreements.clear();
              EtoolsPmpApp.DexieDb.listsExpireMapTable.delete('agreements');
            }
            if (self.interventionsSelected) {
              EtoolsPmpApp.DexieDb.interventions.clear();
              EtoolsPmpApp.DexieDb.listsExpireMapTable.delete('interventions');
            }
        }).then(function(result) {
          // transaction succeeded
          self._handleSuccess(afterDataRefreshLandingPage, restampLandingPage);
        }).catch(function(error) {
          // transaction failed
          self.logWarn('Dexie data clearing failed.', 'data-refresh-dialog', error);
          self._handleFailure(afterDataRefreshLandingPage, restampLandingPage);
        });
      }

      _handleSuccess(afterDataRefreshLandingPage, restampLandingPage) {
        this._triggerMainRoutePathUpdate(afterDataRefreshLandingPage, restampLandingPage);
        this.fireEvent('toast', {text: 'Data successfully refreshed', showCloseBtn: true});
      }

      _handleFailure(afterDataRefreshLandingPage, restampLandingPage) {
        this._triggerMainRoutePathUpdate(afterDataRefreshLandingPage, restampLandingPage);
        this.fireEvent('toast', {text: 'There was an error while refreshing the data', showCloseBtn: true});
      }

      _triggerMainRoutePathUpdate(afterDataRefreshLandingPage, restampLandingPage) {
        let routePath = afterDataRefreshLandingPage + '/list';
        if (restampLandingPage) {
          this.set('page', null);
          setTimeout(function() {
            this.fireEvent('global-loading', {active: false});
            this.set('page', afterDataRefreshLandingPage);
            this.fireEvent('update-main-path', {path: routePath});
          }.bind(this), 10);
        } else {
          this.fireEvent('global-loading', {active: false});
          this.fireEvent('update-main-path', {path: routePath});
        }
        this._resetRefreshSelection();
      }

      _getAfterRefreshLandingPage() {
        if (this.allSelected) {
          return this.page;
        }
        if (this.partnersSelected) {
          return this.page === 'government-partners' ? 'government-partners' : 'partners';
        }
        if (this.agreementsSelected) {
          return 'agreements';
        }
        if (this.interventionsSelected) {
          return 'interventions';
        }
      }

      _resetRefreshSelection() {
        this.set('partnersSelected', false);
        this.set('agreementsSelected', false);
        this.set('interventionsSelected', false);
      }
    }

    window.customElements.define(DataRefreshDialog.is, DataRefreshDialog);
  </script>
</dom-module>

