<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">


<dom-module id="etools-warn-message">

  <template>
    <style>

      .warning {
        display: flex;
        flex-direction: row;
        flex: 1;
        padding: 16px 24px;
        background-color: var(--lightest-info-color);
      }

    </style>

    <div class="warning">
      [[message]]
    </div>

  </template>

  <script>
    'use strict';

    /**
     * @polymer
     * @customElement
     */
    class EtoolsWarnMessage extends Polymer.Element {

      static get is() {
        return 'etools-warn-message';
      }

      static get properties() {
        return {
          message: {
            type: String,
            value: ''
          }
        };
      }

    }

    window.customElements.define(EtoolsWarnMessage.is, EtoolsWarnMessage);
  </script>


</dom-module>
