<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../../../bower_components/iron-label/iron-label.html">

<link rel="import" href="../../../../bower_components/etools-behaviors/etools-logs-mixin.html">
<link rel="import" href="../../../../bower_components/etools-behaviors/etools-mixin-factory.html">
<link rel="import" href="../../../../bower_components/etools-loading/etools-loading.html">

<link rel="import" href="../../endpoints/endpoints-mixin.html">
<link rel="import" href="../../mixins/ajax-errors-parser-mixin.html">

<dom-module id="etools-ram-indicators">
  <template>
    <style>
      :host {
        position: relative;
        background-color: var(--light-theme-background-color);
      }

      *[hidden] {
        display: none !important;
      }

      #label,
      #no-ram-indicators {
        color: var(--secondary-text-color, #737373);
      }

      #ram-indicators-list {
        margin: 0;
        padding-left: 24px;
        list-style: circle;
      }

    </style>

    <etools-loading active="[[loading]]">Loading...</etools-loading>

    <iron-label>
      <span id="label">RAM Indicators</span>
      <div id="ram-indicators" iron-label-target>
        <template is="dom-if" if="[[_noRamIndicators(ramIndicators.length)]]">
          <span id="no-ram-indicators">&#8212;</span>
        </template>
        <template is="dom-if" if="[[!_noRamIndicators(ramIndicators.length)]]">
          <ul id="ram-indicators-list">
            <template is="dom-repeat" items="[[ramIndicators]]" as="ramIndName">
              <li>[[ramIndName]]</li>
            </template>
          </ul>
        </template>
      </div>
    </iron-label>

  </template>

  <script>
    'use strict';

    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsLogsMixin
     * @appliesMixin EtoolsPmpApp.Mixins.AjaxErrorsParser
     */
    const EtoolsRamIndicatorsMixins = EtoolsMixinFactory.combineMixins([
      EtoolsLogsMixin,
      EtoolsPmpApp.Mixins.Endpoints,
      EtoolsPmpApp.Mixins.AjaxErrorsParser
    ], Polymer.Element);


    /**
     * @polymer
     * @customElement
     * @appliesMixin EtoolsRamIndicatorsMixins
     */
    class EtoolsRamIndicators extends EtoolsRamIndicatorsMixins {
      static get is() {
        return 'etools-ram-indicators';
      }

      static get properties() {
        return {
          interventionId: {
            type: Number
          },
          cpId: {
            type: Number
          },
          ramIndicators: {
            type: Array,
            value: []
          },
          loading: {
            type: Boolean,
            value: false
          }
        };
      }

      static get observers() {
        return [
          '_getRamIndicatorsData(interventionId, cpId)'
        ];
      }

      _getRamIndicatorsData(interventionId, cpId) {
        const validIds = interventionId > 0 && cpId > 0;
        if (!validIds) {
          return;
        }

        this._requestRamIndicatorsData({intervention_id: interventionId, cp_output_id: cpId});
      }

      _requestRamIndicatorsData(reqPayload) {
        this.set('loading', true);
        this.sendRequest({
          method: 'GET',
          endpoint: this.getEndpoint('cpOutputRamIndicators', reqPayload),
        }).then((resp) => {
          this.set('loading', false);
          this.set('ramIndicators', resp.ram_indicators.map(ri => ri.indicator_name));
        }).catch((error) => {
          this.logError('Error occurred on RAM Indicators request for PD ID: ' + interventionId +
              ' and CP Output ID: ' + cpId, 'etools-ram-indicators', error);
          this.parseRequestErrorsAndShowAsToastMsgs(error);
          this.set('loading', false);
        });
      }

      _noRamIndicators(l) {
        return typeof l !== 'number' || l === 0;
      }

    }

    window.customElements.define(EtoolsRamIndicators.is, EtoolsRamIndicators);
  </script>
</dom-module>
