<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../bower_components/polymer/lib/utils/debounce.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-tabs/paper-tabs.html">

<dom-module id="etools-tabs">
  <template>
    <style>
      *[hidden] {
        display: none !important;
      }

      :host {
        @apply --layout-horizontal;
        @apply --layout-start-justified;
      }

      :host([border-bottom]) {
        border-bottom: 1px solid var(--darker-divider-color);
      }

      paper-tabs {
        --paper-tabs-selection-bar-color: var(--primary-color);
      }

      paper-tab[link],
      paper-tab {
        --paper-tab-ink: var(--primary-color);
        padding: 0 24px;
      }

      paper-tab .tab-content {
        color: var(--dark-secondary-text-color);
        text-transform: uppercase;
      }

      paper-tab.iron-selected .tab-content {
        color: var(--primary-color);
      }

      @media print {
        :host {
          display: none;
        }
      }
    </style>

    <paper-tabs id="tabs"
                selected="{{activeTab}}"
                attr-for-selected="name"
                noink
                on-iron-select="_handleTabSelection">

      <template is="dom-repeat" items="[[tabs]]">
        <paper-tab name$="[[item.tab]]" link hidden$="[[item.hidden]]">
          <span class="tab-content">
            [[item.tabLabel]]
            <template is="dom-if" if="[[item.showTabCounter]]" restamp>
              ([[item.counter]])
            </template>
          </span>
        </paper-tab>
      </template>

    </paper-tabs>

  </template>

  <script>
    'use strict';

    /**
     * `iron-select` event is sent up to the parent, so it can be handled there
     * @polymer
     * @customElement
     */
    class EtoolsTabs extends Polymer.Element {

      static get is() {
        return 'etools-tabs';
      }

      static get properties() {
        return {
          activeTab: {
            type: String,
            notify: true
          },
          tabs: {
            type: Array,
            value: []
          }
        };
      }

      static get observers() {
        return [
          'notifyTabsResize(tabs.*)'
        ];
      }

      _handleTabSelection() {
        this.notifyTabsResize();
      }

      notifyTabsResize(tabsChange) {
        if (!tabsChange) {
          return;
        }
        this._debouncer = Polymer.Debouncer.debounce(this._debouncer,
            Polymer.Async.timeOut.after(50),
            () => {
              this.$.tabs.notifyResize();
            });
      }

    }

    window.customElements.define(EtoolsTabs.is, EtoolsTabs);
  </script>
</dom-module>
