<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../../../bower_components/etools-behaviors/etools-mixin-factory.html">
<link rel="import" href="../../mixins/event-helper-mixin.html">

<dom-module id="icons-actions">
  <template>
    <style>
      [hidden] {
        display: none !important;
      }

      :host {
        @apply --layout-horizontal;
        @apply --layout-center;
        background-color: var(--list-second-bg-color);
        position: absolute;
        top: 1px;
        right: 0;
        bottom: 1px;

        @apply --icons-actions;

        visibility: hidden;
      }

      paper-icon-button {
        color: var(--dark-icon-color, #6f6f70);
      }
    </style>
    <paper-icon-button hidden$="[[!showEdit]]" icon="create" on-tap="_onEdit"></paper-icon-button>
    <paper-icon-button hidden$="[[!showDelete]]" icon="delete" on-tap="_onDelete"></paper-icon-button>
    <paper-icon-button hidden$="[[!showDeactivate]]" icon="block" on-tap="_onDeactivate"></paper-icon-button>
  </template>

  <script>
    'use strict';

    /**
     * @polymer
     * @customElement
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
     */
    class IconsActions extends EtoolsMixinFactory.combineMixins([
      EtoolsPmpApp.Mixins.EventHelper
    ], Polymer.Element) {

      static get is() {
        return 'icons-actions';
      }

      static get properties() {
        return {
          itemDetails: {
            type: Object
          },
          showEdit: {
            type: Boolean,
            value: true
          },
          showDelete: {
            tye: Boolean,
            value: true
          },
          showDeactivate: {
            tye: Boolean,
            value: false
          }
        };
      }

      _onEdit() {
        this.fireEvent('edit');
      }

      _onDelete() {
        this.fireEvent('delete');
      }

      _onDeactivate() {
        this.fireEvent('deactivate');
      }

    }

    window.customElements.define(IconsActions.is, IconsActions);
  </script>
</dom-module>
