<link rel="import" href="../../../../../../../scripts/lodash.html">
<link rel="import" href="../../../../../../../endpoints/endpoints-mixin.html">
<script>
  'use strict';

  window.EtoolsPmpApp = window.EtoolsPmpApp || {};
  window.EtoolsPmpApp.Mixins = window.EtoolsPmpApp.Mixins || {};

  /**
   * @polymer
   * @mixinFunction
   * @appliesMixin EtoolsPmpApp.Mixins.Endpoints
   */
  EtoolsPmpApp.Mixins.ReportingRequirementsCommon =
      baseClass => class extends EtoolsPmpApp.Mixins.Endpoints(baseClass) {

    static get properties() {
      return {
        reportingRequirements: {
          type: Array,
          value: []
        },
        requirementsCount: {
          type: Number,
          value: 0,
          notify: true
        },
        interventionId: {
          type: Number,
          observer: '_interventionIdChanged'
        }
      };
    }

    static get observers() {
      return [
        '_countReportingReq(reportingRequirements.length)'
      ];
    }

    _interventionIdChanged(newId) {
      let endpoint = this.getEndpoint('reportingRequirements', {
        intervId: newId,
        reportType: this._getReportType()
      });
      this.sendRequest({method: 'GET', endpoint: endpoint})
          .then((response) => {
            this.set('reportingRequirements', response.reporting_requirements);
          });
    }

    _countReportingReq(length) {
      let l = (typeof length === 'number') ? length : 0;
      this.set('requirementsCount', l);
    }

    _getIndex(index) {
      return index + 1;
    }

    _empty(list) {
      return _.isEmpty(list);
    }

  };

</script>
