<link rel="import" href="../../../../../../../../../bower_components/moment-imports/moment-min.html">

<script>
  'use strict';

  window.EtoolsPmpApp = window.EtoolsPmpApp || {};
  window.EtoolsPmpApp.Mixins = window.EtoolsPmpApp.Mixins || {};

  /**
   * Common reporting requirements past dates check used for UI
   * @polymer
   * @mixinFunction
   */
  EtoolsPmpApp.Mixins.ReportingReqPastDatesCheck = Polymer.dedupingMixin(superClass => class extends superClass {

    static get properties() {
      return {
        inAmendment: Boolean,
        editMode: {
          type: Boolean,
          value: false
        }
      };
    }

    _uneditableStyles(inAmendment, dueDate, id) {
      return this._noInAmendmentPastDatesEdit(inAmendment, dueDate, id)
          ? this._getUneditableStyles()
          : '';
    }

    _getUneditableStyles() {
      return 'color: var(--secondary-text-color)';
    }

    _pastDueDate(dueDate) {
      let now = moment().format('YYYY-MM-DD');
      let dueD = moment(new Date(dueDate)).format('YYYY-MM-DD');
      return moment(dueD).isBefore(now);
    }

    _canEdit(editMode, inAmendment, dueDate, id) {
      return editMode && !this._noInAmendmentPastDatesEdit(inAmendment, dueDate, id);
    }

    _noInAmendmentPastDatesEdit(inAmendment, dueDate, id) {
      return inAmendment && this._pastDueDate(dueDate) && id > 0;
    }

  });

</script>
