<script>
  window.EtoolsPmpApp = window.EtoolsPmpApp || {};
  window.EtoolsPmpApp.Mixins = window.EtoolsPmpApp.Mixins || {};
  /**
   *
   * @polymerMixin
   * @mixinFunction
   */
   EtoolsPmpApp.Mixins.ReportingRequirementsCommon = baseClass => class extends baseClass {

    static get properties() {
      return {
        reportingRequirements: {
          type: Array,
          value: []
        },
        requirementsCount: {
          type: Number,
          value: 0,
          notify: true
        },
        interventionId: {
          type: Number,
          observer: '_interventionIdChanged'
        }
      };
    }

    static get observers() {
      return [
        'reportingRequirementsChanged(reportingRequirements, reportingRequirements.length)'
      ];
    }

    _interventionIdChanged(newId) {
      let endpoint = this.getEndpoint('reportingRequirements', {
        intervId: newId,
        reportType: this._getReportType()
      });
      this.sendRequest({method: 'GET', endpoint: endpoint})
            .then((response) => {
              this.set('reportingRequirements', response.reporting_requirements);
            });
    }

    reportingRequirementsChanged(reportingRequirements, length) {
      this._sortRequirementsAsc();
      this.set('requirementsCount', length);
    }

    _getIndex(index) {
      return index + 1;
    }


  }

</script>
