<link rel="import" href="../../../../../../../../../bower_components/etools-behaviors/etools-mixin-factory.html">
<link rel="import" href="../../../../../../../../../bower_components/etools-behaviors/etools-logs-mixin.html">

<link rel="import" href="../../../../../../../scripts/lodash.html">
<link rel="import" href="../../../../../../../endpoints/endpoints-mixin.html">
<link rel="import" href="../../../../../../../mixins/ajax-errors-parser-mixin.html">
<script>
  'use strict';

  window.EtoolsPmpApp = window.EtoolsPmpApp || {};
  window.EtoolsPmpApp.Mixins = window.EtoolsPmpApp.Mixins || {};

  /**
   * @polymer
   * @mixinFunction
   * @appliesMixin EtoolsLogsMixin
   * @appliesMixin EtoolsPmpApp.Mixins.Endpoints
   * @appliesMixin EtoolsPmpApp.Mixins.AjaxErrorsParser
   */
  EtoolsPmpApp.Mixins.ReportingRequirementsCommon =
      baseClass => class extends EtoolsMixinFactory.combineMixins([
        EtoolsLogsMixin,
        EtoolsPmpApp.Mixins.Endpoints,
        EtoolsPmpApp.Mixins.AjaxErrorsParser
      ], baseClass) {

    static get properties() {
      return {
        reportingRequirements: {
          type: Array,
          value: []
        },
        requirementsCount: {
          type: Number,
          value: 0,
          notify: true
        },
        interventionId: {
          type: Number,
          observer: '_interventionIdChanged'
        }
      };
    }

    static get observers() {
      return [
        '_countReportingReq(reportingRequirements.length)'
      ];
    }

    _interventionIdChanged(newId) {
      if (!newId) {
        return;
      }
      let endpoint = this.getEndpoint('reportingRequirements', {
        intervId: newId,
        reportType: this._getReportType()
      });
      this.sendRequest({method: 'GET', endpoint: endpoint})
          .then((response) => {
            this.set('reportingRequirements', response.reporting_requirements);
          })
          .catch((error) => {
            this.logError('Failed to get qpr data from API!', 'reporting-requirements-common-mixin', error);
            this.parseRequestErrorsAndShowAsToastMsgs(error, this);
          });
    }

    _countReportingReq(length) {
      let l = (typeof length === 'number') ? length : 0;
      this.set('requirementsCount', l);

      if (typeof this._sortRequirementsAsc === 'function') {
        this._sortRequirementsAsc();
      }
    }

    _getIndex(index) {
      return index + 1;
    }

    _empty(list) {
      return _.isEmpty(list);
    }

  };

</script>
