:root,
:host {
  --sl-font-mono: Roboto, Noto, sans-serif;
  --sl-font-sans: Roboto, Noto, sans-serif;
  --sl-font-serif: Roboto, Noto, sans-serif;
  --primary-color: #0099ff;
  --secondary-color: #0061e9; /* TODO: unused color, remove? */
  --ternary-color: #009a54;

  --primary-background-color: #ffffff;
  --secondary-background-color: #eeeeee;
  --light-theme-background-color: var(--sl-color-gray-100);
  --medium-theme-background-color: #eeeeee;
  --dark-theme-background-color: #233944;
  --default-btn-bg-color: rgba(0, 0, 0, 0.45);

  --primary-text-color: rgba(0, 0, 0, 0.87);
  --dark-primary-text-color: var(--primary-text-color);
  --medium-primary-text-color: #9d9d9d;
  --light-primary-text-color: rgba(255, 255, 255, 1);

  --expand-icon-color: #4d4d4d;

  --secondary-text-color: rgba(0, 0, 0, 0.54);
  --light-secondary-text-color: rgba(255, 255, 255, 1);
  --dark-secondary-text-color: var(--secondary-text-color);

  --dark-disabled-text-color: rgba(0, 0, 0, 0.38);
  --light-disabled-text-color: var(--medium-primary-text-color);

  --light-icon-color: rgba(255, 255, 255, 1);
  --medium-icon-color: var(--medium-primary-text-color);
  --dark-icon-color: rgba(0, 0, 0, 0.65);
  --light-disabled-icon-color: var(--medium-primary-text-color);
  --dark-disabled-icon-color: rgba(0, 0, 0, 0.38);

  --light-divider-color: rgba(0, 0, 0, 0.12);
  --light-hex-divider-color: #b8b8b8;
  --dark-divider-color: rgba(0, 0, 0, 0.4);
  --darker-divider-color: var(--medium-primary-text-color);

  --light-hover-color: rgba(255, 255, 255, 0.01);
  --dark-hover-color: rgba(0, 0, 0, 0.01);

  --light-ink-color: rgba(255, 255, 255, 0.3);
  --dark-ink-color: rgba(0, 0, 0, 0.3);

  --dark-theme-background-color: #233944;

  --header-color: #ffffff;
  --header-bg-color: var(--dark-theme-background-color);
  --nonprod-header-color: #a94442;
  --nonprod-text-warn-color: #fff;

  --amendment-mode-color: rgba(139, 0, 216, 0.99); /* .99 is to fix chrome strange bg color transparency */

  --main-border-color: #c1c1c1;

  --error-color: #ea4022;
  --light-error-color: #f1b8ae;
  --dark-error-color: #c5102a;

  --warning-color: #ff9044;
  --light-warning-color: #ffc8a2;

  --success-color: #72c300;
  --light-success-color: #bef078;

  --info-color: #cebc06;
  --light-info-color: #fff176;
  --lightest-info-color: #fef9cd;
  --primary-color-hover: #027ac9;
  --default-btn-bg-hover-color: rgba(0, 0, 0, 0.55);

  --sl-color-primary-600: var(--primary-color);
  --sl-color-primary-500: var(--primary-color-hover);
  --sl-color-success-600: var(--ternary-color);
  --sl-color-neutral-600: var(--default-btn-bg-color);
  --sl-color-neutral-500: var(--default-btn-bg-hover-color);
  --sl-color-danger-600: var(--error-color);

  --error-box-heading-color: var(--error-color);
  --error-box-bg-color: #f2dede;
  --error-box-border-color: #ebccd1;
  --error-box-text-color: var(--error-color);

  --add-button-color: var(--success-color);
  --icon-delete-color: var(--error-color);

  --gray-06: rgba(0, 0, 0, 0.06);
  --gray-light: rgba(0, 0, 0, 0.38);

  /* partner risk ratings colors */
  --risk-rating-not-assesed-color: #dcd8d8;
  --risk-rating-high-color: #740e0e;
  --risk-rating-significant-color: #f05454;
  --risk-rating-moderate-color: #ffca3a;
  --risk-rating-low-color: #2fb0f2;
  --risk-rating-not-required-color: #d8d8d8;

  --status-synced-color: #00a651;
  --status-blocked-color: #ffa149;
  --status-not-synced-color: #3a94ff;

  --status-suspended-color: var(--warning-color);
  --status-terminated-color: var(--error-box-heading-color);
  --status-completed-color: var(--success-color);
  --status-active-color: var(--primary-color);

  /* etools-action-button styles*/
  --etools-action-button-main-color: var(--primary-color);
  --etools-action-button-text-color: var(--light-primary-text-color);
  --etools-action-button-dropdown-higlight-bg: var(--list-second-bg-color);
  --etools-action-button-divider-color: rgba(255, 255, 255, 0.12);

  /* etools-status styles */
  --etools-status-divider-color: var(--light-divider-color);
  --etools-status-icon-inactive-color: var(--medium-icon-color);
  --etools-status-icon-pending-color: var(--primary-color);
  --etools-status-icon-completed-color: var(--success-color);
  --etools-status-icon-text-color: var(--light-primary-text-color);
  --etools-status-text-color: var(--medium-primary-text-color);
  --etools-status-inactive-text-color: var(--primary-text-color);

  /* list colors */
  --list-primary-color: var(--primary-color);
  --list-secondary-color: var(--primary-background-color);
  --list-divider-color: var(--light-divider-color);
  --list-bg-color: var(--primary-background-color);
  --list-second-bg-color: var(--medium-theme-background-color);
  --list-text-color: var(--primary-text-color);
  --list-secondary-text-color: var(--secondary-text-color);
  --list-icon-hover-color: var(--primary-text-color);
  --list-icon-color: var(--dark-icon-color);
  --list-disabled-icon-color: var(--light-disabled-icon-color);

  /* custom etools polymer elements general customization */

  /* paper-checkbox, radio btns style */
  --paper-checkbox-checked-color: var(--primary-color);
  --paper-checkbox-unchecked-color: var(--secondary-text-color);
  --paper-radio-button-checked-color: var(--primary-color);
  --paper-radio-button-unchecked-color: var(--secondary-text-color);
  --paper-toggle-button-checked-bar-color: var(--primary-color);
  --paper-toggle-button-checked-button-color: var(--primary-color);

  /* etools-panel styles */
  --ecp-header-color: var(--primary-text-color);

  --ecp-expand-btn: {
    color: var(--light-icon-color);
    padding: 4px;
  }

  --toolbar-height: 60px;
  --side-bar-scrolling: visible;

  --esmm-external-wrapper: {
    width: 100%;
    margin: 0;
  }
  --esmm-delete-icon-color: var(--error-color);

  /* sl-tooltip styles */
  --sl-tooltip-background-color: rgba(97, 97, 97, 0.9);

  /* etools-dialog styles */
  --etools-dialog-primary-color: #ffffff;
  --etools-dialog-contrast-text-color: var(--primary-text-color);
  --epd-profile-dialog-border-b: solid 1px var(--dark-divider-color);

  /* global loading box content */
  --etools-loading-border-color: rgba(255, 255, 255, 0.12);
  --etools-loading-shadow-color: #333333;

  --paper-item: {
    cursor: pointer;
  }

  --paper-input-container-label-floating: {
    color: var(--secondary-text-color, #737373);
  }

  --paper-input-prefix: {
    color: var(--secondary-text-color, #737373);
  }

  --paper-button_-_padding-inline-start: 0.57em;
  --paper-button_-_padding-inline-end: 0.57em;

  /* In Edge, paper-input's internal value is not updated
           when it's cleared by click on x btn, so we're hiding the btn
        */
  --paper-input-container-ms-clear: {
    display: none;
    width: 0;
    height: 0;
  }

  *:focus:not(paper-icon-button):not(paper-radio-button):not(comments-panels) {
    outline: 0;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
  }

  --paper-button-flat-keyboard-focus: {
    outline: 0;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.34), 0 1px 18px 0 rgba(0, 0, 0, 0.32), 0 3px 5px -1px rgba(0, 0, 0, 0.6);
  }

  --paper-button-raised-keyboard-focus: {
    outline: 0;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.34), 0 1px 18px 0 rgba(0, 0, 0, 0.32), 0 3px 5px -1px rgba(0, 0, 0, 0.6);
  }

  --paper-tooltip-delay-in: 0;

  --required-star-style: {
    background: url('./assets/images/required.svg') no-repeat 99% 20%/8px;
    width: auto !important;
    max-width: 100%;
    right: auto;
    padding-inline-end: 15px;
  }

  --nested-content-panel-title: {
    color: var(--primary-color);
    text-align: left;
    font-size: 16px;
    font-weight: bold;
  }

  --nested-content-panel-collapse-btn: {
    color: var(--dark-icon-color);
    width: 28px;
    height: 28px;
    padding: 0;
    margin-inline-end: 15px;
  }

  --paper-fab-btn-green: {
    width: 58px;
    height: 58px;
    background: var(--add-button-color);
    z-index: 51;
  }

  --basic-btn-style: {
    width: auto;
    margin: 0;
    color: var(--primary-color);
    padding: 0;
    padding-inline-end: 5px;
    font-size: 14px;
    font-weight: bold;
  }

  --partner-status-wrapper: {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  --pmp-paper-dialog-content: {
    padding: 8px 24px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

html[dir='rtl'] {
  --required-star-style: {
    background: url('./assets/images/required.svg') no-repeat 0 20%/8px;
    right: auto;
    padding-inline-end: 15px;
  }
}
