<link rel="import" href="../../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../../../../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../../../../../../../../bower_components/etools-dialog/etools-dialog.html">
<link rel="import" href="../../../../../../../../../bower_components/etools-datepicker/etools-simple-datepicker.html">
<link rel="import" href="../../../../../../../../../bower_components/etools-behaviors/etools-mixin-factory.html">
<link rel="import" href="../../../../../../../../../bower_components/etools-data-table/etools-data-table.html">

<link rel="import" href="../../../../../../../layout/components/etools-date-input.html">
<link rel="import" href="../../../../../../../scripts/lodash.html">
<link rel="import" href="../../../../../../../config/app-constants.html">
<link rel="import" href="../../../../../../../endpoints/endpoints-mixin.html">
<link rel="import" href="../../../../../../../redux/etools-data-redux-store.html">
<link rel="import" href="../../../../../../../mixins/event-helper-mixin.html">
<link rel="import" href="../../../../../../../mixins/date-mixin.html">
<link rel="import" href="../../../../../../../mixins/ajax-errors-parser-mixin.html">
<link rel="import" href="../../../../../../../styles/grid-layout-styles.html">
<link rel="import" href="../../../../../../../styles/buttons-styles.html">
<link rel="import" href="../../../../../../../styles/required-field-styles.html">

<link rel="import" href="hru-list.html">

<dom-module id="edit-hru-dialog">
  <template strip-whitespace>
    <style include="grid-layout-styles buttons-styles data-table-styles required-field-starred-styles">
      *[hidden] {
        display: none !important;
      }

      #add-selected-date {
        display: inline-block;
        width: auto;
        margin-top: 24px;
        padding-right: 0;
      }

      .start-date {
        padding-bottom: 24px;
        max-width: 300px;
      }
    </style>

    <etools-dialog id="editHruDialog"
                   size="lg"
                   dialog-title="Add/Edit Dates for Humanitarian Report - UNICEF"
                   on-confirm-btn-clicked="_saveHurData"
                   ok-btn-text="Save"
                   keep-dialog-open
                   hidden$="[[datePickerOpen]]"
                   spinner-text="Saving...">
      <div class="start-date">
      <etools-date-input id="dtPickerStDate"
                        label="Select start date"
                        value="{{repStartDate}}"
                        required
                        min-date="[[minDate]]"
                        auto-validate
                        open="{{datePickerOpen}}"
                        no-init show-clear-btn>
      </etools-date-input>
      </div>
      <div>
        Use the date picker to select due dates of humanitarian report requirements.
      </div>

      <div class="layout-horizontal row-padding-v">
        <div class="col layout-vertical col-6">
          <etools-simple-datepicker id="datepicker"
                                    date="[[prepareDatepickerDate(selectedDate)]]"
                                    pretty-date="{{selectedDate}}"
                                    format="YYYY-MM-DD"></etools-simple-datepicker>

          <paper-button id="add-selected-date" class="secondary-btn" on-click="_addToList">
            Add Selected Date to List
          </paper-button>
        </div>
        <div class="col col-6">
          <div class="row-h" hidden$="[[!_empty(hruData.length)]]">No dates added.</div>
          <hru-list id="hruList"
                    class="flex-c"
                    with-scroll
                    hru-data="[[hruData]]"
                    hidden$="[[_empty(hruData.length)]]"
                    edit-mode
                    in-amendment="[[inAmendment]]"
                    on-delete-hru="_deleteHruDate"
                    start-date="[[repStartDate]]">
          </hru-list>
        </div>
      </div>

    </etools-dialog>

  </template>
  <script>
    'use strict';

    /**
     * @polymer
     * @customElement
     * @appliesMixin EtoolsPmpApp.Mixins.EtoolsDataReduxStore
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
     * @appliesMixin EtoolsPmpApp.Mixins.Date
     * @appliesMixin EtoolsPmpApp.Mixins.Endpoints
     * @appliesMixin EtoolsPmpApp.Mixins.AjaxErrorsParser
     */
    class EditHruDialog extends EtoolsMixinFactory.combineMixins([
      EtoolsPmpApp.Mixins.EtoolsDataReduxStore,
      EtoolsPmpApp.Mixins.EventHelper,
      EtoolsPmpApp.Mixins.Date,
      EtoolsPmpApp.Mixins.Constants,
      EtoolsPmpApp.Mixins.Endpoints,
      EtoolsPmpApp.Mixins.AjaxErrorsParser
    ], Polymer.Element) {

      static get is() {
        return 'edit-hru-dialog';
      }

      static get properties() {
        return {
          interventionId: Number,
          interventionStart: {
            type: Date
          },
          inAmendment: {
            type: Boolean,
            statePath: 'pageData.in_amendment'
          },
          repStartDate: {
            type: Date
          },
          minDate: Date,
          selectedDate: String,
          hruData: {
            type: Array,
            value: []
          },
          toastMsgLoadingSource: Object,
          _hruEditedIndex: {
            type: Number,
            value: -1
          },
          datePickerOpen: {
            type: Boolean,
            value: false
          }
        };
      }

      static get observers() {
        return [
          'intervDataChanged(interventionStart, interventionId)'
        ];
      }

      intervDataChanged() {
        this.minDate = this._getMinDate();
      }

      _getMinDate() {
        if (!this.interventionStart) {
          return null;
        }
        let stDt = this._convertDate(this.interventionStart);
        if (stDt) {
          return moment(stDt).add(-1, 'days').toDate();
        }
        return null;
      }

      _setDefaultStartDate() {
        if (_.isEmpty(this.hruData)) {
          this.repStartDate = this.interventionStart;
        } else {
          this.repStartDate = this._getSavedStartDate();
        }
      }
      _getSavedStartDate() {
        this.hruData.sort((a, b) => {
          return new Date(a.due_date) - new Date(b.due_date);
        });

        return this.hruData[0].start_date;
      }

      openDialog() {
        this._setDefaultStartDate();
        this.$.editHruDialog.opened = true;
      }

      closeDialog() {
        this.$.editHruDialog.opened = false;
      }

      _empty(listLength) {
        return listLength === 0 || !listLength;
      }

      _addToList() {
        let alreadySelected = this.hruData.find(d => d.due_date === this.selectedDate);
        if (alreadySelected) {
          this.toastMsgLoadingSource.fireEvent('toast',
              {text: 'This date is already added to the list.', showCloseBtn: true});
          return;
        }
        this.push('hruData', {due_date: this.selectedDate, end_date: this.selectedDate});
      }

      _deleteHruDate(e) {
        this.splice('hruData', e.detail.index, 1);
      }

      _hideEditedIndexInfo(index) {
        return index === -1;
      }

      updateStartDates(startDate) {
        if (_.isEmpty(this.hruData)) {
          return;
        }

        this.set('hruData.0.start_date', startDate);

        this._calculateStartDateForTheRestOfItems();
      }

      _calculateStartDateForTheRestOfItems() {
        let i;
        for (i = 1; i < this.hruData.length; i++) {
          this.set('hruData.' + i + '.start_date', this._computeStartDate(i));
        }
      }

      _computeStartDate(i) {
        return moment(this.hruData[i-1].due_date).add(1, 'days').format('YYYY-MM-DD');
      }

      _saveHurData() {
        this.updateStartDates(this.repStartDate);

        let endpoint = this.getEndpoint('reportingRequirements', {
          intervId: this.interventionId,
          reportType: this.CONSTANTS.REQUIREMENTS_REPORT_TYPE.HR
        });
        let dialog = this.$.editHruDialog;
        dialog.startSpinner();
        this.sendRequest({
          method: 'POST',
          endpoint: endpoint,
          body: {reporting_requirements: this.hruData}
        }).then((response) => {
          this.fireEvent('reporting-requirements-saved', response.reporting_requirements);
          dialog.stopSpinner();
          this.closeDialog();
        }).catch((error) => {
          this.logError('Failed to save/update HR data!', 'edit-hru-dialog', error);
          this.parseRequestErrorsAndShowAsToastMsgs(error, this.toastMsgLoadingSource);
          dialog.stopSpinner();
        });
      }

    }

    window.customElements.define(EditHruDialog.is, EditHruDialog);
  </script>
</dom-module>
