<link rel="import" href="../../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../../../../../../../../../bower_components/etools-data-table/etools-data-table.html">
<link rel="import" href="../../../../../../../../../bower_components/etools-behaviors/etools-mixin-factory.html">

<link rel="import" href="../../../../../../../scripts/lodash.html">
<link rel="import" href="../../../../../../../mixins/common-mixin.html">
<link rel="import" href="../../../../../../../mixins/event-helper-mixin.html">
<link rel="import" href="../../../../../../../styles/grid-layout-styles.html">

<link rel="import" href="../../../../../../../layout/components/icons-actions.html">
<link rel="import" href="../mixins/reporting-req-past-dates-check.html">
<link rel="import" href="../styles/reporting-requirements-lists-styles.html">

<dom-module id="hru-list">
  <template>
    <style include="grid-layout-styles data-table-styles reporting-requirements-lists-styles">
      :host([with-scroll]) {
        max-height: 620px;
        overflow-y: auto;
      }
    </style>

    <etools-data-table-header no-collapse
                              no-title>
      <etools-data-table-column class="col-1 right-align index-col">ID</etools-data-table-column>
      <etools-data-table-column class="flex-c">Report Due Date</etools-data-table-column>
      <etools-data-table-column class="flex-c">Start Date</etools-data-table-column>
      <etools-data-table-column class="col-1"></etools-data-table-column>
    </etools-data-table-header>
    <template is="dom-repeat" items="[[hruData]]">
      <etools-data-table-row no-collapse
                             secondary-bg-on-hover$="[[_canEdit(editMode, inAmendment, item.due_date, item.id)]]">
        <div slot="row-data" style$="[[_uneditableStyles(inAmendment, item.due_date, item.id)]]">
          <span class="col-data col-1 right-align index-col">[[_getIndex(index, hruData)]]</span>
          <span class="col-data flex-c">[[getDateDisplayValue(item.due_date)]]</span>
          <span class="col-data flex-c">[[getDateDisplayValue(item.start_date)]]</span>
          <span class="col-data col-1 actions">
            <icons-actions hidden$="[[!_canEdit(editMode, inAmendment, item.due_date, item.id)]]"
                           data-args$="[[index]]"
                           on-delete="_deleteHruReq"
                           show-edit="[[_listItemEditable]]">
            </icons-actions>
          </span>
        </div>
      </etools-data-table-row>
    </template>

  </template>
  <script>
    'use strict';

    /**
     * @polymer
     * @customElement
     * @appliesMixin EtoolsPmpApp.Mixins.Common
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
     * @appliesMixin EtoolsPmpApp.Mixins.ReportingReqPastDatesCheck
     */
    class HruList extends EtoolsMixinFactory.combineMixins([
          EtoolsPmpApp.Mixins.Common,
          EtoolsPmpApp.Mixins.EventHelper,
          EtoolsPmpApp.Mixins.ReportingReqPastDatesCheck],
        Polymer.Element) {

      static get is() {
        return 'hru-list';
      }

      static get properties() {
        return {
          hruData: {
            type: Array,
            value: []
          },
          _listItemEditable: {
            type: Boolean,
            value: false
          },
          hruMainEl: Object,
          usePaginationIndex: {
            type: Boolean,
            value: false
          },
          disableSorting: {
            type: Boolean,
            value: false
          },
          startDate: {
            type: Date,
            observer: '_updateStartDate'
          }
        };
      }

      static get observers() {
        return [
          '_sortReportingReq(hruData, hruData.length)'
        ];
      }

      _sortReportingReq(data) {
        if (this.disableSorting) {
          return;
        }
        if (!_.isEmpty(data)) {
          this._sortRequirementsAsc();
        }

        this._updateStartDate();
      }

      _sortRequirementsAsc() {
        this.hruData.sort((a, b) => {
          return new Date(a.due_date) - new Date(b.due_date);
        });
      }

      _updateStartDate() {
        let index = this.hruData.findIndex(el => !_.isEmpty(el.start_date));
        this.set('hruData.' + index + '.start_date', null);
        this.set('hruData.0.start_date', this.startDate);
      }

      _getIndex(index) {
        if (this.usePaginationIndex) {
          return this.hruMainEl._getIndex(index);
        }
        return parseInt(index, 10) + 1;
      }

      _deleteHruReq(e) {
        this.fireEvent('delete-hru', {index: e.target.getAttribute('data-args')});
      }
    }

    window.customElements.define(HruList.is, HruList);
  </script>
</dom-module>

