<link rel="import" href="../../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../../../../../../bower_components/etools-behaviors/etools-mixin-factory.html">

<link rel="import" href="../../../../../../../mixins/frontend-pagination-mixin.html">

<link rel="import" href="../../../../../../../styles/app-mixins.html">
<link rel="import" href="../../../../../../../styles/buttons-styles.html">
<link rel="import" href="../../../../../../../styles/grid-layout-styles.html">

<link rel="import" href="../mixins/reporting-requirements-common-mixin.html">
<link rel="import" href="edit-hru-dialog.html">
<link rel="import" href="hru-list.html">

<dom-module id="humanitarian-reporting-req-unicef">
  <template>
    <style include="buttons-styles grid-layout-styles">
      :host {
        display: block;
      }
      *[hidden] {
        display: none !important;
      }
    </style>

    <div hidden$="[[!_empty(reportingRequirements)]]">
      <div class="row-h">
        There are no humanitarian report requirements set.
      </div>
      <div class="row-h" hidden$="[[!_thereAreHFIndicators(expectedResults)]]">
        <paper-button class="secondary-btn" on-click="openUnicefHumanitarianRepReqDialog">
          ADD REQUIREMENTS
        </paper-button>
      </div>
      <div class="row-h" hidden$="[[_thereAreHFIndicators(expectedResults)]]">
        Can be modified only if there are High Frequency Humanitarian Indicators defined.
      </div>
    </div>

    <div class="flex-c" hidden$="[[_empty(reportingRequirements)]]">
      <hru-list id="hruList"
                class="flex-c"
                hru-data="[[dataItems]]"
                disable-sorting
                use-pagination-index>
      </hru-list>
      <etools-data-table-footer
          page-size="[[pagination.pageSize]]"
          page-number="[[pagination.pageNumber]]"
          total-results="[[pagination.totalResults]]"
          on-page-size-changed="_pageSizeChanged"
          on-page-number-changed="_pageNumberChanged">
      </etools-data-table-footer>
    </div>

  </template>

  <script>
    'use strict';

    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsPmpApp.Mixins.ReportingRequirementsCommon
     * @appliesMixin EtoolsPmpApp.Mixins.FrontendPagination
     */
    const HumanitarianReportingReqUnicefMixins = EtoolsMixinFactory.combineMixins([
      EtoolsPmpApp.Mixins.ReportingRequirementsCommon,
      EtoolsPmpApp.Mixins.FrontendPagination
    ], Polymer.Element);

    /**
     * @customElement
     * @polymer
     * @appliesMixin HumanitarianReportingReqUnicefMixins
     */
    class HumanitarianReportingReqUnicef extends HumanitarianReportingReqUnicefMixins {
      static get is() {
        return 'humanitarian-reporting-req-unicef';
      }

      static get properties() {
        return {
          editHruDialog: Object,
          expectedResults: Array,
          interventionStart: Date

        };
      }
      static get observers() {
        return [
          'setTotalResults(interventionId, reportingRequirements)',
          '_paginationChanged(pagination.pageNumber, pagination.pageSize, reportingRequirements)'
        ];
      }

      ready() {
        super.ready();
        this._createEditHruDialog();
        this.$.hruList.set('hruMainEl', this);
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        if (this.editHruDialog) {
          document.querySelector('body').removeChild(this.editHruDialog);
        }
      }

      _createEditHruDialog() {
        this.editHruDialog = document.createElement('edit-hru-dialog');
        this.editHruDialog.set('toastMsgLoadingSource', this);
        this.editHruDialog.addEventListener('reporting-requirements-saved',
            this._reportingRequirementsSaved.bind(this));
        document.querySelector('body').appendChild(this.editHruDialog);
      }

      _reportingRequirementsSaved(e) {
        this._onReportingRequirementsSaved(e);
        // reset page number
        this.set('pagination.pageNumber', 1);
      }

      _sortRequirementsAsc() {
        this.reportingRequirements.sort((a, b) => {
          return new Date(a.due_date) - new Date(b.due_date);
        });
      }

      _getReportType() {
        return this.CONSTANTS.REQUIREMENTS_REPORT_TYPE.HR;
      }

      openUnicefHumanitarianRepReqDialog() {
        let hruData = [];
        if (this.requirementsCount > 0) {
          hruData = JSON.parse(JSON.stringify(this.reportingRequirements));
        }
        this.editHruDialog.set('hruData', hruData);
        this.editHruDialog.set('selectedDate', null);
        this.editHruDialog.set('interventionId', this.interventionId);
        this.editHruDialog.set('interventionStart', this.interventionStart);
        this.editHruDialog.openDialog();
      }

      setTotalResults(interventionId, reportingRequirements) {
        if (typeof interventionId === 'undefined' ||
            typeof reportingRequirements === 'undefined') {
          return;
        }
        this.set('pagination.totalResults', reportingRequirements.length);
      }

      _getIndex(index) {
        return ((index + 1) + (this.pagination.pageSize * (this.pagination.pageNumber - 1)));
      }

      _thereAreHFIndicators(expectedResults) {
        if (!expectedResults) {
          return false;
        }
        let hfIndicator = expectedResults.find((r) => {
          return r.ll_results.find((llr) => {
            return llr.applied_indicators.find((i) => {
              return i.is_active && i.is_high_frequency;
            });
          });
        });
        return hfIndicator ? true : false;
      }
    }

    window.customElements.define(HumanitarianReportingReqUnicef.is, HumanitarianReportingReqUnicef);
  </script>
</dom-module>
