<link rel="import" href="../../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../../bower_components/etools-behaviors/etools-mixin-factory.html">
<link rel="import" href="../../../../../../../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../../../../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../../../../../bower_components/polymer/lib/utils/debounce.html">

<link rel="import" href="../../../../../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../../../../../bower_components/etools-dropdown/etools-dropdown-multi.html">
<link rel="import" href="../../../../../../../../bower_components/etools-behaviors/etools-mixin-factory.html">
<link rel="import" href="../../../../../../../../bower_components/etools-content-panel/etools-content-panel.html">
<link rel="import" href="../../../../../../../../bower_components/etools-data-table/etools-data-table.html">
<link rel="import" href="../../../../../../../../bower_components/etools-dialog/dynamic-dialog-mixin.html">
<link rel="import" href="../../../../../../validators/required-and-not-future-date-validator.html">


<link rel="import" href="../../../../../../layout/components/etools-form-element-wrapper.html">
<link rel="import" href="../../../../../../layout/components/etools-single-file.html">
<link rel="import" href="../../../../../../layout/components/etools-date-input.html">
<link rel="import" href="../../../../../../config/app-constants.html">

<link rel="import" href="../../../../../../styles/grid-layout-styles.html">
<link rel="import" href="../../../../../../styles/shared-styles.html">
<link rel="import" href="../../../../../../styles/repeatable-data-sets-styles.html">
<link rel="import" href="../../../../../../styles/file-styles.html">
<link rel="import" href="../../../../../../styles/buttons-styles.html">

<link rel="import" href="../../../../../../scripts/lodash.html">
<link rel="import" href="../../../../../../redux/etools-data-redux-store.html">
<link rel="import" href="../../../../../../mixins/repeatable-data-sets-mixin.html">
<link rel="import" href="../../../../../../mixins/event-helper-mixin.html">
<link rel="import" href="../../../../../../mixins/common-mixin.html">

<link rel="import" href="add-ag-amendment-dialog.html">

<dom-module id="agreement-amendments">
  <template strip-whitespace>
    <style
        include="grid-layout-styles shared-styles data-table-styles
          repeatable-data-sets-styles repeatable-data-sets-styles-v2 file-styles buttons-styles">
      [hidden] {
        display: none !important;
      }

      :host {
        display: block;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      .file-wrapper {
        width: 100%;
        max-width: 100%;
      }

      #amendments-wrapper {
        margin-top: 16px;
      }

      :host(:not([edit-mode])) #amendments-wrapper {
        margin-bottom: 24px;
      }

      /* amendment template download section styles start */
      #download-template-msg {
        max-width: calc(100% - 210px);
      }

      #download-template-btn {
        max-width: 220px;
        margin: 0 0 0 24px;
        padding: 0;
      }

      #download-template-a {
        display: inherit;
      }

      /* amendment template download section styles end */

      .attachment {
        color: var(--dark-icon-color);
        margin-right: 8px;
      }
    </style>

    <etools-content-panel panel-title="Amendments ([[dataItems.length]])">

      <div slot="panel-btns">
        <paper-icon-button icon="add-box"
                           hidden$="[[!editMode]]"
                           disabled$="[[!editMode]]"
                           title="Add"
                           on-click="_openAddAgAmendmentDialog">
        </paper-icon-button>
      </div>

      <div id="download-template-wrapper" class="row-h flex-c row-second-bg b-border">
        <!-- Amendments template download -->
        <div id="download-template-msg">
          Use the amendment template for documenting changes and signing.
        </div>
        <!-- Download template btn -->
        <a id="download-template-a" target="_blank" href="/static/agreements/amendment_template.docx">
          <paper-button id="download-template-btn" class="secondary-btn">
            <iron-icon icon="file-download"></iron-icon>
            Download template
          </paper-button>
        </a>
      </div>

      <div id="amendments-wrapper" hidden$="[[_emptyList(dataItems.length)]]">

        <etools-data-table-header id="listHeader"
                                  no-collapse
                                  no-title>
          <etools-data-table-column class="col-1">
            Reference No. #
          </etools-data-table-column>
          <etools-data-table-column class="col-4">
            Amendment Type
          </etools-data-table-column>
          <etools-data-table-column class="col-2">
            Signed Date
          </etools-data-table-column>
          <etools-data-table-column class="flex-c">
            Signed Amendment
          </etools-data-table-column>
        </etools-data-table-header>

        <template is="dom-repeat" items="{{dataItems}}">

          <etools-data-table-row no-collapse>
            <div slot="row-data">
              <span class="col-data col-1">
                [[item.number]]
              </span>
              <span class="col-data col-4">
                [[_getReadonlyAmendmentTypes(item.types)]]

              </span>
              <span class="col-data col-2">
                [[prettyDate(item.signed_date)]]
              </span>
              <span class="col-data flex-c">
                <iron-icon icon="attachment" class="attachment"></iron-icon>
                <span class="break-word">
                  <!-- target="_blank" is there for IE -->
                  <a href$="[[item.signed_amendment_file]]"
                     target="_blank" download>[[getFileNameFromURL(item.signed_amendment_file)]]</a>
                </span>
              </span>
            </div>
          </etools-data-table-row>

          <!--<div class="row-h item-container">-->
            <!--<div class$="item-actions-container [[_getLockedClass(item.id)]]" data-item-nr$="[[_getItemNr(index)]]">-->
              <!--<div class="actions">-->
                <!--<paper-icon-button class="action delete"-->
                                   <!--on-tap="_openDeleteConfirmation"-->
                                   <!--data-args$="[[index]]"-->
                                   <!--icon="cancel">-->
                <!--</paper-icon-button>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="item-content">-->

              <!--<div class="row-h flex-c">-->
                <!--<div class="col col-4">-->
                  <!--&lt;!&ndash; Signed Date &ndash;&gt;-->
                  <!--<required-and-not-future-date-validator validator-name="signedDate_[[index]]_validator"-->
                                                          <!--field-selector="#signedDate_[[index]]">-->
                  <!--</required-and-not-future-date-validator>-->
                  <!--<etools-date-input id$="signedDate_[[index]]"-->
                                     <!--label="Signed Date"-->
                                     <!--value="{{item.signed_date}}"-->
                                     <!--error-message="Please select signed date"-->
                                     <!--no-init show-clear-btn-->
                                     <!--readonly$="[[_showReadonlyDetails(item.id)]]"-->
                                     <!--validator="signedDate_[[index]]_validator"-->
                                     <!--auto-validate$="[[!_showReadonlyDetails(item.id)]]">-->
                  <!--</etools-date-input>-->
                <!--</div>-->
                <!--<div class="col col-8 file-container">-->
                  <!--&lt;!&ndash; Signed Agreement &ndash;&gt;-->
                  <!--<div class="file-wrapper">-->
                    <!--<etools-single-file id$="fileUpload_[[index]]"-->
                                        <!--label="Signed Amendment"-->
                                        <!--file="{{item.signed_amendment}}"-->
                                        <!--internal-file="{{item.signed_amendment_file}}"-->
                                        <!--error-message="Signed Amendment file is required"-->
                                        <!--required-->
                                        <!--auto-validate-->
                                        <!--accept=".doc,.docx,.pdf,.jpg,.png"-->
                                        <!--readonly$="[[_showReadonlyDetails(item.id)]]">-->
                    <!--</etools-single-file>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="row-h flex-c">-->
                <!--<template is="dom-if" if="[[!_showReadonlyDetails(item.id)]]">-->
                  <!--<etools-dropdown-multi id$="amendmentTypes_[[index]]"-->
                                         <!--label="Amendment Types"-->
                                         <!--trigger-value-change-event$="[[!_showReadonlyDetails(item.id)]]"-->
                                         <!--options="[[_getAmendmentTypes(agreementType, _amendmentTypes)]]"-->
                                         <!--selected-values="{{item.types}}"-->
                                         <!--hide-search-->
                                         <!--error-message="Please select amendment type"-->
                                         <!--required-->
                                         <!--auto-validate-->
                                         <!--on-etools-selected-items-changed="_onAmendmentTypesSelected">-->
                  <!--</etools-dropdown-multi>-->
                <!--</template>-->
                <!--<template is="dom-if" if="[[_showReadonlyDetails(item.id)]]">-->
                  <!--&lt;!&ndash; readonly amendment types &ndash;&gt;-->
                  <!--<etools-form-element-wrapper label="Amendment Types">-->
                    <!--<span class="placeholder" hidden$="[[item.types.length]]">&#8212;</span>-->
                    <!--<span hidden$="[[!item.types.length]]">-->
                    <!--[[_getReadonlyAmendmentTypes(item.types)]]-->
                  <!--</span>-->
                  <!--</etools-form-element-wrapper>-->
                <!--</template>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        </template>
      </div>

      <div class="row-h" hidden$="[[!_emptyList(dataItems.length)]]">
        <p>There are no amendments added.</p>
      </div>

    </etools-content-panel>

  </template>

  <script>
    'use strict';

    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsMixins.DynamicDialogMixin
     * @appliesMixin EtoolsPmpApp.Mixins.EtoolsDataReduxStore
     * @appliesMixin EtoolsPmpApp.Mixins.RepeatableDataSets
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
     * @appliesMixin EtoolsPmpApp.Mixins.Constants
     * @appliesMixin EtoolsPmpApp.Mixins.Common
     */
    const AgreementAmendmentsRequiredMixins = EtoolsMixinFactory.combineMixins([
      EtoolsMixins.DynamicDialogMixin,
      EtoolsPmpApp.Mixins.EtoolsDataReduxStore,
      EtoolsPmpApp.Mixins.RepeatableDataSets,
      EtoolsPmpApp.Mixins.EventHelper,
      EtoolsPmpApp.Mixins.Constants,
      EtoolsPmpApp.Mixins.Common
    ], Polymer.Element);

    /**
     * @polymer
     * @customElement
     * @appliesMixin AgreementAmendmentsRequiredMixins
     */
    class AgreementAmendments extends AgreementAmendmentsRequiredMixins {
      static get is() {
        return 'agreement-amendments';
      }

      static get properties() {
        return {
          _deleteEpName: {
            type: String,
            value: 'agreementAmendmentsDelete',
            readOnly: true
          },
          agreementType: {
            type: String,
            value: ''
          },
          _amendmentTypes: {
            type: Array,
            statePath: 'agreementAmendmentTypes'
          },
          legacyAmendmentTypes: {
            type: Object,
            value: {
              'CP extension': 'Extension of Country Programme Cycle'
            }
          },
          _addAgAmendmentDialog: Object
        };
      }

      static get observers() {
        return [
          '_dataItemsChanged(dataItems.length)'
        ];
      }

      ready() {
        super.ready();
        this._createAddAgAmendmentDialog();

        this.dataSetModel = {
          id: null,
          signed_date: null,
          signed_amendment: null,
          types: []
        };
      }

      _createAddAgAmendmentDialog() {
        this._addAgAmendmentDialog = document.createElement('add-ag-amendment-dialog');
        this._addAgAmendmentDialog.setAttribute('id', 'addAgAmendmentDialog');
        this._addAgAmendmentDialog.toastEventSource = this;
        // this._addAgAmendmentDialog.addEventListener('amendment-added', this.newAmendmentAdded.bind(this));
        document.querySelector('body').appendChild(this._addAgAmendmentDialog);
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        if (this._addAgAmendmentDialog) {
          document.querySelector('body').removeChild(this._addAgAmendmentDialog);
        }
      }

      _openAddAgAmendmentDialog() {
        if (this._addAgAmendmentDialog) {
          this._addAgAmendmentDialog.opened = true;
        }
      }


      _getAmendmentTypes(agreementType, _amendmentTypes) {
        if ([this.CONSTANTS.AGREEMENT_TYPES.PCA,
              this.CONSTANTS.AGREEMENT_TYPES.SSFA].indexOf(agreementType) === -1 ||
            !(_amendmentTypes instanceof Array && _amendmentTypes.length > 0)) {
          return [];
        }

        if (agreementType === this.CONSTANTS.AGREEMENT_TYPES.SSFA) {
          return _amendmentTypes.filter(type => type.value === 'Change authorized officer');
        }
        return _amendmentTypes;
      }

      validate() {
        if (!this.dataItems) {
          return true;
        }
        let isValid = true;
        this.dataItems.forEach((amendm, index) => {
          if (amendm.id) {
            return;
          }
          let signedDateEl = this.shadowRoot.querySelector('#signedDate_' + index);
          if (signedDateEl) {
            if (!signedDateEl.validate()) {
              isValid = false;
            }
          }
          if (!amendm.signed_amendment) {
            this.shadowRoot.querySelector('#fileUpload_' + index).invalid = true;
            isValid = false;
          }
          let amendmentTypes = this.shadowRoot.querySelector('#amendmentTypes_' + index);
          if (amendmentTypes && !amendmentTypes.validate()) {
            isValid = false;
          }
        });
        return isValid;
      }

      // If the amendment can be removed, the left border and top badge needs to have a different style.
      // This class will help with that.
      _getLockedClass(amendmentId) {
        return this._showReadonlyDetails(amendmentId) ? 'locked' : '';
      }

      _showReadonlyDetails(amendmentId) {
        return parseInt(amendmentId, 10) > 0;
      }

      _getItemNr(index) {
        return parseInt(index, 10) + 1;
      }

      // Check if amendment fields are empty
      _amendmentFieldsAreEmpty(amendmentItem) {
        return (amendmentItem.signed_date === null || amendmentItem.signed_date === '') &&
            !amendmentItem.signed_amendment &&
            ((amendmentItem.types instanceof Array && amendmentItem.types.length === 0) ||
                !amendmentItem.types);
      }

      // Validate last added amendment and if is not empty add a new one
      _addNewAmendment() {
        let lastAmendmentItemIndex = this.dataItems.length - 1;
        if (lastAmendmentItemIndex > 0 && this.dataItems[lastAmendmentItemIndex] &&
            !this._showReadonlyDetails(this.dataItems[lastAmendmentItemIndex].id)) {
          let lastAmendmentItem = this.dataItems[lastAmendmentItemIndex];
          if (this._amendmentFieldsAreEmpty(lastAmendmentItem)) {
            this.fireEvent('toast', {text: 'Last amendment fields are empty!', showCloseBtn: true});
          } else {
            this._addElement();
          }
        } else {
          this._addElement();
        }
      }

      _dataItemsChanged(dataLength) {
        this._dataItemsChangeDebouncer = Polymer.Debouncer.debounce(this._dataItemsChangeDebouncer,
            Polymer.Async.timeOut.after(10),
            () => {
              // check for 'Change authorized officer' when amendments length changes
              this._handleNoChangeAuthorizedOfficersTypeInAmendments();
            });
      }

      // types array contains 'Change authorized officer'
      _changeAuthorizedOfficersTypeSelected(amendmentTypes) {
        if (!(amendmentTypes instanceof Array && amendmentTypes.length > 0)) {
          return false;
        }
        return amendmentTypes.indexOf('Change authorized officer') > -1;
      }

      // unlock authorized officers field from agreement details
      _triggerAuthorizedOfficersUnlock() {
        this.fireEvent('unlock-authorized-officers');
      }

      // lock authorized officers field from agreement details
      _triggerAuthorizedOfficersLock() {
        this.fireEvent('lock-authorized-officers');
      }

      _newAmendmentsHaveChangeAuthOfficersSelected() {
        let changeAuthOfficersTypeSelected = this.dataItems.find(
            amendment => !amendment.id && this._changeAuthorizedOfficersTypeSelected(amendment.types)
        );
        return !!changeAuthOfficersTypeSelected;
      }

      _handleNoChangeAuthorizedOfficersTypeInAmendments() {
        if (!this._newAmendmentsHaveChangeAuthOfficersSelected()) {
          // lock authorized officers
          this._triggerAuthorizedOfficersLock();
        }
      }

      _onAmendmentTypesSelected(e) {
        e.stopImmediatePropagation();
        if (!_.isEmpty(this.dataItems) && this.dataItems[e.model.index] &&
            this._changeAuthorizedOfficersTypeSelected(this.dataItems[e.model.index].types)) {
          // unlock authorized officers
          this._triggerAuthorizedOfficersUnlock();
        } else {
          this._handleNoChangeAuthorizedOfficersTypeInAmendments();
        }
      }

      _getReadonlyAmendmentTypes(types) {
        if (types instanceof Array && types.length > 0) {
          let legacyAmTypesFiltered = [];
          let amTypesFiltered = [];

          // search for item amendments types
          let amTypes = this._amendmentTypes.filter(t => types.indexOf(t.value) > -1);

          if (amTypes.length) {
            // map to get the labels
            amTypesFiltered = amTypes.map(t => t.label);
          }

          for (let key in this.legacyAmendmentTypes) {
            if (types.indexOf(key) > -1) {
              let value = this.legacyAmendmentTypes[key];
              legacyAmTypesFiltered.push(value);
            }
          }

          return amTypesFiltered.concat(legacyAmTypesFiltered).join(' | ');
        }
        return null;
      }
    }

    window.customElements.define(AgreementAmendments.is, AgreementAmendments);
  </script>
</dom-module>
