<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../../bower_components/etools-dialog/etools-dialog.html">
<link rel="import" href="../../../../../bower_components/etools-ajax/etools-ajax-request-mixin.html">
<link rel="import" href="../../../../../bower_components/etools-behaviors/etools-mixin-factory.html">

<link rel="import" href="../../../endpoints/endpoints-mixin.html">
<link rel="import" href="../../../mixins/repeatable-data-sets-mixin.html">
<link rel="import" href="../../../mixins/ajax-errors-parser-mixin.html">
<link rel="import" href="../../../redux/etools-data-redux-store.html">

<link rel="import" href="../../../styles/grid-layout-styles.html">
<link rel="import" href="../../../styles/action-icons-btns-styles.html">
<link rel="import" href="../../../styles/buttons-styles.html">
<link rel="import" href="../../../styles/shared-styles.html">
<link rel="import" href="../../../styles/required-field-styles.html">

<dom-module id="add-disaggregation-dialog">
  <template>
    <style
        include="grid-layout-styles action-icons-btns-styles buttons-styles shared-styles required-field-starred-styles">

      paper-input {
        width: 100%
      }

      .groups {
        align-items: center;
        flex-wrap: wrap;
        width: 520px; /* For IE */
      }

      .newGroup {
        width: 80px;
      }

      .action.delete.no-padding {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        height: 20px;
      }

      etools-dialog paper-input.newGroup {
        --paper-input-container: {
          padding: 0 0 !important;
        };
      }
    </style>

    <etools-dialog keep-dialog-open id="etoolsDialog" size="lg" ok-btn-text="Save"
                   dialog-title="Add Disaggregation" disable-confirm-btn="[[disableConfirmBtn]]"
                   on-confirm-btn-clicked="_validateAndSaveDisaggregation">
      <div class="layout-horizontal flex-c row-padding-v">
        <div class="col col-4">
          <paper-input id="disaggregateByEl" label="Disaggregation" value="{{disaggregation.name}}"
                       required auto-validate error-message="Please add disaggregation" placeholder="&#8212;">
          </paper-input>
        </div>
        <div class="col col-8">
          <div class="layout-vertical">
            <label class="paper-label">Disaggregation Group</label>
            <div class="layout-horizontal groups">
              <template is="dom-repeat" items="[[dataItems]]">
                <paper-input class="newGroup" no-label-float
                             label="New Group"
                             value="{{item.value}}">
                </paper-input>
                <paper-icon-button class="action delete no-padding" icon="cancel"
                                   on-tap="_openDeleteConfirmation"
                                   data-args$="[[index]]"
                                   title="Delete">
                </paper-icon-button>
              </template>
              <paper-button class="secondary-btn" on-tap="_addNewGroup"
                            title="Add Disaggregation Group">+Add
              </paper-button>
            </div>
          </div>
        </div>
      </div>
    </etools-dialog>

  </template>

  <script>
    'use strict';
    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsAjaxRequestMixin
     * @appliesMixin EtoolsPmpApp.Mixins.Endpoints
     * @appliesMixin EtoolsPmpApp.Mixins.RepeatableDataSets
     * @appliesMixin EtoolsPmpApp.Mixins.AjaxErrorsParser
     * @appliesMixin EtoolsPmpApp.Mixins.EtoolsDataReduxStore
     */
    const AddDisaggregationDialogMixins = EtoolsMixinFactory.combineMixins([
      EtoolsAjaxRequestMixin,
      EtoolsPmpApp.Mixins.Endpoints,
      EtoolsPmpApp.Mixins.RepeatableDataSets,
      EtoolsPmpApp.Mixins.AjaxErrorsParser,
      EtoolsPmpApp.Mixins.EtoolsDataReduxStore
    ], Polymer.Element);

    /**
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class AddDisaggregationDialog extends AddDisaggregationDialogMixins {
      static get is() {
        return 'add-disaggregation-dialog';
      }

      static get properties() {
        return {
          disaggregation: {
            type: Object,
            observer: '_disaggregationChanged'
          },
          dataItems: {
            type: Array
          },
          disaggregationModel: {
            type: Object,
            value: {
              id: null,
              active: true,
              name: undefined,
              disaggregation_values: []
            }
          },
          toastEventSource: {
            type: Object
          },
          disableConfirmBtn: {
            type: Boolean,
            value: false
          }
        };
      }

      static get actions() {
        return {
          addDisaggregation: function(disaggreg) {
            return {
              type: 'ADD_DISAGGREGATION',
              disaggregation: disaggreg
            };
          }
        };
      }

      ready() {
        super.ready();
        this.dataSetModel = {
          value: null,
          active: true
        };
        this.editMode = true;
      }

      broadcastAddDisaggregToOtherTabs(disaggregation) {
        localStorage.setItem('update-redux',
            JSON.stringify(AddDisaggregationDialog.actions.addDisaggregation(disaggregation)));
        localStorage.removeItem('update-redux');
      }

      initializeDisaggregation() {
        this.disaggregation = JSON.parse(JSON.stringify(this.disaggregationModel));
      }

      open() {
        this.$.etoolsDialog.opened = true;
      }

      close() {
        this.$.etoolsDialog.opened = false;
      }

      startSpinner() {
        this.disableConfirmBtn = true;
        this.$.etoolsDialog.startSpinner();
      }

      stopSpinner() {
        this.disableConfirmBtn = false;
        this.$.etoolsDialog.stopSpinner();
      }

      _disaggregationChanged(disaggreg) {
        this.set('dataItems', disaggreg.disaggregation_values);
        if (!this.dataItems) {
          this.dataItems = [];
        }
      }

      _addNewGroup() {
        this._addElement();
      }

      _validateAndSaveDisaggregation() {
        if (!this.validate()) {
          return;
        }
        this.startSpinner();
        let self = this;
        let requestParams = {
          method: 'POST',
          endpoint: this.getEndpoint('disaggregations'),
          body: this._getBody()
        };
        this.sendRequest(requestParams).then(function(response) {
          self.disaggregation = response;
          self.dispatch('addDisaggregation', response);
          self.broadcastAddDisaggregToOtherTabs(response);
          self.stopSpinner();
          self.close();
        }).catch(function(error) {
          self.stopSpinner();
          self.parseRequestErrorsAndShowAsToastMsgs(error, self.toastEventSource);
        });

      }

      _getBody() {
        this.disaggregation.disaggregation_values = this.dataItems;
        this._cleanUpDisaggregations(this.disaggregation.disaggregation_values);
        return this.disaggregation;
      }

      _cleanUpDisaggregations(disaggregs) {
        if (!disaggregs || !disaggregs.length) {
          return;
        }
        let i;
        for (i = 0; i < disaggregs.length; i++) {
          if (disaggregs[i] !== undefined && this._isEmpty(disaggregs[i].value)) {
            disaggregs.splice(i, 1);
          }
        }
      }

      _isEmpty(value) {
        return (value === null || typeof value === 'undefined' || value === '');
      }

      validate() {
        return this.shadowRoot.querySelector('#disaggregateByEl').validate();
      }

      resetValidations() {
        this.shadowRoot.querySelector('#disaggregateByEl').invalid = false;
      }

    }

    window.customElements.define(AddDisaggregationDialog.is, AddDisaggregationDialog);
  </script>
</dom-module>
