<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../../bower_components/etools-content-panel/etools-content-panel.html">
<link rel="import" href="../../../../../bower_components/etools-ajax/etools-ajax-request-mixin.html">
<link rel="import" href="../../../../../bower_components/etools-data-table/etools-data-table.html">
<link rel="import" href="../../../../../bower_components/etools-behaviors/etools-mixin-factory.html">
<link rel="import" href="../../../endpoints/endpoints-mixin.html">
<link rel="import" href="../../../redux/etools-data-redux-store.html">
<link rel="import" href="../../../environment-flags/environment-flags-mixin.html">
<link rel="import" href="../../../mixins/event-helper-mixin.html">

<link rel="import" href="../../../styles/grid-layout-styles.html">
<link rel="import" href="add-disaggregation-dialog.html">

<dom-module id="disaggregation-list">
  <template>
    <style include="grid-layout-styles data-table-styles">
      [hidden] {
        display: none !important;
      }
    </style>

    <etools-content-panel panel-title="Disaggregations">
      <paper-icon-button slot="panel-btns"
                         icon="add-box"
                         on-tap="_addDisaggregation">
      </paper-icon-button>
      <div hidden$="[[_emptyList(disaggregations)]]">
        <etools-data-table-header no-collapse no-title>
          <etools-data-table-column class="col-4" field="name">
            Name
          </etools-data-table-column>
          <etools-data-table-column class="col-8" field="disaggregation_values">
            Disaggregation Groups
          </etools-data-table-column>
        </etools-data-table-header>
        <template is="dom-repeat" items="[[dataItems]]">
          <etools-data-table-row no-collapse>
            <div slot="row-data">
              <span class="col-data col-4">
                [[item.name]]
              </span>
              <span class="col-data col-8">
                [[_displayGroups(item.disaggregation_values)]]
              </span>
            </div>
          </etools-data-table-row>
        </template>

        <etools-data-table-footer
            page-size="[[pagination.pageSize]]"
            page-number="[[pagination.pageNumber]]"
            total-results="[[pagination.totalResults]]"
            on-page-size-changed="_pageSizeChanged"
            on-page-number-changed="_pageNumberChanged">
        </etools-data-table-footer>
      </div>
      <div class="row-padding" hidden$="[[!_emptyList(disaggregations)]]">
        <p>The are no disaggregations defined.</p>
      </div>
    </etools-content-panel>

  </template>

  <script>
    'use strict';
    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsPmpApp.Mixins.Endpoints
     * @appliesMixin EtoolsPmpApp.Mixins.EtoolsDataReduxStore
     * @appliesMixin EtoolsAjaxRequestMixin
     * @appliesMixin EtoolsPmpApp.Mixins.EnvironmentFlags
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
     */
    const DisagregationListRequiredMixins = EtoolsMixinFactory.combineMixins([
      EtoolsPmpApp.Mixins.Endpoints,
      EtoolsPmpApp.Mixins.EtoolsDataReduxStore,
      EtoolsAjaxRequestMixin,
      EtoolsPmpApp.Mixins.EnvironmentFlags,
      EtoolsPmpApp.Mixins.EventHelper
    ], Polymer.Element);

    /**
     * @polymer
     * @customElement
     * @extends {Polymer.Element}
     * @appliesMixin DisagregationListRequiredMixins
     */
    class DisaggregationList extends DisagregationListRequiredMixins {
      static get is() {
        return 'disaggregation-list';
      }

      static get properties() {
        return {
          disaggregations: {
            type: Array,
            statePath: 'disaggregations'
          },
          dataItems: {
            type: Array
          },
          disaggregationModal: {
            type: Object
          },
          pagination: {
            type: Object,
            value: {
              pageSize: 10,
              pageNumber: 1,
              totalResults: null
            }
          }
        };
      }

      static get observers() {
        return [
          'paginationChanged(pagination.pageNumber, pagination.pageSize, disaggregations)',
          '_disagregationsChanged(disaggregations, environmentFlags)'
        ];
      }

      ready() {
        super.ready();
        this.editMode = true;
        this.disaggregationModal = document.createElement('add-disaggregation-dialog');
        this.disaggregationModal.setAttribute('id', 'disaggregationModal');
        document.querySelector('body').appendChild(this.disaggregationModal);
      }

      disconnectedCallback() {
        super.disconnectedCallback();

        if (this.disaggregationModal) {
          document.querySelector('body').removeChild(this.disaggregationModal);
        }
      }

      _emptyList() {
        return !this.disaggregations || !this.disaggregations.length;
      }

      _disagregationsChanged(disaggregs, envFlags) {
        if (!disaggregs || !disaggregs.length) {
          this.dataItems = [];
          return;
        }
        this.set('pagination.totalResults', this.disaggregations.length);
      }

      _pageSizeChanged(ev) {
        this.set('pagination.pageNumber', 1);
        this.set('pagination.pageSize', parseInt(ev.detail.value));
      }

      _pageNumberChanged(ev) {
        this.set('pagination.pageNumber', parseInt(ev.detail.value));
      }

      paginationChanged(pageNumber, pageSize, disaggregations) {
        if (this._anyUndefined([pageNumber, pageSize, disaggregations])) {
          return;
        }
        pageNumber = parseInt(pageNumber);
        pageSize = parseInt(pageSize);
        let startingIndex = (pageNumber - 1) * pageSize;
        this.dataItems = this.disaggregations.slice(startingIndex, startingIndex + pageSize);
      }

      _anyUndefined(items) {
        return items.some(this._isUndefined);
      }

      _isUndefined(item) {
        return item === undefined;
      }

      _openModal() {
        this.disaggregationModal.toastEventSource = this;
        this.disaggregationModal.resetValidations();
        this.disaggregationModal.open();
      }

      _displayGroups(groups) {
        if (!groups || !groups.length) {
          return '-';
        }
        return groups.map(function(g) {
          return g.value;
        }).join('; ');
      }

      _addDisaggregation() {
        this.disaggregationModal.initializeDisaggregation();
        this._openModal();
      }

    }

    window.customElements.define(DisaggregationList.is, DisaggregationList);
  </script>
</dom-module>
