<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../../../../bower_components/etools-behaviors/etools-mixin-factory.html">

<link rel="import" href="../../../mixins/event-helper-mixin.html">
<link rel="import" href="../../../config/app-constants.html">

<link rel="import" href="../../../layout/components/etools-status/etools-status.html">
<link rel="import" href="../../../layout/components/etools-status/etools-status-common-mixin.html">

<dom-module id="agreement-status">
  <template strip-whitespace>
    <style>
      :host {
        width: 100%;
      }
    </style>
    <etools-status statuses="[[possibleStatuses]]"
                   actions="[[possibleActions]]"
                   on-agreement-suspend-event="_setStatusSuspended"
                   on-agreement-terminate-event="_setStatusTerminated"
                   on-agreement-unsuspend-event="_unsuspendAgreement"
                   on-agreement-delete-event="_openDeleteConfirmation">
    </etools-status>
  </template>

  <script>
    'use strict';

    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
     * @appliesMixin EtoolsPmpApp.Mixins.EtoolsStatusCommon
     * @appliesMixin EtoolsPmpApp.Mixins.Constants
     */
    const AgreementStatusRequiredMixins = EtoolsMixinFactory.combineMixins([
      EtoolsPmpApp.Mixins.EventHelper,
      EtoolsPmpApp.Mixins.EtoolsStatusCommon,
      EtoolsPmpApp.Mixins.Constants
    ], Polymer.Element);


    /**
     * @polymer
     * @customElement
     * @appliesMixin AgreementStatusRequiredMixins
     */
    class AgreementStatus extends AgreementStatusRequiredMixins {
      static get is() {
        return 'agreement-status';
      }

      static get properties() {
        return {
          agreementId: {
            value: null
          },
          agreementType: {
            type: String,
            value: ''
          },
          newAgreement: {
            type: Boolean,
            value: false
          },
          possibleStatuses: {
            type: Array,
            value: []
          },
          possibleActions: {
            type: Array,
            value: [
              {
                label: 'Save',
                hidden: true,
                primary: true,
                event: 'save-agreement'
                // save-agreement event is handeled by the parnent
              },
              {
                label: 'Suspend',
                hidden: true,
                event: 'agreement-suspend-event'
              },
              {
                label: 'Unsuspend',
                hidden: true,
                event: 'agreement-unsuspend-event'
              },
              {
                label: 'Terminate',
                hidden: true,
                event: 'agreement-terminate-event'
              },
              {
                label: 'Delete',
                hidden: true,
                event: 'agreement-delete-event'
              }
           ]
          },
          deleteWarningMessage: {
            type: String,
            value: 'Are you sure you want to delete this agreement?'
          }
        };
      }

      static get observers() {
        return [
          '_handleStatusChange(status, agreementId)'
        ];
      }

      ready() {
        super.ready();
        this.set('sectionName', 'Agreement');
        this._handleStickyScroll();

        this._createStatusChangeWarningDialog();
        this._createDeleteConfirmationDialog();
        this.deleteConfirmDialog.addEventListener('close', this._triggerAgDeleteOnConfirm.bind(this));

        // has to be run async for shadycss to load
        setTimeout(this.setPossibleStatuses.bind(this), 0);
      }

      setPossibleStatuses() {
        this.set('possibleStatuses', [
          {
            label: this.CONSTANTS.STATUSES.Draft,
            hidden: false,
            completed: false
          },
          {
            label: this.CONSTANTS.STATUSES.Signed,
            hidden: false,
            completed: false
          },
          {
            label: this.CONSTANTS.STATUSES.Suspended,
            icon: 'av:pause-circle-filled',
            iconStyles: 'color: ' + this.getComputedStyleValue('--warning-color'),
            hidden: false,
            completed: false
          },
          {
            label: this.CONSTANTS.STATUSES.Terminated,
            icon: 'report-problem',
            iconStyles: 'color: ' + this.getComputedStyleValue('--error-color'),
            hidden: false,
            completed: false
          },
          {
            label: this.CONSTANTS.STATUSES.Ended,
            hidden: false,
            completed: false
          }
        ]);

        this._computeAvailableStatuses(this.status);
      }

      _computeAvailableActions(status) {
        this._setAllActionsToHidden();
        if (!this.editMode) {
          return;
        }
        let availableOptions = [];

        switch (status) {
          case this.CONSTANTS.STATUSES.Draft.toLowerCase():
            availableOptions.push('Save');
            availableOptions.push('Delete');
            break;
          case this.CONSTANTS.STATUSES.Signed.toLowerCase():
            availableOptions.push('Save');
            if (this.agreementType !== this.CONSTANTS.AGREEMENT_TYPES.SSFA) {
              availableOptions.push('Suspend');
              availableOptions.push('Terminate');
            }
            break;

          case this.CONSTANTS.STATUSES.Suspended.toLowerCase():
            if (this.agreementType !== this.CONSTANTS.AGREEMENT_TYPES.SSFA) {
              availableOptions.push('Unsuspend');
            }
            break;

          case this.CONSTANTS.STATUSES.Terminated.toLowerCase():
            break;

          case this.CONSTANTS.STATUSES.Ended.toLowerCase():
            break;

          default:
            availableOptions.push('Save');
            break;
        }

        for (let key in this.possibleActions) {
          if (this.possibleActions[key].label) {
            let actionName = this.possibleActions[key].label;

            if (availableOptions.indexOf(actionName) > -1) {
              this.set(['possibleActions', key, 'hidden'], false);
            }
          }
        }
      }

      _computeAvailableStatuses(status) {
        this._setAllStatusesToHidden();
        let availableStatuses = [];
        let completedFlag = false;
        let activeStatus;

        switch (status) {
          case this.CONSTANTS.STATUSES.Draft.toLowerCase():
            availableStatuses = [
              this.CONSTANTS.STATUSES.Draft,
              this.CONSTANTS.STATUSES.Signed,
              this.CONSTANTS.STATUSES.Ended
            ];
            activeStatus = this.CONSTANTS.STATUSES.Draft;
            break;

          case this.CONSTANTS.STATUSES.Signed.toLowerCase():
            availableStatuses = [
              this.CONSTANTS.STATUSES.Draft,
              this.CONSTANTS.STATUSES.Signed,
              this.CONSTANTS.STATUSES.Ended
            ];
            activeStatus = this.CONSTANTS.STATUSES.Signed;
            break;

          case this.CONSTANTS.STATUSES.Suspended.toLowerCase():
            availableStatuses = [
              this.CONSTANTS.STATUSES.Draft,
              this.CONSTANTS.STATUSES.Signed,
              this.CONSTANTS.STATUSES.Suspended,
              this.CONSTANTS.STATUSES.Ended
            ];
            activeStatus = this.CONSTANTS.STATUSES.Suspended;
            break;

          case this.CONSTANTS.STATUSES.Terminated.toLowerCase():
            availableStatuses = [
              this.CONSTANTS.STATUSES.Draft,
              this.CONSTANTS.STATUSES.Signed,
              this.CONSTANTS.STATUSES.Terminated,
              this.CONSTANTS.STATUSES.Ended
            ];
            activeStatus = this.CONSTANTS.STATUSES.Terminated;
            break;

          case this.CONSTANTS.STATUSES.Ended.toLowerCase():
            availableStatuses = [
              this.CONSTANTS.STATUSES.Draft,
              this.CONSTANTS.STATUSES.Signed,
              this.CONSTANTS.STATUSES.Ended
            ];
            activeStatus = this.CONSTANTS.STATUSES.Ended;
            break;
          default:
            availableStatuses = [
              this.CONSTANTS.STATUSES.Draft,
              this.CONSTANTS.STATUSES.Signed,
              this.CONSTANTS.STATUSES.Ended
            ];
            activeStatus = '';
            break;
        }

        for (let key = this.possibleStatuses.length - 1; key >= 0; key--) {
          let workingStatusLabel = this.possibleStatuses[key].label;
          if (workingStatusLabel === activeStatus && !this.newAgreement) {
            completedFlag = true;
          }
          if (availableStatuses.indexOf(workingStatusLabel) > -1) {
            this.set(['possibleStatuses', key, 'hidden'], false);
          }
          this.set(['possibleStatuses', key, 'completed'], completedFlag);
        }
      }

      _statusChangeConfirmationCallback(event) {
        if (event.detail.confirmed) {
          this.fireEvent('update-agreement-status', {
            agreementId: this.agreementId,
            status: this.newStatus + ''
          });
          this.fireEvent('reload-list');
        }
        this.set('newStatus', '');
      }

      _statusChangeIsValid(newStatus) {
        if (this.newAgreement) {
          return false;
        }

        if (newStatus === this.CONSTANTS.STATUSES.Draft.toLowerCase()) {
          // if agreement was not saved (is new) or the status is already changed
          // from draft, stop status change
          if (this.status !== this.CONSTANTS.STATUSES.Draft.toLowerCase()) {
            return false;
          }
        }
        if ([this.CONSTANTS.STATUSES.Suspended.toLowerCase(),
             this.CONSTANTS.STATUSES.Terminated.toLowerCase()].indexOf(newStatus) > -1) {
          if (this.status !== this.CONSTANTS.STATUSES.Signed.toLowerCase()) {
            // prevent suspending or terminating anything other than signed agreement
            return false;
          }
        }
        return true;
      }

      _computeWarningMessage(newStatus) {
        switch (newStatus) {
          case this.CONSTANTS.STATUSES.Terminated.toLowerCase():
            this.set('warningMessage', 'You are about to terminate this Agreement. Do you want to continue?');
            break;
          case this.CONSTANTS.STATUSES.Suspended.toLowerCase():
            this.set('warningMessage', 'You are about to suspend this Agreement. Do you want to continue?');
            break;
          case this.CONSTANTS.STATUSES.Signed.toLowerCase():
            this.set('warningMessage', 'You are about to unsuspend this Agreement. Do you want to continue?');
            break;
          default:
            this.set('warningMessage', this._getDefaultWarningMessage());
            break;
        }
      }

      _setStatusTerminated() {
        this._updateStatus(this.CONSTANTS.STATUSES.Terminated.toLowerCase());
      }

      _setStatusSuspended() {
        this._updateStatus(this.CONSTANTS.STATUSES.Suspended.toLowerCase());
      }

      _unsuspendAgreement() {
        this._updateStatus(this.CONSTANTS.STATUSES.Signed.toLowerCase());
      }

      _triggerAgDeleteOnConfirm(e) {
        if (e.detail.confirmed) {
          this.fireEvent('delete-agreement', {id: this.agreementId});
        }
      }
    }

    window.customElements.define(AgreementStatus.is, AgreementStatus);
  </script>
</dom-module>
