<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../bower_components/etools-dropdown/etools-dropdown.html">
<link rel="import" href="../../../../../../../bower_components/etools-behaviors/etools-mixin-factory.html">

<link rel="import" href="../../../../../scripts/lodash.html">
<link rel="import" href="../../../../../config/app-constants.html">

<link rel="import" href="../../../../../styles/grid-layout-styles.html">
<link rel="import" href="../../../../../styles/shared-styles.html">
<link rel="import" href="../../../../../styles/required-field-styles.html">

<link rel="import" href="../../../../../mixins/event-helper-mixin.html">
<link rel="import" href="../../../../../mixins/common-mixin.html">
<link rel="import" href="../../../../../layout/components/etools-form-element-wrapper.html">
<link rel="import" href="../../../../../redux/etools-data-redux-store.html">

<dom-module id="agreement-selector">
  <template>
    <style include="grid-layout-styles shared-styles required-field-starred-styles">
      #agreement-selector-content {
        padding: 0;
      }

      .no-left-padding {
        padding-left: 0 !important;
      }
    </style>
    <div id="agreement-selector-content" class="row-h flex-c">
      <template is="dom-if" if="[[!permissions.edit.agreement]]">
        <div class="col col-6">
          <etools-form-element-wrapper label="Partner Organization"
                                       required
                                       value="[[intervention.partner]]">
          </etools-form-element-wrapper>
        </div>
        <div class="col col-6">
          <etools-form-element-wrapper label="Agreement"
                                       required
                                        value="[[selectedAgreement.agreement_number]]">
          </etools-form-element-wrapper>
        </div>
      </template>

      <template is="dom-if" if="[[permissions.edit.agreement]]">
        <div class="col col-6 no-left-padding">
          <etools-dropdown id="partner"
                           label="Partner Organization"
                           placeholder="&#8212;"
                           options="[[partnersDropdownData]]"
                           option-value="id"
                           option-label="name"
                           selected="{{partnerId}}"
                           dynamic-align
                           required$="[[permissions.required.agreement]]"
                           auto-validate
                           error-message="Partner is required">
          </etools-dropdown>
        </div>

        <div class="col col-6">
          <etools-dropdown id="agreements"
                           label="Agreement"
                           placeholder="&#8212;"
                           options="[[filteredAgreements]]"
                           option-value="id"
                           option-label="agreement_number"
                           selected="{{agreementId}}"
                           dynamic-align
                           required$="[[permissions.required.agreement]]"
                           auto-validate
                           error-message="Agreement required">
          </etools-dropdown>

        </div>
      </template>
    </div>
  </template>
  <script>
    'use strict';

    /**
     * @polymer
     * @customElement
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
     * @appliesMixin EtoolsPmpApp.Mixins.Common
     * @appliesMixin EtoolsPmpApp.Mixins.EtoolsDataReduxStore
     * @appliesMixin EtoolsPmpApp.Mixins.Constants
     */
    class AgreementSelector extends EtoolsMixinFactory.combineMixins([
      EtoolsPmpApp.Mixins.EventHelper,
      EtoolsPmpApp.Mixins.Common,
      EtoolsPmpApp.Mixins.EtoolsDataReduxStore,
      EtoolsPmpApp.Mixins.Constants
    ], Polymer.Element) {

      static get is() {
        return 'agreement-selector';
      }

      static get properties() {
        return {
          agreementId: {
            type: Number,
            observer: '_agreementIdChanged',
            notify: true
          },
          filteredAgreements: {
            type: Array,
            value: []
          },
          partnersDropdownData: {
            type: Array,
            statePath: 'csoPartners', // 'setPartnersDropdown' Do we need to use only CSO type partners?
            observer: '_partnersDropdownDataChanged'
          },
          agreements: {
            type: Array,
            statePath: 'agreementsList',
            // Covers issues on refresh when agreements is populated after the rest of the observers run
            observer: '_agreementsChanged'
          },
          partnerId: {
            type: Number,
            notify: true,
            observer: '_partnerSelected'
          },
          selectedAgreement: {
            type: Object,
            value: null,
            notify: true
          },
          intervention: Object,
          permissions: {
            type: Object,
            statePath: 'pageData.permissions'
          }
        };
      }

      _partnersDropdownDataChanged(partnersDropdownData) {
        if (typeof partnersDropdownData === 'undefined') {
          return;
        }
        this._setSelectedPartnerId();
      }

      _agreementsChanged() {
        if (this.selectedAgreement) {
          return;
        }
        this._agreementIdChanged(this.agreementId);
      }

      _agreementIdChanged(agreementId) {
        if (!this.agreements || !this.agreements.length || !agreementId) {
          return;
        }

        let agreement = _.find(this.agreements, function(agreement) {
          return agreement.id === agreementId;
        });
        this.set('selectedAgreement', agreement);

        if (this.intervention && this.permissions && !this.permissions.edit.agreement) {
          // in case agreement selector is in readonly mode we need to set partner id to trigger staff members request
          this.set('partnerId', agreement.partner);
        }

        if (this.partnersDropdownData && this.partnersDropdownData.length) {
          this._setSelectedPartnerId();
        }
      }

      _setSelectedPartnerId() {
        let agreement = this.selectedAgreement;
        if (!agreement || !agreement.partner || this.partnerId === agreement.partner) {
          return;
        }
        let partner = _.find(this.partnersDropdownData, function(partner) {
          return partner.id === agreement.partner;
        });
        if (!partner) {
          let partnerIsHiddenOrNotCSOMsg = 'Intervention partner ' + agreement.partner_name +
              ' is not CSO or it\'s hidden! In edit mode you will not be able to see this partner in the ' +
              'available partners organizations and nor the agreement number.';
          this.fireEvent('toast', {text: partnerIsHiddenOrNotCSOMsg, showCloseBtn: true});
          return;
        }
        this.set('partnerId', partner.id);
      }

      _filterAgreements(partnerId) {
        if (!partnerId) {
          this.set('filteredAgreements', []);
          return;
        }

        if (this.selectedAgreement && this.selectedAgreement.partner !== partnerId) {
          this.set('selectedAgreement', null);
          this.set('agreementId', null);
        }

        // set filtered agreements based on this
        let agreements = _.filter(this.agreements, (agreement) => {
          if (this.intervention) {
            // existing intervention
            return agreement.partner === partnerId
                && agreement.agreement_type !== this.CONSTANTS.AGREEMENT_TYPES.MOU;
          } else {
            // new intervention
            return agreement.partner === partnerId &&
                ['suspended', 'terminated'].indexOf(agreement.status) === -1
                && agreement.agreement_type !== this.CONSTANTS.AGREEMENT_TYPES.MOU;
          }

        });
        this.set('filteredAgreements', agreements);
      }

      _partnerSelected(partnerId) {
        if (typeof partnerId === 'undefined') {
          return;
        }
        // clear agreementSelection
        this._filterAgreements(+partnerId);
      }

      resetValidations() {
        let agEl = this.shadowRoot.querySelector('#agreements');
        if (agEl) {
          agEl.resetInvalidState();
        }
        let pEl = this.shadowRoot.querySelector('#partner');
        if (pEl) {
          pEl.resetInvalidState();
        }
      }

      validate() {
        let valid = true;
        if (!this.agreementId) {
          valid = false;
          let agEl = this.shadowRoot.querySelector('#agreements');
          if (agEl) {
            agEl.invalid = true;
          }
        }
        if (!this.partnerId) {
          valid = false;
          let pEl = this.shadowRoot.querySelector('#partner');
          if (pEl) {
            pEl.invalid = true;
          }
        }
        return valid;
      }

      _getAgSelectorValue(value) {
        return value ? value : '-';
      }

    }

    window.customElements.define(AgreementSelector.is, AgreementSelector);
  </script>
</dom-module>
