<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../../../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../../../../../../bower_components/etools-behaviors/etools-mixin-factory.html">
<link rel="import" href="../../../../../../../bower_components/etools-content-panel/etools-content-panel.html">
<link rel="import" href="../../../../../../../bower_components/etools-dropdown/etools-dropdown.html">
<link rel="import" href="../../../../../../../bower_components/etools-data-table/etools-data-table.html">
<link rel="import"
      href="../../../../../../../bower_components/etools-currency-amount-input/mixins/etools-currency-mixin.html">
<link rel="import"
      href="../../../../../../../bower_components/etools-currency-amount-input/etools-currency-amount-input.html">
<link rel="import" href="../../../../../../../bower_components/etools-info-tooltip/etools-info-tooltip.html">

<link rel="import" href="../../../../../styles/app-mixins.html">
<link rel="import" href="../../../../../styles/shared-styles.html">
<link rel="import" href="../../../styles/fr-warnings-styles.html">

<link rel="import" href="../../../../../redux/etools-data-redux-store.html">
<link rel="import" href="../../../../../layout/components/etools-form-element-wrapper.html">

<link rel="import" href="../../../mixins/fr-numbers-consistency-mixin.html">

<dom-module id="planned-budget">
  <template strip-whitespace>
    <style include="shared-styles data-table-styles grid-layout-styles fr-warnings-styles">
      [hidden] {
        display: none !important;
      }

      :host {
        --list-column-label: {
          margin-right: 0;
        };
        display: block;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      #edit-btns paper-icon-button {
        color: var(--light-icon-color);
      }

      .currency {
        width: 200px;
      }

      etools-currency-amount-input {
        max-width: 175px;
      }

      .total {
        width: 200px;
      }

      #currencyDd {
        width: 130px;
      }

      .totalLabel {
        font-size: 16px;
        margin-top: -3px;
      }

      .totalLabel,
      .totalLabelUsd {
        padding-right: 10px;
      }

      /* Fixes alignment issues on IE */
      *[slot="row-data"] .col-data {
        line-height: 1.5;
      }

      #unicef-cash-val {
        overflow: hidden;
      }
    </style>
    <etools-content-panel panel-title="Planned Budget">
      <div slot="panel-btns" id="edit-btns">
        <paper-icon-button icon="cancel"
                           hidden$="[[!_showCancelBtn(_showCancelButton)]]"
                           disabled$="[[!_showCancelBtn(_showCancelButton)]]"
                           title="Cancel"
                           on-click="_cancelEdit">
        </paper-icon-button>
        <paper-icon-button icon="create"
                           hidden$="[[!_showEditBtn(editMode, unicefCashEditMode, _showCancelButton)]]"
                           disabled$="[[!_showEditBtn(editMode, unicefCashEditMode, _showCancelButton)]]"
                           title="Edit"
                           on-click="_editPlannedBudget">
        </paper-icon-button>
      </div>

      <div class="list-container form-fields">
        <etools-data-table-header id="listHeader"
                                  no-collapse
                                  no-title>
          <etools-data-table-column class="col-3 currency"> Currency</etools-data-table-column>
          <etools-data-table-column class="col-3 right-align"> CSO Contribution</etools-data-table-column>
          <etools-data-table-column class="col-2 right-align"> UNICEF Cash</etools-data-table-column>
          <etools-data-table-column class="col-2 right-align"> UNICEF Supply</etools-data-table-column>
          <etools-data-table-column class="col-2 right-align"> TOTAL</etools-data-table-column>
        </etools-data-table-header>

        <etools-data-table-row no-collapse>
          <div slot="row-data">
            <span class="col-data col-3 currency">
              <etools-info-tooltip class="fr-nr-warn currency-mismatch"
                                   icon-first
                                   custom-icon
                                   hide-tooltip="[[_hideBudgetCurrencyMismatchTooltip(intervention.frs_details.currencies_match, intervention.frs_details.frs, plannedBudget.currency)]]">
                <etools-dropdown id="currencyDd"
                                 slot="field"
                                 placeholder="&#8212;"
                                 options="[[currencies]]"
                                 selected="{{plannedBudget.currency}}"
                                 readonly$="[[_isCurrencyReadonly(intervention.in_amendment, editMode, editablePlannedBudget, interventionId)]]"
                                 no-label-float>
                </etools-dropdown>
                <iron-icon icon="pmp-custom-icons:not-equal" slot="custom-icon"></iron-icon>
                <span slot="message">[[frsConsistencyWarnings.currencyMismatch]]</span>
              </etools-info-tooltip>
            </span>

            <span class="col-data col-3 right-align">
              <etools-currency-amount-input id="csoCont"
                                            value="{{plannedBudget.partner_contribution_local}}"
                                            type="number"
                                            placeholder="&#8212;"
                                            readonly="[[_isReadonly(editMode, editablePlannedBudget, interventionId)]]"
                                            no-label-float>
              </etools-currency-amount-input>
            </span>

            <span class="col-data col-2 right-align">
              <etools-info-tooltip class="fr-nr-warn"
                                   custom-icon
                                   icon-first
                                   form-field-align="[[!_isReadonly(unicefCashEditMode, editablePlannedBudget, interventionId)]]"
                                   hide-tooltip$="[[!frsConsistencyWarningIsActive(_frsConsistencyWarning)]]">
                <div slot="field" id="unicef-cash-val">
                  <template is="dom-if" if="[[_isReadonly(unicefCashEditMode, editablePlannedBudget, interventionId)]]">
                    <!-- readonly unicef cash -->
                    <etools-form-element-wrapper no-label-float
                                                 id="unicef-cash"
                                                 value="[[displayCurrencyAmount(plannedBudget.unicef_cash_local, '0.00')]]">
                    </etools-form-element-wrapper>
                  </template>
                  <template is="dom-if"
                            if="[[!_isReadonly(unicefCashEditMode, editablePlannedBudget, interventionId)]]">
                    <!-- editable unicef cash -->
                    <etools-currency-amount-input id="unicefCash"
                                                  value="{{plannedBudget.unicef_cash_local}}"
                                                  placeholder="&#8212;"
                                                  required$="[[required]]"
                                                  auto-validate
                                                  error-message="UNICEF Cash required"
                                                  no-label-float>
                    </etools-currency-amount-input>
                  </template>
                </div>
                <iron-icon icon="pmp-custom-icons:not-equal" slot="custom-icon"></iron-icon>
                <span slot="message">[[_frsConsistencyWarning]]</span>
              </etools-info-tooltip>
            </span>

            <span class="col-data col-2 right-align">
              <etools-currency-amount-input id="inKindAmount"
                                            value="{{plannedBudget.in_kind_amount_local}}"
                                            type="number"
                                            placeholder="&#8212;"
                                            readonly="[[_isReadonly(editMode, editablePlannedBudget, interventionId)]]"
                                            no-label-float>
              </etools-currency-amount-input>
            </span>

            <span class="col-data col-2">
              <etools-form-element-wrapper class="right-align" no-label-float
                  value="[[_getPlannedBudgetTotalFormatted(plannedBudget.partner_contribution_local,
                  plannedBudget.unicef_cash_local, plannedBudget.in_kind_amount_local)]]">
              </etools-form-element-wrapper>
            </span>
          </div>
        </etools-data-table-row>
      </div>
    </etools-content-panel>
  </template>
  <script>
    'use strict';

    /**
     * @polymer
     * @customElement
     * @appliesMixin EtoolsMixins.EtoolsCurrency
     * @appliesMixin EtoolsPmpApp.Mixins.EtoolsDataReduxStore
     * @appliesMixin EtoolsPmpApp.Mixins.FrNumbersConsistency
     */
    class PlannedBudget extends EtoolsMixinFactory.combineMixins([
      EtoolsMixins.EtoolsCurrency,
      EtoolsPmpApp.Mixins.EtoolsDataReduxStore,
      EtoolsPmpApp.Mixins.FrNumbersConsistency
    ], Polymer.Element) {

      static get is() {
        return 'planned-budget';
      }

      static get properties() {
        return {
          intervention: Object,
          plannedBudget: {
            type: Object,
            notify: true,
            observer: '_plannedBudgetChanged'
          },
          currencies: {
            type: Array,
            statePath: 'currencies'
          },
          required: {
            type: Boolean,
            statePath: 'pageData.permissions.required.planned_budget'
          },
          editMode: {
            type: Boolean,
            statePath: 'pageData.permissions.edit.planned_budget',
            observer: '_editModeChanged'
          },
          unicefCashEditMode: {
            type: Boolean,
            statePath: 'pageData.permissions.edit.planned_budget_unicef_cash',
            observer: '_editModeChanged'
          },
          editablePlannedBudget: {
            type: Boolean,
            value: false
          },
          interventionId: {
            type: Number,
            observer: '_interventionIdChanged'
          },
          initialPlannedBudget: Object,
          _frsConsistencyWarning: {
            type: String,
            value: ''
          },
          _showCancelButton: Boolean,
          countryData: {
            type: Object,
            statePath: 'countryData'
          }
        };
      }

      static get observers() {
        return [
          '_checkFrsAmountConsistency(intervention.frs_details.total_frs_amt, ' +
          'plannedBudget.unicef_cash_local, plannedBudget.currency, intervention.frs_details, intervention.status)',
          '_initLocalCurrency(plannedBudget, countryData)'
        ];
      }

      _initLocalCurrency(plannedBudget, countryData) {
        if (typeof plannedBudget === 'undefined' || typeof countryData === 'undefined') {
          return;
        }
        if (!plannedBudget.currency && countryData && countryData.local_currency_code) {
          this.set('plannedBudget.currency', countryData.local_currency_code);
        }
      }

      _plannedBudgetChanged(plannedBudget) {
        if (typeof plannedBudget === 'undefined') {
          return;
        }
        if (this.interventionId) {
          //* reset flags after Save
          this.set('editablePlannedBudget', false);
          this.set('_showCancelButton', false);
        }
      }

      _cancelEdit() {
        this.plannedBudget = JSON.parse(JSON.stringify(this.initialPlannedBudget));
        this.set('editablePlannedBudget', false);
        this.set('_showCancelButton', false);
      }

      _showCancelBtn(showCancelButton) {
        return showCancelButton && this.interventionId;
      }

      _showEditBtn(editMode, unicefCashEditMode, showCancelButton) {
        return (editMode || unicefCashEditMode) && !showCancelButton && this.interventionId;
      }

      _isReadonly(editMode, editablePlannedBudget, interventionId) {
        if (!editMode) {
          return true;
        }
        if (!interventionId) {
          return false;
        }
        return !editablePlannedBudget;
      }

      _isCurrencyReadonly(inAmendmentMode, editMode, editablePlannedBudget, interventionId) {
        return inAmendmentMode ? true : this._isReadonly(editMode, editablePlannedBudget, interventionId);
      }

      _editPlannedBudget() {
        this.set('editablePlannedBudget', true);
        this.set('_showCancelButton', true);
        this.initialPlannedBudget = Object.assign({}, this.plannedBudget);
      }

      // make sure we have the right currency selected when intervention is changed
      _interventionIdChanged(id) {
        if (typeof id === 'undefined') {
          return;
        }
        this.initialPlannedBudget = Object.assign({}, this.plannedBudget);
        this.editablePlannedBudget = !this.interventionId;
        this.set('_showCancelButton', false);
      }

      _getPlannedBudgetTotal(val1, val2, val3, currency) {
        let t = 0;
        val1 = parseFloat(val1);
        if (!isNaN(val1)) {
          t += val1;
        }
        val2 = parseFloat(val2);
        if (!isNaN(val2)) {
          t += val2;
        }
        val3 = parseFloat(val3);
        if (!isNaN(val3)) {
          t += val3;
        }
        if (typeof currency === 'string' && currency !== '') {
          return t + ' ' + currency;
        }
        return t;
      }

      _getPlannedBudgetTotalFormatted(val1, val2, val3) {
        return this.displayCurrencyAmount(this._getPlannedBudgetTotal(val1, val2, val3), '0', 0);
      }

      // validate fields
      validate() {
        let valid = true;
        let elementsSelectorsToValidate = [
          '#csoCont',
          '#unicefCash',
          '#inKindAmount'
        ];
        elementsSelectorsToValidate.forEach(function(selector) {
          let el = this.shadowRoot.querySelector(selector);
          if (el && !el.validate()) {
            valid = false;
          }
        }.bind(this));
        return valid;
      }

      // reset validation errors
      resetValidations() {
        let elementsSelectorsToValidate = [
          '#csoCont',
          '#unicefCash',
          '#inKindAmount'
        ];
        elementsSelectorsToValidate.forEach(function(selector) {
          let el = this.shadowRoot.querySelector(selector);
          if (el) {
            el.set('invalid', false);
          }
        }.bind(this));
      }

      _editModeChanged(newValue, oldValue) {
        if (newValue !== oldValue) {
          this.updateStyles();
        }
      }

      _checkFrsAmountConsistency(frsTotalAmt, unicefCash, plannedBudgetCurrency,
                                 frsDetails, interventionStatus) {
        if (typeof frsTotalAmt === 'undefined' || typeof unicefCash === 'undefined' ||
            typeof plannedBudgetCurrency === 'undefined' || typeof frsDetails === 'undefined' ||
            typeof interventionStatus === 'undefined') {
          return;
        }
        // no frs added || status is closed ||
        // the currency of planned budget is different that frs currency => no warning
        if (this.emptyFrsList(this.intervention, 'interventionDetails') || interventionStatus === 'closed' ||
            !this._frsAndPlannedBudgetCurrenciesMatch(frsDetails.frs, plannedBudgetCurrency)) {
          this.set('_frsConsistencyWarning', '');
          return;
        }

        this.set('_frsConsistencyWarning',
            this.checkFrsAndUnicefCashAmountsConsistency(unicefCash, frsTotalAmt, this.intervention,
                'interventionDetails', true));
      }

      _hideBudgetCurrencyMismatchTooltip(frsCurrencyMatch, frs, plannedBudgetCurrency) {
        if (!_.isEmpty(frs)) {
          return this.allCurrenciesMatch(frsCurrencyMatch, frs, plannedBudgetCurrency);
        }
        return true;
      }

    }

    window.customElements.define(PlannedBudget.is, PlannedBudget);
  </script>
</dom-module>
