<link rel="import" href="../../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../../../../bower_components/etools-dialog/etools-dialog.html">
<link rel="import" href="../../../../../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../../../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../../../../../bower_components/paper-listbox/paper-listbox.html">

<dom-module id="generate-pca-dialog">
  <template strip-whitespace>
    <style>
      paper-dropdown-menu, paper-listbox {
        width: 250px;
      }
    </style>
    <etools-dialog id="etoolsDialog" size="md" ok-btn-text="Download" dialog-title="Generate PCA"
                   on-close="_handleDialogClosed">
      <paper-dropdown-menu label="Choose Template">
        <paper-listbox attr-for-selected="item-value" slot="dropdown-content" selected="{{selectedTemplate}}">
          <template id="repeat" is="dom-repeat" items="[[templateOptions]]">
            <paper-item item-value="[[item.value]]">[[item.label]]</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu>
    </etools-dialog>
  </template>

  <script>
    'use strict';

    /**
     * @polymer
     * @customElement
     */
    class GeneratePcaDialog extends Polymer.Element {

      static get is() {
        return 'generate-pca-dialog';
      }

      static get properties() {
        return {
          agreementId: {
            type: String
          },
          templateOptions: {
            type: Array,
            value: function() {
              return [{value: 'english', label: 'English'},
                {value: 'french', label: 'French'}, {value: 'portuguese', label: 'Portuguese'},
                {value: 'russian', label: 'Russian'}, {value: 'spanish', label: 'Spanish'},
                {value: 'ifrc_english', label: 'IFRC English'}, {value: 'ifrc_french', label: 'IFRC French'}];
            }
          },
          selectedTemplate: {
            type: String
          }
        };
      }

      open() {
        this.$.etoolsDialog.opened = true;
      }

      _handleDialogClosed(closingReason) {
        if (closingReason.detail.confirmed === undefined) {
          // filter out the on-close event fired by the containing dropdown
          return;
        }
        if (closingReason.detail.confirmed) {
          window.open('/api/v2/agreements/' + this.agreementId + '/generate_doc/?lang=' +
              encodeURIComponent(this.selectedTemplate), '_blank');
        }
        this.selectedTemplate = null;
      }
    }

    window.customElements.define(GeneratePcaDialog.is, GeneratePcaDialog);
  </script>
</dom-module>
