<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../../../../bower_components/etools-behaviors/etools-mixin-factory.html">

<link rel="import" href="../../../mixins/event-helper-mixin.html">
<link rel="import" href="../../../config/app-constants.html">
<link rel="import" href="../../../layout/components/etools-status/etools-status.html">
<link rel="import" href="../../../layout/components/etools-status/etools-status-common-mixin.html">

<link rel="import" href="../../../styles/app-mixins.html">
<link rel="import" href="./pd-termination.html">

<dom-module id="intervention-status">
  <template strip-whitespace>
    <style>
      :host {
        width: 100%;
      }
    </style>
    <etools-status statuses="[[possibleStatuses]]"
                   actions="[[possibleActions]]"
                   on-intervention-draft-event="_setStatusDraft"
                   on-intervention-suspend-event="_setStatusSuspended"
                   on-intervention-terminate-event="_setStatusTerminated"
                   on-intervention-unsuspend-event="_unsuspendIntervention"
                   on-intervention-delete-event="_openDeleteConfirmation">
    </etools-status>
  </template>
  <script>
    'use strict';

    /**
     * @polymer
     * @customElement
     * @appliesMixin EtoolsPmpApp.Mixins.EventHelper
     * @appliesMixin EtoolsPmpApp.Mixins.EtoolsStatusCommon
     * @appliesMixin EtoolsPmpApp.Mixins.Constants
     */
    class InterventionStatus extends EtoolsMixinFactory.combineMixins([
      EtoolsPmpApp.Mixins.EventHelper,
      EtoolsPmpApp.Mixins.EtoolsStatusCommon,
      EtoolsPmpApp.Mixins.Constants
    ], Polymer.Element) {

      static get is() {
        return 'intervention-status';
      }

      static get properties() {
        return {
          interventionId: {
            type: Number
          },
          activeTab: {
            type: String,
            observer: '_activeTabChanged'
          },
          newIntervention: {
            type: Boolean,
            value: false
          },
          interventionAgreementStatus: String,
          possibleStatuses: {
            type: Array,
            value: []
          },
          possibleActions: {
            type: Array,
            value: [
              {
                label: 'Save',
                hidden: true,
                primary: true,
                event: 'save-intervention'
                // save-intervention event is handeled by the parnent
              },
              {
                label: 'Change to draft',
                hidden: true,
                event: 'intervention-draft-event'
              },
              {
                label: 'Suspend',
                hidden: true,
                event: 'intervention-suspend-event'
              },
              {
                label: 'Unsuspend',
                hidden: true,
                event: 'intervention-unsuspend-event'
              },
              {
                label: 'Terminate',
                hidden: true,
                event: 'intervention-terminate-event'
              },
              {
                label: 'Delete',
                hidden: true,
                event: 'intervention-delete-event'
              }
            ]
          },
          deleteWarningMessage: {
            type: String,
            value: 'Are you sure you want to delete this PD/SSFA?'
          },

          _terminationDialog: Object
        };
      }

      ready() {
        super.ready();
        this.set('sectionName', 'PD/SSFA');
        this._handleStickyScroll();
        this._createStatusChangeWarningDialog();
        this._createDeleteConfirmationDialog();
        this.deleteConfirmDialog.addEventListener('close', this._triggerInterventionDeleteOnConfirm.bind(this));

        this._createTerminationDialog();

        // has to be run async for shadycss to load
        setTimeout(this.setPossibleStatuses.bind(this), 0);
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        if (this._terminationDialog) {
          document.querySelector('body').removeChild(this._terminationDialog);
        }
      }

      setPossibleStatuses() {
        this.set('possibleStatuses', [
          {
            label: this.CONSTANTS.STATUSES.Draft,
            hidden: false,
            completed: false
          },
          {
            label: this.CONSTANTS.STATUSES.Signed,
            hidden: false,
            completed: false
          },
          {
            label: this.CONSTANTS.STATUSES.Active,
            hidden: false,
            completed: false
          },
          {
            label: this.CONSTANTS.STATUSES.Suspended,
            icon: 'av:pause-circle-filled',
            iconStyles: 'color: ' + this.getComputedStyleValue('--warning-color'),
            hidden: false,
            completed: false
          },
          {
            label: this.CONSTANTS.STATUSES.Terminated,
            icon: 'report-problem',
            iconStyles: 'color: ' + this.getComputedStyleValue('--error-color'),
            hidden: false,
            completed: false
          },
          {
            label: this.CONSTANTS.STATUSES.Ended,
            hidden: false,
            completed: false
          },
          {
            label: this.CONSTANTS.STATUSES.Closed,
            hidden: false,
            completed: false
          }
        ]);

        this._computeAvailableStatuses(this.status);
      }
      _activeTabChanged(tab) {
        if (typeof tab === 'undefined') {
          return;
        }
        this._computeAvailableActions(this.status);
      }

      _computeAvailableActions(status) {
        this._setAllActionsToHidden();
        if (!this.editMode) {
          return;
        }
        let availableOptions = [];

        switch (status) {
          case this.CONSTANTS.STATUSES.Draft.toLowerCase():
            availableOptions.push('Save');
            availableOptions.push('Delete');
            break;

          case this.CONSTANTS.STATUSES.Signed.toLowerCase():
            availableOptions.push('Terminate');
            availableOptions.push('Suspend');
            availableOptions.push('Save');
            break;

          case this.CONSTANTS.STATUSES.Active.toLowerCase():
            availableOptions.push('Terminate');
            availableOptions.push('Suspend');
            availableOptions.push('Save');
            break;

          case this.CONSTANTS.STATUSES.Suspended.toLowerCase():
            availableOptions.push('Unsuspend');
            break;

          case this.CONSTANTS.STATUSES.Terminated.toLowerCase():
            break;

          case this.CONSTANTS.STATUSES.Closed.toLowerCase():
            if (this.activeTab === 'attachments') {
              availableOptions.push('Save');
            }
            break;

          case this.CONSTANTS.STATUSES.Ended.toLowerCase():
            if (this.activeTab === 'attachments') {
              availableOptions.push('Save');
            }
            break;

            // legacy version of 'ended'
          case 'implemented':
            if (this.activeTab === 'attachments') {
              availableOptions.push('Save');
            }
            break;

          default:
            availableOptions.push('Save');
            break;
        }

        for (let key in this.possibleActions) {
          if (this.possibleActions[key]) {
            let actionName = this.possibleActions[key].label;

            if (availableOptions.indexOf(actionName) > -1) {
              this.set(['possibleActions', key, 'hidden'], false);
            }
          }
        }
      }

      _computeAvailableStatuses(status) {
        this._setAllStatusesToHidden();
        let availableStatuses = [];
        let completedFlag = false;
        let activeStatus;

        switch (status) {
          case this.CONSTANTS.STATUSES.Draft.toLowerCase():
            availableStatuses = [
              this.CONSTANTS.STATUSES.Draft,
              this.CONSTANTS.STATUSES.Signed,
              this.CONSTANTS.STATUSES.Active,
              this.CONSTANTS.STATUSES.Ended,
              this.CONSTANTS.STATUSES.Closed
            ];
            activeStatus = this.CONSTANTS.STATUSES.Draft;
            break;

          case this.CONSTANTS.STATUSES.Signed.toLowerCase():
            availableStatuses = [
              this.CONSTANTS.STATUSES.Draft,
              this.CONSTANTS.STATUSES.Signed,
              this.CONSTANTS.STATUSES.Active,
              this.CONSTANTS.STATUSES.Ended,
              this.CONSTANTS.STATUSES.Closed
            ];
            activeStatus = this.CONSTANTS.STATUSES.Signed;
            break;

          case this.CONSTANTS.STATUSES.Active.toLowerCase():
            availableStatuses = [
              this.CONSTANTS.STATUSES.Draft,
              this.CONSTANTS.STATUSES.Signed,
              this.CONSTANTS.STATUSES.Active,
              this.CONSTANTS.STATUSES.Ended,
              this.CONSTANTS.STATUSES.Closed
            ];
            activeStatus = this.CONSTANTS.STATUSES.Active;
            break;

          case this.CONSTANTS.STATUSES.Suspended.toLowerCase():
            availableStatuses = [
              this.CONSTANTS.STATUSES.Draft,
              this.CONSTANTS.STATUSES.Signed,
              this.CONSTANTS.STATUSES.Suspended,
              this.CONSTANTS.STATUSES.Ended,
              this.CONSTANTS.STATUSES.Closed
            ];
            activeStatus = this.CONSTANTS.STATUSES.Suspended;
            break;

          case this.CONSTANTS.STATUSES.Terminated.toLowerCase():
            availableStatuses = [
              this.CONSTANTS.STATUSES.Draft,
              this.CONSTANTS.STATUSES.Signed,
              this.CONSTANTS.STATUSES.Terminated,
              this.CONSTANTS.STATUSES.Ended,
              this.CONSTANTS.STATUSES.Closed
            ];
            activeStatus = this.CONSTANTS.STATUSES.Terminated;
            break;

          case this.CONSTANTS.STATUSES.Closed.toLowerCase():
            availableStatuses = [
              this.CONSTANTS.STATUSES.Draft,
              this.CONSTANTS.STATUSES.Signed,
              this.CONSTANTS.STATUSES.Active,
              this.CONSTANTS.STATUSES.Ended,
              this.CONSTANTS.STATUSES.Closed
            ];
            activeStatus = this.CONSTANTS.STATUSES.Closed;
            break;

          case this.CONSTANTS.STATUSES.Ended.toLowerCase():
            availableStatuses = [
              this.CONSTANTS.STATUSES.Draft,
              this.CONSTANTS.STATUSES.Signed,
              this.CONSTANTS.STATUSES.Active,
              this.CONSTANTS.STATUSES.Ended,
              this.CONSTANTS.STATUSES.Closed
            ];
            activeStatus = this.CONSTANTS.STATUSES.Ended;
            break;

            // legacy version of 'ended'
          case 'implemented':
            availableStatuses = [
              this.CONSTANTS.STATUSES.Draft,
              this.CONSTANTS.STATUSES.Signed,
              this.CONSTANTS.STATUSES.Active,
              this.CONSTANTS.STATUSES.Ended,
              this.CONSTANTS.STATUSES.Closed
            ];
            activeStatus = this.CONSTANTS.STATUSES.Ended;
            break;

          default:
            availableStatuses = [
              this.CONSTANTS.STATUSES.Draft,
              this.CONSTANTS.STATUSES.Signed,
              this.CONSTANTS.STATUSES.Active,
              this.CONSTANTS.STATUSES.Ended,
              this.CONSTANTS.STATUSES.Closed
            ];
            activeStatus = '';
            break;
        }

        for (let key = this.possibleStatuses.length - 1; key >= 0; key--) {
          let workingStatusLabel = this.possibleStatuses[key].label;
          if (workingStatusLabel === activeStatus) {
            completedFlag = true;
          }
          if (availableStatuses.indexOf(workingStatusLabel) > -1) {
            this.set(['possibleStatuses', key, 'hidden'], false);
          }
          this.set(['possibleStatuses', key, 'completed'], completedFlag);
        }
      }

      _statusChangeConfirmationCallback(event) {
        if (event.detail.confirmed) {
          this.fireEvent('update-intervention-status', {
            interventionId: this.interventionId,
            status: this.newStatus + ''
          });
          this.fireEvent('reload-list');
        }
        this.set('newStatus', '');
      }

      _statusChangeIsValid(newStatus) {
        if (this.newIntervention) {
          return false;
        }

        if (newStatus === this.CONSTANTS.STATUSES.Draft.toLowerCase() &&
            this.status !== this.CONSTANTS.STATUSES.Draft.toLowerCase()) {
          // if agreement was not saved (is new) or the status is already changed
          // from draft, stop status change
          return false;
        }

        if (newStatus === this.CONSTANTS.STATUSES.Active.toLowerCase() &&
            this.interventionAgreementStatus === this.CONSTANTS.STATUSES.Suspended.toLowerCase()) {
          // prevent changing status from suspended to active is the agreement status is suspended
          return false;
        }

        if ([this.CONSTANTS.STATUSES.Suspended.toLowerCase(),
             this.CONSTANTS.STATUSES.Terminated.toLowerCase()].indexOf(newStatus) > -1) {
          if ([this.CONSTANTS.STATUSES.Active.toLowerCase(),
               this.CONSTANTS.STATUSES.Signed.toLowerCase()].indexOf(this.status) < 0) {
            // prevent suspending or terminating anything other than signed or active intervention
            return false;
          }
        }
        return true;
      }

      _computeWarningMessage(newStatus) {
        switch (newStatus) {
          case this.CONSTANTS.STATUSES.Terminated.toLowerCase():
            this.set('warningMessage', 'You are about to terminate this PD/SSFA. Do you want to continue?');
            break;
          case this.CONSTANTS.STATUSES.Suspended.toLowerCase():
            this.set('warningMessage', 'You are about to suspend this PD/SSFA. Do you want to continue?');
            break;
          case this.CONSTANTS.STATUSES.Signed.toLowerCase():
            this.set('warningMessage', 'You are about to unsuspend this PD/SSFA. Do you want to continue?');
            break;
          default:
            this.set('warningMessage', this._getDefaultWarningMessage());
            break;
        }
      }

      _setStatusTerminated() {
        // this._updateStatus(this.CONSTANTS.STATUSES.Terminated.toLowerCase());
        if (!this._statusChangeIsValid(this.CONSTANTS.STATUSES.Terminated.toLowerCase())) {
          return;
        }

        this._terminationDialog.resetValidations();
        this._terminationDialog.set('opened', true);
      }

      _setStatusDraft() {
        this._updateStatus(this.CONSTANTS.STATUSES.Draft.toLowerCase());
      }

      _setStatusSuspended() {
        this._updateStatus(this.CONSTANTS.STATUSES.Suspended.toLowerCase());
      }

      _unsuspendIntervention() {
        this._updateStatus(this.CONSTANTS.STATUSES.Signed.toLowerCase());
      }

      _triggerInterventionDeleteOnConfirm(e) {
        if (e.detail.confirmed) {
          this.fireEvent('delete-intervention', {id: this.interventionId});
        }
      }

      _createTerminationDialog() {
        this._terminationDialog = document.createElement('pd-termination');
        document.querySelector('body').appendChild(this._terminationDialog);

        // this._terminationDialog.addEventListener('something...', this.something....bind(this));
      }

    }

    window.customElements.define(InterventionStatus.is, InterventionStatus);
  </script>
</dom-module>
