<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/etools-dialog/etools-dialog.html">

<link rel="import" href="../../../layout/components/etools-date-input.html">
<link rel="import" href="../../../layout/components/etools-single-file.html">

<link rel="import" href="../../../styles/shared-styles.html">
<link rel="import" href="../../../styles/grid-layout-styles.html">
<link rel="import" href="../../../styles/file-styles.html">
<link rel="import" href="../../../styles/required-field-styles.html">

<dom-module id="pd-termination">
  <template>
    <style include="shared-styles grid-layout-styles file-styles required-field-starred-styles">
      :host {
        /* host CSS */
      }

      #pdTermination {
        --etools-dialog-default-btn-bg: var(--error-color);
      }

      #pdTerminationConfirmation {
        --etools-dialog-confirm-btn-bg: var(--primary-color);
      }

      .warning {
        display: flex;
        flex-direction: row;
        flex: 1;
        padding: 16px 24px;
        background-color: var(--lightest-info-color);
      }
    </style>

    <etools-dialog no-padding
                   keep-dialog-open
                   id="pdTermination"
                   opened="{{opened}}"
                   size="md"
                   hidden$="[[warningOpened]]"
                   ok-btn-text="Terminate"
                   dialog-title="Terminate PD/SSFA"
                   on-close="_handleDialogClosed"
                   on-confirm-btn-clicked="_triggerPdTermination">

      <div class="row-h flex-c">

        <paper-input label="Test" required error-message="Test error" auto-validate></paper-input>

        </paper-input>

        <etools-date-input id="terminationDate"
                           label="Termination Date"
                           value="{{termination.date}}"
                           error-message="Please select termination date"
                           no-init show-clear-btn
                           auto-validate
                           required>
        </etools-date-input>
      </div>

      <div class="row-h flex-c">
        <etools-single-file id="terminationNotice"
                            label="Termination Notice"
                            file="{{termination.attachment_notice}}"
                            error-message="Termination Notice file is required"
                            required
                            auto-validate
                            accept=".doc,.docx,.pdf,.jpg,.png">
        </etools-single-file>
      </div>
      <div class="row-h">
        <div class="warning">
          Once you hit save, the PD/SSFA will be Terminated and this action cannot be reversed
        </div>
      </div>

    </etools-dialog>

    <etools-dialog no-padding
                   id="pdTerminationConfirmation"
                   theme="confirmation"
                   opened="{{warningOpened}}"
                   size="md"
                   ok-btn-text="Continue"
                   on-close="_terminationConfirmed">
      <div class="row-h">
        Please make sure that the reporting requirements for the PD are updated with the correct dates
      </div>
    </etools-dialog>

  </template>
  <script>
    'use strict';

    /**
     * @polymer
     * @customElement
     */
    class PdTermination extends Polymer.Element {

      static get is() {
        return 'pd-termination';
      }

      static get properties() {
        return {
          opened: Boolean,
          warningOpened: Boolean,
          termination: {
            type: Object,
            value: {
              date: null,
              attachment_notice: null
            }
          },
          _validationSelectors: {
            type: Array,
            value: ['#terminationDate', '#terminationNotice']
          }
        };
      }

      _handleDialogClosed(e) {
        console.log('dialog close...');
      }

      _triggerPdTermination(e) {
        console.log('terminate...');
        this.set('warningOpened', true);
      }

      _terminationConfirmed(e) {
        if (e.detail.confirmed) {
          this._terminatePD();
        }
      }

      _terminatePD() {
        if (this.validate()) {
          const terminationDialog = this.$.pdTermination;
          terminationDialog.startSpinner();
          // TODO: terminate PD
          // make request to terminate
          // validate fields, make sure to reset validations on modal open
        }
      }

      // TODO: refactor validation at some point (common with ag add amendment dialog and more)
      resetValidations() {
        this._validationSelectors.forEach((selector) => {
          let el = this.shadowRoot.querySelector(selector);
          if (el) {
            el.set('invalid', false);
          }
        });
      }

      // TODO: refactor validation at some point (common with ag add amendment dialog and more)
      validate() {
        let isValid = true;
        this._validationSelectors.forEach((selector) => {
          let el = this.shadowRoot.querySelector(selector);
          if (el && !el.validate()) {
            isValid = false;
          }
        });
        return isValid;
      }


      constructor() {
        super();
      }

      ready() {
        super.ready();
      }

      connectedCallback() {
        super.connectedCallback();
      }

      disconnectedCallback() {
        super.disconnectedCallback();
      }

    }

    window.customElements.define(PdTermination.is, PdTermination);
  </script>
</dom-module>
